<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ seo_title | safe }} | PDFShift - The HTML to PDF API.</title>
        <meta name="description" content="{{ seo_description | safe }}" />
        <meta name="keywords"    content="api, pdf, html, convert, document, web, conversion, text, pdfshift, raw, link{% if seo_keywords %}, {{ seo_keywords }}{% endif %}" />
        <meta name="author"      content="Cyril Nicodeme">

        <meta name="viewport"              content="width=device-width,initial-scale=1,shrink-to-fit=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Lato" rel="stylesheet" />
        <link rel="stylesheet" href="/css/zeplin.css" />
        <link rel="stylesheet" href="/css/general.css" />

        <link rel="shortcut icon" href="/images/favicons/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="194x194" href="/images/favicons/favicon-194x194.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
        <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#623e98">
        <meta name="apple-mobile-web-app-title" content="PDFShift">
        <meta name="application-name" content="PDFShift">
        <meta name="msapplication-TileColor" content="#623e98">
        <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-config" content="/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">


        <meta property="og:type"        content="website">
        <meta property="og:url"         content="https://pdfshift.io">
        <meta property="og:title"       content="{{ seo_title | safe }}" />
        <meta property="og:description" content="{{ seo_description | safe }}" />
        <meta property="og:image"       content="https://pdfshift.io/images/slogan.png">
        <meta property="og:image"       content="https://pdfshift.io/images/favicons/android-chrome-256x256.png">

        <meta name="twitter:site"        content="@pdfshift">
        <meta name="twitter:creator"     content="@cx42net">
        <meta name="twitter:card"        content="summary_large_image">
        <meta name="twitter:title"       content="{{ seo_title | safe }}" />
        <meta name="twitter:description" content="{{ seo_description | safe }}" />
        <meta name="twitter:image"       content="https://pdfshift.io/images/slogan.png">
    </head>
    <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
        <div>
            <header id="header">
                <div class="heading">
                    <div class="container">
                        <div class="row">
                            <div class="column">
                                <a href="/" title="Return to our Homepage" itemprop="name" class="brand">
                                    <svg>
                                        <use xlink:href="/images/sprites.svg#icon-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </a>
                            </div>
                            <nav class="column">
                                <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                    <li><a href="/#features" title="Check out our features" itemprop="name">Features</a></li>
                                    <li><a href="/#try-me" title="Check out our features" itemprop="name">Try it out</a></li>
                                    <li><a href="/#pricing" title="More on our pricing plans" itemprop="name">Pricing</a></li>
                                    <li>
                                        <a href="https://docs.pdfshift.io/v2/" title="Read our documentation" itemprop="name" target="_blank">
                                            Documentation
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                                <g>
                                                    <path d="M23,2.5v8a.5.5,0,1,1-1,0V3.707L9.8536,15.8535a.5.5,0,0,1-.7072-.707L21.293,3H14.5a.5.5,0,0,1,0-1h8a.5.5,0,0,1,.5.5ZM20.5,14a.5.5,0,0,0-.5.5v9a.5.5,0,0,1-.5.5H1.5a.5.5,0,0,1-.5-.5V5.5A.5.5,0,0,1,1.5,5h9a.5.5,0,0,0,0-1h-9A1.5,1.5,0,0,0,0,5.5v18A1.5,1.5,0,0,0,1.5,25h18A1.5,1.5,0,0,0,21,23.5v-9A.5.5,0,0,0,20.5,14Z" />
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="cta">
                                <a href="/login/" title="Frequently Asked Questions" itemprop="name">Login</a> or
                                <a href="/register/" title="Register now for free and start converting HTML to PDF!" class="column create-account">
                                    <svg>
                                        <use xlink:href="/images/sprites.svg#icon-key" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                    Register
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% block hero %}{% endblock %}
            </header>
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
        <footer>
            <div class="container">
                <div class="row links">
                    <div class="column two brand">
                        <svg class="icon-factory">
                            <use xlink:href="/images/sprites.svg#icon-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </div>
                    <div class="column two">
                        <h5>Company</h5>

                        <ul class="unstyled">
                            <li><a href="/press/" title="">Press</a></li>
                            <li><a href="/contact/" title="Contact our team and get answers">Contact</a></li>
                            <li><a href="/terms/" title="Read our Terms of Service">Terms of Service</a></li>
                            <li><a href="/privacy/" title="Read our Privacy Policy">Privacy Policy</a></li>
                            <li><a href="/dpa/" title="Read our Data Processing Agreement">Data Processing</a></li>
                        </ul>
                    </div>
                    <div class="column two">
                        <h5>Product</h5>

                        <ul class="unstyled">
                            <li><a href="/#features" title="">Features</a></li>
                            <li><a href="/pricing/" title="">Pricing</a></li>
                            <li><a href="https://docs.pdfshift.io" title="">Documentation</a></li>
                            <li><a href="/enterprise/" title="">Entreprise</a></li>
                        </ul>
                    </div>
                    <div class="column two">
                        <h5>Guides</h5>

                        <ul class="unstyled">
                            <!--<li><a href="/guides/angular/" title="">Angular Guide</a></li>
                            <li><a href="/guides/react/" title="">React Guide</a></li>-->
                            <li><a href="/guides/node/" title="Read how to implement PDFShift with Javascript Node.">Node.js Guide</a></li>
                            <li><a href="/guides/php/" title="Read how to implement PDFShift with PHP">PHP Guide</a></li>
                            <li><a href="/guides/python/" title="Read how to implement PDFShift with Python">Python Guide</a></li>
                            <li><a href="/guides/ruby/" title="Read how to implement PDFShift with Ruby">Ruby Guide</a></li>
                            <li><a href="/guides/" title="View all our available guides">All our guides</a></li>
                        </ul>
                    </div>
                    <!--
                    <div class="column links">
                        <h5>Compare</h5>

                        <ul class="unstyled">
                            <li><a href="#" title="">PDFShift vs️ WKHTMLTOPDF</a></li>
                            <li><a href="#" title="">PDFShift vs️ DocRaptor</a></li>
                            <li><a href="#" title="">PDFShift vs Restpack</a></li>
                            <li><a href="#" title="">PDFShift vs HTML2PDFRocket</a></li>
                            phantomJs - Prince
                        </ul>
                    </div>
                    -->
                    <div class="column four">
                        <div>
                            <h5>Subscribe to our emails</h5>
                            <form>
                                <input type="email" name="email" placeholder="Email address" />
                                <button type="submit" class="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                                        <g>
                                            <path d="M23.084,11.1089,2.4468,2.0835A.997.997,0,0,0,1.0957,3.2793L3.5213,12.49,1.0338,21.7473A.9972.9972,0,0,0,2.391,22.9209L23.084,13.8718A1.5,1.5,0,0,0,23.084,11.1089Zm-.4006,1.8467L2,22.0068l1.3632-5.0728,17.9537-3.9556a.5.5,0,0,0,0-.9766l-17.92-3.925-1.332-5.07L22.6945,12.03A.4836.4836,0,0,1,23,12.49.4893.4893,0,0,1,22.6834,12.9556Zm-18.1951-.72L3.681,9.1628l15.1974,3.3284L3.6552,15.8457,4.4871,12.75l.069-.2568Z" />
                                        </g>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row disclaimer">
                    <div class="column nine">
                        <p>
                            © PDFShift S.A.S. Software, Inc. <script>document.write(new Date().getFullYear())</script>. 30 rue de la claichiere, 2nd floor, 90800 BAVILLIERS, France.<br />
                            Send us a note to <a href="mailto:hi@pdfshift.io" title="Say hi, ask a question or just reach out and talk to us">hi@pdfshift.io</a>
                        </p>
                    </div>
                    <div class="column three">
                        <ul class="unstyled">
                            <!--
                            <li class="facebook">
                                <a href="#" title="View our Facebook page" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"/></svg>
                                </a>
                            </li>
                            -->
                            <li class="twitter">
                                <a href="https://twitter.com/pdfshift" title="View our Twitter page" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z"/></svg>
                                </a>
                            </li>
                            <!--
                            <li class="linkedin">
                                <a href="#" title="View our LinkedIn page" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z"/></svg>
                                </a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script>
        if (window.PDFShift === undefined) {
            window.PDFShift = {
                '_ready': [],
                'onReady': function (callback) {window.PDFShift._ready.push(callback);}
            };
        }

        if (window.document.location.hostname === '127.0.0.1') {
            window.PDFShift.api_url = 'http://127.0.0.1:5000/v2/';
        } else {
            window.PDFShift.api_url = 'https://api.pdfshift.io/v2/';
        }
        </script>
        <script src="/js/general.js"></script>
        {% block javascripts %}{% endblock %}
        {% include '_partials/google-analytics.njk' %}
    </body>
</html>
