<h2>Contact Our Sales Team</h2>
<p class="excerpt">
    Our team is happy to answer your sales questions.<br />
    Fill out the form below and we will be in touch as soon as possible
</p>

<form method="post">
    <div class="row">
        <div class="column six">
            <div class="form-element">
                <input type="text" name="name" placeholder="Full name" required{% if contactFocus %} autofocus{% endif %} />
            </div>
        </div>
        <div class="column six">
            <div class="form-element">
                <input type="email" name="email" placeholder="Email address" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="form-element">
                <input type="text" name="company" placeholder="Company" required />
            </div>
        </div>
        <div class="column">
            <div class="form-element">
                <input type="text" name="position" placeholder="Job title" required />
            </div>
        </div>
    </div>
    <div class="form-element">
        <textarea rows="5" cols="50" name="message" placeholder="Please describe the reason you need to talk to us." required min="25"></textarea>
    </div>

    <input type="submit" name="send" value="Send my message" class="button button-primary" />
    <div class="success" style="display: none">
        Thank you for contacting us.<br />
        We will respond to your inquiry shortly.
    </div>
</form>