<script async src="https://www.googletagmanager.com/gtag/js?id=UA-17593304-8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-17593304-8', { 'optimize_id': 'GTM-P8FM9C2'});
</script>