<div class="pricing__slider js-range">
    <input class="pricing__slider__range" type="range" value="5" min="0" max="100" step="1" />
    <div class="pricing__slider__values">
        <div class="active">50</div>
        <div>5,000</div>
        <div>25,000</div>
        <div>100,000</div>
        <div>500,000</div>
        <div>1,000,000</div>
        <div>Custom</div>
    </div>
</div>

<div class="row pricing__board">
    <div class="column">
        <div class="pricing__titles">
            <div>Conversions /m</div>
            <div>Max file size</div>
            <div>Monthly fee</div>
        </div>
        <div class="pricing__card-wrapper">
            <label data-name="Free Plan">
                <input type="radio" value="50" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>50</div>
                    <div>1Mb</div>
                    <div>FREE</div>
                </div>
            </label>
            <label data-name="Shift05">
                <input type="radio" value="500" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>500</div>
                    <div>5Mb</div>
                    <div>$9 <span>USD</span></div>
                </div>
            </label>
            <label data-name="Shift5K">
                <input type="radio" value="5000" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>5,000</div>
                    <div>10Mb</div>
                    <div>$39 <span>USD</span></div>
                </div>
            </label>
            <label data-name="Shift25K">
                <input type="radio" value="25000" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>25,000</div>
                    <div>25Mb</div>
                    <div>$99 <span>USD</span></div>
                </div>
            </label>
            <label data-name="Shift50K">
                <input type="radio" value="50000" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>50,000</div>
                    <div>50Mb</div>
                    <div>$149 <span>USD</span></div>
                </div>
            </label>
            <label data-name="Shift100K">
                <input type="radio" value="100000" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>100,000</div>
                    <div>100Mb</div>
                    <div>$249 <span>USD</span></div>
                </div>
            </label>
            <label data-name="Shift250K">
                <input type="radio" value="250000" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>250,000</div>
                    <div>250Mb</div>
                    <div>$499 <span>USD</span></div>
                </div>
            </label>
            <label data-name="Shift500K">
                <input type="radio" value="500000" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>500,000</div>
                    <div>250Mb</div>
                    <div>$749 <span>USD</span></div>
                </div>
            </label>
            <label data-name="Shift1M">
                <input type="radio" value="1000000" name="pricing-radio" class="pricing__card-input" />
                <div class="pricing__card-item">
                    <div>1,000,000</div>
                    <div>250Mb</div>
                    <div>$999 <span>USD</span></div>
                </div>
            </label>
        </div>
    </div>
    <div class="column pricing__main ">
        <div class="pricing__main-plans">
            <div class="pricing__main-input">
                <span>Monthly Conversions:</span>
                <input type="number" min="0"/>
            </div>
            <div class="pricing__main-card">
                <div class="pricing__main-card__top">
                    <div class="pricing__main-card__title">Business 5K</div>
                    <div class="pricing__main-card__price">
                        $39<span>mo</span>
                    </div>
                </div>
                <div class="pricing__main-card__body">
                    <div>Monthly conversions</div>
                    <div><strong>5,000</strong></div>
                    <div>File size limit (per PDF)</div>
                    <div><strong>10MB</strong></div>
                </div>
                <div class="pricing__main-card__button">
                    <a href="/register/" class="button button-primary">Sign up for free now</a>
                </div>
            </div>
        </div>
        <div class="pricing__main-enterprise">
            <div class="pricing__main-card">
                <div class="pricing__main-card__top">
                    <div class="pricing__main-card__title">Customer enterprise plan</div>
                </div>
                <div class="pricing__main-card__body">
                    <strong>Need to convert more than 1M documents?</strong>
                    Contact us and we will create a customized<br />pricing plan tailored to your needs. 
                </div>
                <div class="pricing__main-card__button">
                    <a href="/contact/" class="button button-primary">Contact our sales team</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pricing__excerpt">
    <p><strong>+ Custom HTTP Headers, Custom Header & Footer, Encryption, Watermark, Async, Parallel Conversion, HTML/CSS support... </strong></p>
    <p>All our features are available on all on our plans. We don't filter the features depending on your level of subscription...</p>
</div>