<div class="testimonials__list">
<!--
Half:
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524v-12.005zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"/>
</svg>
Empty:
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"/>
</svg>
-->
    <div>
        {# greg@geptechstudios.com #}
        <img src="https://secure.gravatar.com/avatar/5b5de1b1555183679389a8d656f19e65?d=mm&s=96" alt="Greg's profile" class="testimonials__list--avatar" />
        <div class="testimonials__list--quote">
            <blockquote cite="https://www.capterra.com/p/184246/PDFShift/#reviews">Stop rolling your own PDF generator - PDFShift has done it better.</blockquote>
            <div class="testimonials__list--details">
                <span class="testimonials__list--author">Greg P.</span>
                <span class="testimonials__list--stars">{% include 'static/images/misc/5-stars.svg' %}</span>
            </div>
        </div>
    </div>
    <div>
        {# jacqui.maher@societyone.com.au #}
        <img src="https://secure.gravatar.com/avatar/014f25983cce753f5155f0417e9afe74?d=mm&s=96" alt="Jacqui's profile" class="testimonials__list--avatar" />
        <div class="testimonials__list--quote">
            <blockquote cite="https://www.capterra.com/p/184246/PDFShift/#reviews">Works exactly as advertised</blockquote>
            <div class="testimonials__list--details">
                <span class="testimonials__list--author">Jacqui M.</span>
                <span class="testimonials__list--stars">{% include 'static/images/misc/5-stars.svg' %}</span>
            </div>
        </div>
    </div>
    <div>
        {# aaron.barchechath@protonmail.com #}
        <img src="https://secure.gravatar.com/avatar/72f516dba2f8ca489196fe95693a0330?d=mm&s=96" alt="Aaron's profile" class="testimonials__list--avatar" />
        <div class="testimonials__list--quote">
            <blockquote cite="https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1420927">Easy and developer-oriented API</blockquote>
            <div class="testimonials__list--details">
                <span class="testimonials__list--author">Aaron B.</span>
                <span class="testimonials__list--stars">{% include 'static/images/misc/5-stars.svg' %}</span>
            </div>
        </div>
    </div>
    <div>
        {# billy.braga@gmail.com #}
        <img src="https://secure.gravatar.com/avatar/c115a34f03cc728c051f17ef7254e1bf?d=mm&s=96" alt="Billy's profile" class="testimonials__list--avatar" />
        <div class="testimonials__list--quote">
            <blockquote cite="https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1353501">Perfect rendering, easy to setup and use</blockquote>
            <div class="testimonials__list--details">
                <span class="testimonials__list--author">Billy B.</span>
                <span class="testimonials__list--stars">{% include 'static/images/misc/5-stars.svg' %}</span>
            </div>
        </div>
    </div>
    <div>
        {# greg.russon@nebo.edu #}
        <img src="https://secure.gravatar.com/avatar/a028846ecf1bb497171b61ced320dadc?d=mm&s=96" alt="Greg's profile" class="testimonials__list--avatar" />
        <div class="testimonials__list--quote">
            <blockquote cite="https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1802905">Super easy way to create PDFs</blockquote>
            <div class="testimonials__list--details">
                <span class="testimonials__list--author">Greg R.</span>
                <span class="testimonials__list--stars">{% include 'static/images/misc/5-stars.svg' %}</span>
            </div>
        </div>
    </div>
    <div>
        {# lukas@productgang.com #}
        <img src="https://secure.gravatar.com/avatar/791126905fc0984e80dbf7fa0fcda0e8?d=mm&s=96" alt="Lukas's profile" class="testimonials__list--avatar" />
        <div class="testimonials__list--quote">
            <blockquote cite="https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1346205">Very easy and redivable</blockquote>
            <div class="testimonials__list--details">
                <span class="testimonials__list--author">Lukas K.</span>
                <span class="testimonials__list--stars">{% include 'static/images/misc/5-stars.svg' %}</span>
            </div>
        </div>
    </div>
</div>

<div class="row review__sites">
    <div>
        <a href="https://www.capterra.com/reviews/184246/PDFShift?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge" title="See our reviews on Capterra" target="_blank">
            <span class="review__sites--logo">{% include 'static/images/misc/capterra.svg' %}</span>
            <span class="review__sites--stars">{% include 'static/images/misc/45-stars.svg' %}</span>
            <p class="review__sites--text">Read all reviews on Capterra &gt;</p>
        </a>
    </div>
    <div>
        <a href="https://www.g2.com/products/pdfshift/reviews#reviews" title="See our reviews on G2Crowd" target="_blank">
            <span class="review__sites--logo">{% include 'static/images/misc/g2crowd.svg' %}</span>
            <span class="review__sites--stars">{% include 'static/images/misc/45-stars.svg' %}</span>
            <p class="review__sites--text">Read all reviews on G2Crowd &gt;</p>
        </a>
    </div>
    <div>
        <a href="https://alternativeto.net/software/pdfshift/reviews/" title="See our reviews on AlternativeTo" target="_blank">
            <span class="review__sites--logo">{% include 'static/images/misc/alternativeto.svg' %}</span>
            <span class="review__sites--stars">{% include 'static/images/misc/5-stars.svg' %}</span>
            <p class="review__sites--text">Read all reviews on AlternativeTo &gt;</p>
        </a>
    </div>
</div>