{% set bodyClass = 'guides' %}
{% extends '_partials/base.njk' %}

{% block main %}
<div class="container-small">
    <div class="page">
        {% block guide %}{% endblock %}
    </div>
    <p class="small">(Read our <a href="https://docs.pdfshift.io" target="_blank" title="PDFShift's API Reference.">API documentation</a> for more, in depth, details.)</p>
</div>

{% endblock %}