/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol.unstyled, ul.unstyled {
    list-style: none;
}
ol:not(.unstyled)>li, ul:not(.unstyled)>li {
    margin: 1rem 0 0 2rem;
}

ol:not(.unstyled)>li:first-child, ul:not(.unstyled)>li:first-child, ol:not(.unstyled)>li>p:first-child, ul:not(.unstyled)>li>p:first-child {
    margin-top: 0
}

ol.unstyled>li, ul.unstyled>li {
    margin-left: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}

table thead th {
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

/*
 * Typebase
 * @see http://devinhunt.github.io/typebase.css/
 */

 p {
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
ul li, ol li {
    line-height: 1.5rem;
}
ul ul, ol ul, ul ol, ol ol {
    margin-top: 0;
    margin-bottom: 0;
}
blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Headings */
h1,h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica Neue", "Calibri Light", sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}
h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 3rem 0;
}
h2 {
    font-size: 2.0rem;
    line-height: 3rem;
    margin-top: 3rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}
h4 {font-size: 1rem}
h5 {font-size: 0.5rem}
h6 {font-size: 0.3535rem}
/* Tables */
table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse;
}
table td, table th {
    padding: 0;
    line-height: 33px;
}

/*
 * Zeplin CSS
 * Relies on Eric Meyer's "Reset CSS" 2.0 (above)
 */

html {
    box-sizing: border-box;
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

strong {font-weight: 500}

body {
    font-size: 100%;
    font-weight: 300;
    line-height: 1.6;
    font-family: Sailec-Regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "alt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

/** Grid system **/

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 800px;
    margin: 0 auto;
	

}

.row {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content: space-between;
}

.row .column {
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.row.reverse {
    flex-direction: row-reverse;
}

.row .column.one    {flex: 0 0 8.33333%; max-width: 8.33333%}
.row .column.two    {flex: 0 0 16.66667%; max-width: 16.66667%}
.row .column.three  {flex: 0 0 25%; max-width: 25%}
.row .column.four   {flex: 0 0 33.33333%; max-width: 33.33333%}
.row .column.five   {flex: 0 0 41.66667%; max-width: 41.66667%}
.row .column.six    {flex: 0 0 50%; max-width: 50%}
.row .column.seven  {flex: 0 0 58.33333%; max-width: 58.33333%}
.row .column.eight  {flex: 0 0 66.66667%; max-width: 66.66667%}
.row .column.nine   {flex: 0 0 75%; max-width: 75%}
.row .column.ten    {flex: 0 0 83.33333%; max-width: 83.33333%}
.row .column.eleven {flex: 0 0 91.66667%; max-width: 91.66667%}
.row .column.twelve {flex: 0 0 100%; max-width: 100%}

.row .offset-one    {margin-left: 8.33333%}
.row .offset-two    {margin-left: 16.66667%}
.row .offset-three  {margin-left: 25%}
.row .offset-four   {margin-left: 33.33333%}
.row .offset-five   {margin-left: 41.66667%}
.row .offset-six    {margin-left: 50%}
.row .offset-seven  {margin-left: 58.33333%}
.row .offset-eight  {margin-left: 66.66667%}
.row .offset-nine   {margin-left: 75%}
.row .offset-ten    {margin-left: 83.33333%}
.row .offset-eleven {margin-left: 91.66667%}

.row .column.centered {margin-left: auto; margin-right: auto;}

/** utils **/

.clearfix:after {
    clear: both;
    content: ' ';
    display: table;
}

hr {
    border: none;
    border-top: .1rem solid #ccc;
}

/** Forms **/
input[type='email'], input[type='number'], input[type='password'],
input[type='search'], input[type='tel'], input[type='text'],
input[type='url'], input[type='color'], input[type='date'],
input[type='month'], input[type='week'], input[type='datetime'],
input[type='datetime-local'], input:not([type]), textarea, select {
    appearance: none; /* Removes awkward default styles on some inputs for iOS */
    background-color: transparent;
    border: 1px solid #ccc;
    color: #666666;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: border-box;
    padding: 15px 10px;
    width: 100%;
    transition: border 250ms ease-in-out, color 250ms ease-in-out;
    font-size: 0.8rem;
    font-family: Sailec-Regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus,
input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus,
input[type='url']:focus, input[type='color']:focus, input[type='date']:focus,
input[type='month']:focus, input[type='week']:focus, input[type='datetime']:focus,
input[type='datetime-local']:focus, input:not([type]):focus, textarea:focus, select:focus {
    border-color: #aaa;
    color: #222;
    outline: 0;
}

select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
    padding-right: 3.0rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%239b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

select>option {
    font-size: 16px;
}

fieldset {
    border-width: 0;
    padding: 0;
}

input[type='checkbox'], input[type='radio'] {
    display: inline;
}

div.error input[type='email'], div.error input[type='number'], div.error input[type='password'],
input[type='search'], div.error input[type='tel'], div.error input[type='text'],
input[type='url'], div.error input[type='color'], div.error input[type='date'],
input[type='month'], div.error input[type='week'], div.error input[type='datetime'],
input[type='datetime-local'], div.error input:not([type]), div.error textarea, div.error select {
    border: solid 1px #dc3545;
}

div.error p.error {
    color: #dc3545;
    font-weight: bold;
}