{% set body_class = 'landing' %}
{% set custom_css = 'developers' %}

{% set seo_title = "The Leading HTML to PDF conversion API" %}
{% set seo_description = "An API to convert HTML/CSS documents to PDF. PDFShift is the reliable, Up-to-date and high-fidelity conversion API with no maintenance costs." %}

{% extends '_partials/base.njk' %}

{% block hero %}
<div class="container landing-hero">
    <div class="landing-hero__text">
        <h1 class="fade-in from-bottom delay-1">Converting HTML to PDF in NodeJS<br />has never been easier!</h1>
        <div class="fade-in from-bottom delay-2">
            <p>Up-to-date, high-fidelity conversion API with no maintenance costs and<br />no time wasted on maintaining third-party software or libraries.</p>
            <div class="actions fade-in from-bottom delay-3">
                <a href="/register/" title="Create an account now" class="button">Sign up for free</a>
            </div>
        </div>
    </div>
    <div class="landing-hero__code-section fade-in from-bottom delay-4">
        <div class="landing-hero__title">
            {% include 'developers/icons/js-logo.svg' %}
            <h3>NodeJS</h3>
        </div>
        <div class="landing-hero__code">
            <pre><code class="javascript">
// Step 1, install PDFShift
npm install pdfshift

// Step 2, import PDFShift
const pdfshift = require('pdfshift')('{user_api_key}');
const fs = require('fs');

// Step 3, execute
pdfshift.convert('https://en.wikipedia.org/wiki/PDF', {"landscape": false, "use_print": false}).then(function (binary_file) {
 fs.writeFile('wikipedia.pdf', binary_file, "binary", function () {})
}).catch(function({message, code, response, errors = null}) {})
            </code></pre>
            <div class="landing-hero__copy">
                <a href="javascript:;" class="button button-secondary" title="Click here to copy to clipoard" ref="copy">
                    {% include 'developers/icons/copy.svg' %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<section id="brands">
    <div class="container">
        <ul class="unstyled">
            <li>
                <!-- vivino.com -->
                <img src="/static/images/partners/vivino.png" alt="Vivino" />
            </li>
            <li>
                <!-- betterproposals.io -->
                <img src="/static/images/partners/betterproposals.png" alt="Better Proposals" />
            </li>
            <li>
                <!-- resumez.com -->
                <img src="/static/images/partners/resumez.png" alt="Resumez" />
            </li>
            <li>
                <!-- payrollcrm.com -->
                <img src="/static/images/partners/payroll.png" alt="Payroll CRM" />
            </li>
            <li>
                <!-- podia.com -->
                <img src="/static/images/partners/podia.png" alt="Podia" />
            </li>
        </ul>
    </div>
</section>


<section id="numbers">
    <div class="container">
        <h2>Rely on a leading conversion service.</h2>
        <p class="excerpt">Thousands of users trust us to quickly convert documents with a high-fidelity result.</p>

        <ul class="unstyled">
            <li>
                <a href='https://www.capterra.com/reviews/184246/PDFShift?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge'>
                    <img border='0' src='https://assets.capterra.com/badge/2508a6d7ebd109a30213987b6925205e.png?v=2129036&p=184246' />
                </a>
            </li>
            <li>
                <a title="PDFShift is a leader in File Converter on G2" href="https://www.g2.com/products/pdfshift/reviews?utm_source=rewards-badge"><img style="width: 125px;" alt="PDFShift is a leader in File Converter on G2" src="https://images.g2crowd.com/uploads/report_medal/image/584/medal.svg" /></a>
            </li>
            <!--
            <li>
                {% include 'static/images/svgs/page-tick.svg' %}
                <h5>1M+</h5>
                <span>Conversions made</span>
            </li>
            <li>
                {% include 'static/images/svgs/speed.svg' %}
                <h5>2.5s</h5>
                <span>Average conversion time</span>
            </li>
            <li>
                {% include 'static/images/svgs/chat-tick.svg' %}
                <h5>2 hours</h5>
                <span>Average support response</span>
            </li>
            <li>
                {% include 'static/images/svgs/business-performance.svg' %}
                <h5>99.99%</h5>
                <span>SLA</span>
            </li>
            -->
        </ul>
    </div>
</section>

<section id="g2crowd-banner">
    <div class="container">
        <div>
            {% include 'static/images/misc/g2crowd-performer.svg' %}
            <div class="description">
                <h3>G2 High Performer Summer 2019</h3>
                <p>PDFShift is ranked as high performer for summer 2019 by our customers</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="https://www.capterra.fr/software/184246/pdfshift" title="Read all reviews on Capterra">
                    <img src="/static/images/misc/capterra.svg" alt="Capterra reviews">
                    {% include 'developers/icons/stars-small.svg' %}
                    <span>Read all reviews on Capterra</span>
                </a>
            </li>
            <li>
                <a href="https://www.g2.com/products/pdfshift/reviews" title="Read all reviews on G2Crowd">
                    <img src="/static/images/misc/g2crowd.svg" alt="G2Crowd reviews">
                    {% include 'developers/icons/stars-small.svg' %}
                    <span>Read all reviews on G2Crowd</span>
                </a>
            </li>
            <li>
                <a href="https://alternativeto.net/software/pdfshift/" title="Read all reviews on AlternativeTo">
                    <img src="/static/images/misc/alternativeto.svg" alt="AlternativeTo reviews">
                    {% include 'developers/icons/stars-small.svg' %}
                    <span>Read all reviews on AlternativeTo</span>
                </a>
            </li>
        </ul>
    </div>
</section>

<section id="features">
    <div class="container">
        <h2>Features</h2>

        <div class="row">
            <div class="column">
                <div class="landing__feat__card">
                    {% include 'developers/icons/conversions.svg' %}
                    <h5>Parallel conversions</h5>
                    <p>Process multiple documents in parallel to increase conversion speed.</p>
                </div>
            </div>
            <div class="column">
                <div class="landing__feat__card">
                    {% include 'developers/icons/async.svg' %}
                    <h5>Asynchronous request</h5>
                    <p>Use our powerful webhook system to be notified once a conversion is done.</p>
                </div>
            </div>
            <div class="column">
                <div class="landing__feat__card">
                    {% include 'developers/icons/options.svg' %}
                    <h5>Advanced Options</h5>
                    <p>Set custom headers and footers with pagination, inject custom CSS and javascript, encrypt your documents and many more!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="landing__feat__card">
                    {% include 'developers/icons/html.svg' %}
                    <h5>Raw HTML support</h5>
                    <p>No need to make your private page public. Simply send us your raw HTML data instead and we will convert it.</p>
                </div>
            </div>
            <div class="column">
                <div class="landing__feat__card">
                    {% include 'developers/icons/hifi.svg' %}
                    <h5>High-Fidelity PDF</h5>
                    <p>Generate a high-fidelity document, close to your original HTML, in a few seconds.</p>
                </div>
            </div>
            <div class="column">
                <div class="landing__feat__card">
                    {% include 'developers/icons/privacy.svg' %}
                    <h5>Privacy-focused</h5>
                    <p>That's why your documents are not stored on our server (except when explicitly requested) and are not kept for more than 2 days.</p>
                </div>
            </div>
        </div>
        <a href="/register/" title="Get zyour API key for free and start converting now." class="landing__feat__button create-account">Get my free API key</a>
    </div>
</section>

<section id="pricing">
    <div class="container">
        <h2>Pricing</h2>
        <p class="excerpt">
           Pick a plan specific to your needs! Each plan comes with a number of conversions representing one document converted.
        </p>

        <div class="row">
            <div class="column landing__pricing__card">
                {% include 'developers/icons/pricing-growth.svg' %}
                <h4>Growth</h4>

                <div class="price">
                    <small>$</small>39<small>/month</small>
                </div>

                <ul class="unstyled features">
                    <li><strong>5,000</strong> monthly conversions</li>
                    <li><strong>Up to 10Mb</strong> per PDFs</li>
                </ul>
            <a href="/register/" title="Create your free and account and get your API key" class="landing__pricing__button">SIGN UP FOR FREE</a>
            </div>
            <div class="column landing__pricing__card">
                {% include 'developers/icons/pricing-business.svg' %}
                <h4>Business</h4>

                <div class="price">
                    <small>$</small>99<small>/month</small>
                </div>

                <ul class="unstyled features">
                    <li><strong>25,000</strong> monthly conversions</li>
                    <li><strong>Up to 25Mb</strong> per PDFs</li>
                </ul>
                <a href="/register/" title="Create your free and account and get your API key" class="landing__pricing__button  landing__pricing__button-fill create-account">SIGN UP FOR FREE</a>
            </div>
            <div class="column landing__pricing__card">
                {% include 'developers/icons/pricing-enterprise.svg' %}
                <h4>Enterprise</h4>

                <p>
                    <strong>Need to convert more than 50,000 pages?</strong><br />
                    Contact us and we will create a customized pricing plan tailored to your needs.
                </p>
                <a href="/contact/" title="Get in touch with our sales team" class="landing__pricing__button">Request a free demo</a>
            </div>
        </div>

        <p class="free-plan">
            We also offer a <strong>Free plan</strong> with 50 conversions per month and up to 1Mb per PDF generated.
        </p>

        <a class="free-plan__action" href="/pricing/" title="View and compare our various plans">Compare each plan {% include 'developers/icons/angle-right.svg' %}</a>

    </div>
</section>

<section id="testimonials">
<!--
https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1346542
https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1353501
https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1802905
https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1420927
https://www.g2.com/products/pdfshift/reviews/pdfshift-review-1709187
-->
    <div class="container">
        <h2>They <span class="text-accent">trust</span> us.</h2>
        <p class="excerpt">See what our users have to say about PDFShift.</p>
        <div class="landing__testimonial__wrap">
            <div class="landing__testimonial">
                <div class="landing__testimonial__img">
                </div>
                <div class="landing__testimonial__info">
                    <div class="landing__testimonial__heading">
                        {% include 'developers/icons/stars.svg' %}
                        <span>By reqwttt</span>
                    </div>
                    The most correct and fast PDF conversion that I used. The best tool at the moment!
                </div>
            </div>

            <div class="landing__testimonial">
                <div class="landing__testimonial__img">
                </div>
                <div class="landing__testimonial__info">
                    <div class="landing__testimonial__heading">
                        {% include 'developers/icons/stars.svg' %}
                        <span>SoftCreatR</span>
                    </div>
                    I tried so many converters and after some mails back and forth, PDFShift does exactly, what i need. The support is super friendly and very quick, so it didn't take long to integrate PDFShift into my existing workflow.
                </div>
            </div>

            <div class="landing__testimonial">
                <div class="landing__testimonial__img">

                </div>
                <div class="landing__testimonial__info">
                    <div class="landing__testimonial__heading">
                        {% include 'developers/icons/stars.svg' %}
                        <span>skystover</span>
                    </div>
                    Very easy to use, highly customizeable, and works just as intended. The biggest feature missing from other PDF APIs was the ability to decide where a page "breaks" and continues on to a new page. PDFShift made doing so easy with a simple CSS class.
                </div>
            </div>
        </div>
        <div class="landing__testimonial__button__wrap">
            <a href="#" class="landing__testimonial__button">Show more...</a>
        </div>
    </div>
</section>
<section class="reviews">

<section class="trial">
    <div class="container">
        <h2 class="trial__header">Start your FREE trial</h2>
        <p class="trial__excerpt">Free trials for all plans, and forever free for under 50 conversions.
    Sign up to PDFShift now and try out high-fidelity conversion API for yourself.</p>
        <div class="trial__buttons">
            <a href="" class="trial__button">SIGN UP FOR FREE</a>
            <a href="" class="trial__button trial__button-fill">CONTACT SALES</a>
        </div>
    </div>
</section>

<!--
    Don't loose time crafting a nice PDF document
-->
{% endblock %}

{% block javascripts %}
<script>
    // Code blocks
    window.PDFShift.onReady(function () {
        window.PDFShift.load(['//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js', '//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js'], function () {
            // Highlighting the blocks:
            var blocks = document.querySelectorAll('pre code');
            for (var i = 0; i < blocks.length; i++) {
                hljs.highlightBlock(blocks[i]);
            }

            var code = document.querySelector('#code');

            if (ClipboardJS.isSupported()) {
                function setCopyEvent(target) {
                    var parent = target.parentElement, innerText = null;
                    while (true) {
                        if (parent === null) {
                            return // We can't find it so we stop, useless to continue ...
                        }
                        if (parent.classList.contains('code-section')) {
                            break
                        }
                        parent = parent.parentElement;
                    }

                    innerText = parent.querySelector('pre>code').innerText;

                    var clipboard = new ClipboardJS(target, {
                        'text': function (trigger) {
                            return innerText
                        }
                    })

                    clipboard.on('success', function (e) {
                        target.querySelector('span').innerText = 'Copied!'
                        target.classList.add('button-disabled')
                        setTimeout(function () {
                            target.querySelector('span').innerText = '';
                            target.classList.remove('button-disabled')
                        }, 5000)
                        e.clearSelection()
                    })

                    clipboard.on('error', function (e) {
                        target.querySelector('span').innerText = 'An error occured!'
                        target.classList.add('button-disabled')
                    })
                }

                var buttons = code.querySelectorAll('.js-code-copy > a');
                for (var i = 0 ; i < buttons.length; i++) {
                    setCopyEvent(buttons[i]);
                }
            }
        });
    });

    scrollToPos = (scrollToPos < 0 ? 0 : scrollToPos);
    for (var i = 0; i < items.length; i++) {
        items[i].addEventListener('click', function (event) {
            event.preventDefault();
            form.elements[0].focus({preventScroll: true});
            setTimeout(function () {
                window.scroll({
                    top: scrollToPos, 
                    left: 0
                });
            }, 50);
        }, false);
    }
</script>
{% endblock %}

