body,html {
  height: 100%;
}

body {
  background: var(--color-dark);
  font: 0.875rem/1.3125rem 'Inter Tight', sans-serif; //14px/21px
  color: var(--color-secondary);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: color 0.3s;

  &:hover {
    color: var(--color-primary);
  }
}

//fix to make main holder full height
#__nuxt {
  height: 100%;
}
//holder to cut masks to the right
.frame {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

//main wrapper with masks
.page {
  max-width: 90rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 12.5652rem;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &:before {
    left: -50%;
    width: 100%;
    height: 100%;
    background: url('~/assets/images/mask-01.png') no-repeat;
    transform: translateY(-20px);
    opacity: 0;
    animation: fade-slide 1.5s ease-out 1s forwards;
  }

  &:after {
    right: -50%;
    width: 100%;
    height: 100%;
    background: url('~/assets/images/mask-02.png') no-repeat;
    transform: translateY(-20px);
    opacity: 0;
    animation: fade-slide 1.5s ease-out 1s forwards;
  }
}

//////
//hero block animation, it touches several elements 
//in different component so it's easier to control animation here
/////

//class to hide elements
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fade-slide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


//footer mask

.footer-mask {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &:before {
    left: -50%;
    width: 100%;
    height: 100%;
    background: url('~/assets/images/mask-footer-01.png') no-repeat;
  }

  &:after {
    right: -50%;
    width: 100%;
    height: 100%;
    background: url('~/assets/images/mask-footer-02.png') no-repeat;
  }
}
