/* Colors */
$color-primary: #623e98;
$color-secondary: #523b7c;
$color-ternary: #9164b3;

/* Basics */
$color-white: #fff;
$color-light-grey: #e8e8e8;
$color-text-grey: #484848;

@mixin clearfix() {
    &::after {
        content: " ";
        clear: both;
        display: table;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0px, 30px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation: fadeIn ease-in-out 1;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    transform: translate(0px, 0px);
}
.fade-in.delay-1 {animation-delay: .25s;}
.fade-in.delay-2 {animation-delay: .5s;}
.fade-in.delay-3 {animation-delay: .75s;}
.fade-in.delay-4 {animation-delay: 1s;}
.fade-in.delay-5 {animation-delay: 1.25s;}