{% set body_class = 'unified' %}
{% extends '_partials/base.njk' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="column six centered" style="text-align: center; margin-top: 60px">
            <div class="white-block success">
                <svg class="animated checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle cx="26" cy="26" r="25" fill="none"/>
                    <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
                <h3>All good! Thank you!</h3>
                <p>You are now registered on our mailing list.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}