{% set seo_title = "Data Processing Agreement" %}
{% set seo_description = "PDFShift is GDPR compliant. Here is our Data Processing Agreement." %}

{% extends '_partials/base.njk' %}

{% block main %}
<div class="container-small">
    <div class="page">
        {% markdown "dpa.md" %}
        {% markdown "subprocessors.md" %}
    </div>
</div>
{% endblock %}