{% set body_class = 'home' %}
{% set custom_css = 'home' %}

{% set seo_title = "The Leading HTML to PDF conversion API" %}
{% set seo_description = "An API to convert HTML/CSS documents to PDF. PDFShift is the reliable, Up-to-date and high-fidelity conversion API with no maintenance costs." %}

{% extends '_partials/base.njk' %}

{% block hero %}
<div class="container hero">
    <div class="row">
        <div class="column seven">
            <div>
                <!--<h1>Automate your HTML to PDF conversion.</h1>-->
                <h1 class="fade-in from-left delay-1">HTML to PDF conversion API</h1>
                <!--<h1>Convert HTML documents to PDF in seconds</h1>-->
                <div class="fade-in from-left delay-2">
                    <p>Stop wasting time implementing and maintaining a third-party software/library.</p>
                    <p>With PDFShift, rely on an up-to-date, high-fidelity conversion API with no maintenance costs.</p>
                    <div class="actions">
                        <a href="/register/" title="Create an account now" class="button create-account">Create an account</a>
                        <span>or</span>
                        <a href="#try-me" title="Try in the browser now">See for yourself</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column five">
            <form id="register" class="fade-in from-right delay-3">
                <h2>Get started now</h2>
                <p>Get started with <strong>50 free credits per months</strong><br />and upgrade whenever you are ready.</p>
                <div><input type="text" name="name" placeholder="Full Name" required /></div>
                <div><input type="email" name="email" placeholder="Email Address" required /></div>
                <div>
                    <p><small>By signing up, you agree to the <a href="/terms/" title="Read our Terms of Service">Terms of Service</a> and <a href="/privacy/" title="Read our Privacy Policy">Privacy Policy</a>.</small></p>
                </div>
                <input type="submit" name="submit" value="Create your free account" class="button button-primary" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="brands">
    <div class="container">
        <ul class="unstyled">
            <li>
                <!-- vivino.com -->
                <img src="/static/images/partners/vivino.png" alt="Vivino" />
            </li>
            <li>
                <!-- betterproposals.io -->
                <img src="/static/images/partners/betterproposals.png" alt="Better Proposals" />
            </li>
            <li>
                <!-- resumez.com -->
                <img src="/static/images/partners/resumez.png" alt="Resumez" />
            </li>
            <li>
                <!-- payrollcrm.com -->
                <img src="/static/images/partners/payroll.png" alt="Payroll CRM" />
            </li>
            <li>
                <!-- podia.com -->
                <img src="/static/images/partners/podia.png" alt="Podia" />
            </li>
            <!--
            <li>
                roofstreet.io
                <img src="/static/images/partners/roofstreet.png" alt="Roofstreet" />
            </li>
            -->
        </ul>
    </div>
</div>

<div id="try-me">
    <h2>Try PDFShift for free <small>and see for yourself</small></h2>
    <div class="container">
        <form method="post">
            <input type="url" name="source" placeholder="Enter any URL" value="https://en.wikipedia.org/wiki/PDF" required />
            <p class="error"></p>
            <div class="row">
                <div class="options column six">
                    <div class="radio">
                        <input type="radio" name="landscape" value="0" id="try-me-landscape-off" checked />
                        <label for="try-me-landscape-off">Portrait</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="landscape" value="1" id="try-me-landscape-on" />
                        <label for="try-me-landscape-on">Landscape</label>
                    </div>
                </div>
                <div class="options column six">
                    <div class="radio">
                        <input type="radio" name="use_print" value="0" id="try-me-use_print-off" checked />
                        <label for="try-me-use_print-off">Screen</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="use_print" value="1" id="try-me-use_print-on" />
                        <label for="try-me-use_print-on">Print</label>
                    </div>
                </div>
            </div>
            <div class="css">
                <a href="javascript:;" title="Click here to add some custom CSS">Would you like to try some Custom CSS?</a>
                <div><textarea name="css" rows="5" cols="50" placeholder="body {background-color: red !important; /* why not */}"></textarea></div>
            </div>
            <input type="submit" name="Try it now" value="Try in the browser now" class="button button-secondary" />
        </form>
    </div>
</div>

<div id="numbers">
    <div class="container">
        <h2>Rely on a leading conversion service.</h2>
        <p class="excerpt">Thousands of users trust us to quickly convert documents with a high-fidelity result.</p>

        <ul class="unstyled">
            <li>
                {% include 'static/images/svgs/page-tick.svg' %}
                <h5>4M+</h5>
                <span>Conversions made</span>
            </li>
            <li>
                {% include 'static/images/svgs/speed.svg' %}
                <h5>2.5s</h5>
                <span>Average conversion time</span>
            </li>
            <li>
                {% include 'static/images/svgs/chat-tick.svg' %}
                <h5>2 hours</h5>
                <span>Average support response</span>
            </li>
            <li>
                {% include 'static/images/svgs/business-performance.svg' %}
                <h5>99.99%</h5>
                <span>SLA</span>
            </li>
        </ul>
    </div>
</div>

<div id="code">
    <div class="container">
        <h2>Integrate PDFShift with just three lines of code</h2>
        <p class="excerpt">
            We believe that developers should focus their time on things that matter, not setting up yet another PDF library.
            Because we eliminate needless complexity and provide an up-to-date service, you can get up and running with PDFShift in just a couple of minutes.
        </p>

        <div class="row">
            <div class="column nine">
                <div class="code-samples">
                    <div id="code-javascript" class="visible">
                        <div class="code-section">
                            <pre><code class="javascript">// Step 1, install PDFShift
npm install pdfshift

// Step 2, import PDFShift
const pdfshift = require('pdfshift')('your_api_key');
const fs = require('fs');

// Step 3, execute
pdfshift.convert('https://en.wikipedia.org/wiki/PDF', {"landscape": false, "use_print": false}).then(function (binary_file) {
    fs.writeFile('wikipedia.pdf', binary_file, "binary", function () {})
}).catch(function({message, code, response, errors = null}) {})</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-python">
                        <div class="code-section">
                            <pre><code class="python">import requests

response = requests.post(
    'https://api.pdfshift.io/v3/convert/pdf',
    auth=('api', 'your_api_key'),
    json={"source": "https://en.wikipedia.org/wiki/PDF", "landscape": False, "use_print": False}
)

response.raise_for_status()

with open('wikipedia.pdf', 'wb') as f:
    f.write(response.content)

# We also have a package to simplify your work:
# https://pypi.org/project/pdfshift/</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-php">
                        <div class="code-section">
                            <pre><code class="php">&lt;?php
$curl = curl_init();

curl_setopt_array($curl, array(
    CURLOPT_URL => "https://api.pdfshift.io/v3/convert/pdf",
    CURLOPT_RETURNTRANSFER => true,
    CURLOPT_POST => true,
    CURLOPT_POSTFIELDS => json_encode(array("source" => "https://en.wikipedia.org/wiki/PDF", "landscape" => false, "use_print" => false)),
    CURLOPT_HTTPHEADER => array('Content-Type:application/json'),
    CURLOPT_USERPWD => 'api:your_api_key'
));

$response = curl_exec($curl);
file_put_contents('wikipedia.pdf', $response);

// We also have a package to simplify your work:
// https://packagist.org/packages/pdfshift/pdfshift-php</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-ruby">
                        <div class="code-section">
                            <pre><code class="ruby">require 'uri'
require 'net/https'
require 'json' # for hash to_json conversion

uri = URI("https://api.pdfshift.io/v3/convert/pdf")
data = {"source" => "https://en.wikipedia.org/wiki/PDF"}

Net::HTTP.start(uri.host, uri.port, :use_ssl => true) do |http|
    request = Net::HTTP::Post.new(uri.request_uri)
    request.body = data.to_json
    request["Content-Type"] = "application/json"
    request.basic_auth 'api', 'your_api_key'

    response = http.request(request)

    if response.code == '200'
        # Since Ruby 1.9.1 only:
        File.binwrite("wikipedia.pdf", response.body)
    else
        # Handle other codes here
        puts "#{response.code} #{response.body}"
    end
end</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-java">
                        <div class="code-section">
                            <pre><code class="java">import java.io.File;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.nio.file.Files;
import java.nio.file.Paths;
import java.nio.file.StandardCopyOption;
import java.time.Duration;
import org.json.JSONObject;

public class Application {

    private static final String API_KEY = "api:your_api_key";

    public static void main(String... args) throws Exception {
        var jsonObject = new JSONObject();
        jsonObject.put("source", "https://en.wikipedia.org/wiki/PDF");
        var httpRequest = HttpRequest.newBuilder()
                .uri(URI.create("https://api.pdfshift.io/v3/convert/pdf"))
                .timeout(Duration.ofSeconds(20))
                .header("Content-Type", "application/json")
                .header("Authentication", "Basic " + API_KEY)
                .POST(HttpRequest.BodyPublishers.ofString(jsonObject.toString()))
                .build();

        var httpClient = HttpClient.newBuilder()
                .version(HttpClient.Version.HTTP_1_1)
                .build();

        var response = httpClient.send(httpRequest, HttpResponse.BodyHandlers.ofInputStream());

        var statusCode = response.statusCode();
        if (statusCode == 200 || statusCode == 201) {
            // Save the file locally
            var targetFile = new File("src/main/resources/wikipedia.pdf");
            Files.copy(response.body(), targetFile.toPath(), StandardCopyOption.REPLACE_EXISTING);
        } else {
            // error occurred
        }
    }
}</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-csharp">
                        <div class="code-section">
                            <pre><code class="csharp">using System;
using RestSharp;
using Newtonsoft.Json;
using System.IO;
using RestSharp.Authenticators;
using RestSharp.Serialization;
using System.Net.Mail;
using System.Net;
using System.Collections.Generic;
using Newtonsoft.Json.Linq;

namespace PDFShiftExample
{
    class Program
    {
        static void Main(string[] args)
        {
            IRestClient client = new RestClient("https://api.pdfshift.io/v3/convert/pdf");
            client.Authenticator = new HttpBasicAuthenticator("api", "your_api_key");

            IRestRequest request = new RestRequest(Method.POST);

            var json = new
            {
                source = "https://en.wikipedia.org/wiki/PDF"
            };
            request.AddJsonBody(json);

            IRestResponse response = client.Execute(request);
            if (!response.IsSuccessful)
            {
                // Check why status is not int 2xx.
            }
            else
            {
                File.WriteAllBytes("wikipedia.pdf", response.RawBytes);
            }
        }
    }
}</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-go">
                        <div class="code-section">
                            <pre><code class="go">package main

import (
    "bytes"
    "encoding/json"
    "io/ioutil"
    "log"
    "net/http"
)

func main() {
    API_KEY := "api:your_api_key"

    message := map[string]interface{}{
        "source":  "https://en.wikipedia.org/wiki/PDF",
    }

    bytesRepresentation, err := json.Marshal(message)
    if err != nil {
        log.Fatalln(err)
    }

    client := http.Client{}
    request, err := http.NewRequest("POST", "https://api.pdfshift.io/v3/convert/pdf", bytes.NewBuffer(bytesRepresentation))
    if err != nil {
        log.Fatalln(err)
    }
    request.Header.Set("Content-Type", "application/json")
    request.Header.Set("Authorization", "Basic " + API_KEY)

    resp, err := client.Do(request)
    if err != nil {
        log.Fatalln(err)
    }

    if resp.StatusCode >= 200 && resp.StatusCode < 300 {
        body, err := ioutil.ReadAll(resp.Body)
        if err != nil {
            log.Fatalln(err)
        }
        // write the response to file
        ioutil.WriteFile("wikipedia.pdf", body, 0644)
    } else {
        // An error occurred
        var result map[string]interface{}

        json.NewDecoder(resp.Body).Decode(&result)

        log.Println(result)
        log.Println(result["data"])
    }
}</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-curl">
                        <div class="code-section">
                            <pre><code class="bash">curl \
    -u 'api:your_api_key' \
    -d source="https://en.wikipedia.org/wiki/PDF" \
    -d landscape="false" \
    -d use_print="false" \
    https://api.pdfshift.io/v3/convert/pdf \
    -o wikipedia.pdf

# That's all!</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column three">
                <ul class="unstyled code-selection">
                    <li class="selected"><a href="javascript:;" title="View our code sample in Javascript" data-language="javascript">Javascript</a></li>
                    <li><a href="javascript:;" title="View our code sample in Python" data-language="python">Python</a></li>
                    <li><a href="javascript:;" title="View our code sample in PHP" data-language="php">PHP</a></li>
                    <li><a href="javascript:;" title="View our code sample in Ruby" data-language="ruby">Ruby</a></li>
                    <li><a href="javascript:;" title="View our code sample in JAVA" data-language="java">JAVA</a></li>
                    <li><a href="javascript:;" title="View our code sample in C#" data-language="csharp">C#</a></li>
                    <li><a href="javascript:;" title="View our code sample in GO" data-language="go">GO</a></li>
                    <li><a href="javascript:;" title="View our code sample in cURL" data-language="curl">cURL</a></li>
                </ul>
                <a href="https://docs.pdfshift.io/" title="View our advanced documentation" class="button button-secondary" target="_blank">Full API Reference ➡</a>
            </div>
        </div>
    </div>
</div>

<div id="features">
    <div class="container">
        <h2>Features</h2>

        <div class="row">
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path d="M2,17.5a.5.5,0,0,1,.5-.5h18a.5.5,0,0,1,0,1H2.5A.5.5,0,0,1,2,17.5ZM20.5,20H2.5a.5.5,0,0,0,0,1h18a.5.5,0,0,0,0-1Zm0,3H2.5a.5.5,0,0,0,0,1h18a.5.5,0,0,0,0-1ZM7.8535,5.8535,11,2.707V14.5a.5.5,0,0,0,1,0V2.707l3.1465,3.1465a.5.5,0,1,0,.707-.707l-4-4a.5.5,0,0,0-.707,0l-4,4a.5.5,0,0,0,.707.707Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Parallel conversions</h5>
                        <p>Process multiple documents in parallel to increase conversion speed.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path d="M12.5,16A5.5,5.5,0,1,0,7,10.5,5.5,5.5,0,0,0,12.5,16Zm0-10A4.5,4.5,0,1,1,8,10.5,4.505,4.505,0,0,1,12.5,6Zm-.3,5.4A.5.5,0,0,1,12,11V8.5a.5.5,0,0,1,1,0v2.25l1.8,1.35a.5.5,0,1,1-.6.8ZM22.5,17H22V1.5A1.5,1.5,0,0,0,20.5,0H4.5A1.5,1.5,0,0,0,3,1.5V17H2.5A1.5,1.5,0,0,0,1,18.5v5A1.5,1.5,0,0,0,2.5,25h20A1.5,1.5,0,0,0,24,23.5v-5A1.5,1.5,0,0,0,22.5,17ZM4,1.5A.5006.5006,0,0,1,4.5,1h16a.5006.5006,0,0,1,.5.5V17H17.5A1.5,1.5,0,0,0,16,18.5v1a.5.5,0,0,1-.5.5h-6a.5.5,0,0,1-.5-.5v-1A1.5,1.5,0,0,0,7.5,17H4Zm19,22a.5.5,0,0,1-.5.5H2.5a.5.5,0,0,1-.5-.5v-5a.5.5,0,0,1,.5-.5h5a.5.5,0,0,1,.5.5v1A1.5017,1.5017,0,0,0,9.5,21h6A1.5017,1.5017,0,0,0,17,19.5v-1a.5.5,0,0,1,.5-.5h5a.5.5,0,0,1,.5.5Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Asynchronous request</h5>
                        <p>Use our powerful webhook system to be notified once a conversion is done.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path d="M4,14.05V.5a.5.5,0,0,0-1,0V14.05A2.5,2.5,0,0,0,3,18.95V22.5a.5.5,0,0,0,1,0V18.95A2.5,2.5,0,0,0,4,14.05ZM3.5,18A1.5,1.5,0,1,1,5,16.5,1.5016,1.5016,0,0,1,3.5,18ZM22,10.05V.5a.5.5,0,0,0-1,0v9.55A2.5,2.5,0,0,0,21,14.95V22.5a.5.5,0,0,0,1,0V14.95A2.5,2.5,0,0,0,22,10.05ZM21.5,14A1.5,1.5,0,1,1,23,12.5,1.5016,1.5016,0,0,1,21.5,14ZM13,4.05V.5a.5.5,0,0,0-1,0V4.05A2.5,2.5,0,0,0,12,8.95V22.5a.5.5,0,0,0,1,0V8.95A2.5,2.5,0,0,0,13,4.05ZM12.5,8A1.5,1.5,0,1,1,14,6.5,1.5016,1.5016,0,0,1,12.5,8Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Advanced Options</h5>
                        <p>Set custom headers and footers with pagination, inject custom CSS and javascript, encrypt your documents and many more!</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <svg viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path d="M20.56 6.88L14.12.44A1.5 1.5 0 0 0 13.06 0H1.5C.67 0 0 .67 0 1.5v22c0 .83.67 1.5 1.5 1.5h18c.83 0 1.5-.67 1.5-1.5V7.94c0-.4-.16-.77-.44-1.06zm-1.3.12H14.5a.5.5 0 0 1-.5-.5l-.02-4.79L19.26 7zM20 23.5a.5.5 0 0 1-.5.5h-18a.5.5 0 0 1-.5-.5v-22c0-.28.22-.5.5-.5h11.47L13 6.5c0 .83.67 1.5 1.5 1.5H20v15.5z" />
                            <path d="M8.93 18.57a.25.25 0 1 1-.36.36l-4.5-4.5a.25.25 0 0 1 0-.36l4.5-4.5a.25.25 0 1 1 .36.36L4.6 14.25l4.33 4.32zM11.57 9.93a.25.25 0 1 1 .36-.36l4.5 4.5c.1.1.1.26 0 .36l-4.5 4.5a.25.25 0 1 1-.36-.36l4.33-4.32-4.33-4.32z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Raw HTML support</h5>
                        <p>No need to make your private page public. Simply send us your raw HTML data instead and we will convert it.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path class="cls-1" d="M18.5,3H6.5A1.5,1.5,0,0,0,5,4.5v16A1.5,1.5,0,0,0,6.5,22h12A1.5,1.5,0,0,0,20,20.5V4.5A1.5,1.5,0,0,0,18.5,3ZM19,20.5a.5.5,0,0,1-.5.5H6.5a.5.5,0,0,1-.5-.5V4.5A.5.5,0,0,1,6.5,4h12a.5.5,0,0,1,.5.5ZM8,8.5A.5.5,0,0,1,8.5,8h4a.5.5,0,0,1,0,1h-4A.5.5,0,0,1,8,8.5Zm9,4a.5.5,0,0,1-.5.5h-8a.5.5,0,0,1,0-1h8A.5.5,0,0,1,17,12.5Zm0,4a.5.5,0,0,1-.5.5h-8a.5.5,0,0,1,0-1h8A.5.5,0,0,1,17,16.5ZM3,.5v2a.5.5,0,0,1-.5.5H.5a.5.5,0,0,1,0-1H2V.5a.5.5,0,0,1,1,0Zm0,22v2a.5.5,0,0,1-1,0V23H.5a.5.5,0,0,1,0-1h2A.5.5,0,0,1,3,22.5Zm19-20V.5a.5.5,0,0,1,1,0V2h1.5a.5.5,0,0,1,0,1h-2A.5.5,0,0,1,22,2.5Zm3,20a.5.5,0,0,1-.5.5H23v1.5a.5.5,0,0,1-1,0v-2a.5.5,0,0,1,.5-.5h2A.5.5,0,0,1,25,22.5Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>High-Fidelity PDF</h5>
                        <p>Generate a high-fidelity document, close to your original HTML, in a few seconds.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path d="M2,0V11c0,4.625,5.4375,12,10.5,12S23,15.625,23,11V0ZM22,11c0,4.2437-5.1872,11-9.5,11S3,15.2437,3,11V1H22ZM5,11.5v-8A.5.5,0,0,1,5.5,3h5a.5.5,0,0,1,0,1H6v7.5C6,14.3936,9.5493,19,12.5,19a.5.5,0,0,1,0,1C8.9507,20,5,14.9336,5,11.5Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Privacy-focused</h5>
                        <p>That's why your documents are not stored on our server (except when explicitly requested) and are not kept for more than 2 days.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/register/" title="Get your API key for free and start converting now." class="button button-primary create-account">Get my free API key ➡</a>
    </div>
</div>

<div id="testimonials">
    <div class="container">
        <h2>They trust us.</h2>
        <p class="excerpt">See what our users have to say about PDFShift.</p>

        {% include '_partials/testimonials.njk' %}
    </div>
</div>

<div id="pricing">
    <h2>Pricing</h2>
    <div class="container">
        <div class="pricing">
            <div class="pricing__intro">
                Start with a <strong>Free 50 credits per month at up to 1Mb per PDF</strong>,<br />and upgrade to the plan that best match your needs..
            </div>

            <div class="pricing__switchgroup">
                <label for="pricing-toggle-checkbox" class="pricing__switchgroup__title active">Monthly</label>
                <div class="pricing__toggle">
                    <label class="pricing__toggle__checkbox" for="pricing-toggle-checkbox">
                        <input type="checkbox" id="pricing-toggle-checkbox" />
                        <div class="pricing__toggle__slider"></div>
                    </label>
                </div>
                <label for="pricing-toggle-checkbox" class="pricing__switchgroup__title">Annual</label>
            </div>

            <div class="pricing__cards-grid">
                <!-- First card -->
                <div class="pricing__card">
                    <div class="pricing__card__top">
                        <div class="pricing__card__top--monthly">
                            <div class="pricing__card__name">Startup</div>
                            <div class="pricing__card__price fade-in from-bottom active">$9<sup>mo</sup></div>
                            <div class="pricing__card__price fade-in from-bottom">$90<sup>yr</sup></div>
                        </div>
                        {% include 'static/images/pricing/pricing-s.svg' %}
                    </div>
                    <div class="pricing__card__body">
                        <ul class="pricing__card__body-list">
                            <li>Monthly credits<span>500</span></li>
                            <li>
                                Dynamic file size limit
                                <div class="pricing__card__tooltip">
                                    <i class="pricing__card__tooltip-icon">{% include 'static/images/pricing/question-circle.svg' %}</i>
                                    <div class="pricing__card__tooltip-content">A credit is counted per 5Mb chunks.<br />For instance, a 15Mb PDF will use 3 credits.</div>
                                </div>
                                <span>1 conv. per 5Mb</span>
                            </li>
                        </ul>
                        <div class="pricing__card__body__sub">
                            + Advanced Custom Header & Footer, Encryption, Watermark, Asynchronous requests, Parallel Conversion, Wait for custom elements, ...
                        </div>
                    </div>
                    <a href="/register/" class="button button-secondary pricing__card__button">Sign up for free now</a>
                </div>
                <!-- Second card -->
                <div class="pricing__card pricing__card--highlight">
                    <div class="pricing__card__top">
                        <div>
                            <div class="pricing__card__name">Boost</div>
                            <div class="pricing__card__price fade-in from-bottom active">$24<sup>mo</sup></div>
                            <div class="pricing__card__price fade-in from-bottom">$240<sup>yr</sup></div>
                        </div>
                        {% include 'static/images/pricing/pricing-m.svg' %}
                    </div>
                    <div class="pricing__card__body">
                        <ul class="pricing__card__body-list">
                            <li>Monthly credits<span>2,500</span></li>
                            <li>
                                Dynamic file size limit
                                <div class="pricing__card__tooltip">
                                    <i class="pricing__card__tooltip-icon">{% include 'static/images/pricing/question-circle.svg' %}</i>
                                    <div class="pricing__card__tooltip-content">A credit is counted per 5Mb chunks.<br />For instance, a 15Mb PDF will use 3 credits.</div>
                                </div>
                                <span>1 conv. per 5Mb</span>
                            </li>
                        </ul>
                        <div class="pricing__card__body__sub">
                            + Advanced Custom Header & Footer, Encryption, Watermark, Asynchronous requests, Parallel Conversion, Wait for custom elements, ...
                        </div>
                    </div>
                    <a href="/register/" class="button button-primary pricing__card__button">Sign up for free now</a>
                </div>
                <!-- Third card -->
                <div class="pricing__card">
                    <div class="pricing__card__top">
                        <div>
                            <div class="pricing__card__name">Growth</div>
                            <div class="pricing__card__price fade-in from-bottom active">$39<sup>mo</sup></div>
                            <div class="pricing__card__price fade-in from-bottom">$390<sup>yr</sup></div>
                        </div>
                        {% include 'static/images/pricing/pricing-m.svg' %}
                    </div>
                    <div class="pricing__card__body">
                        <ul class="pricing__card__body-list">
                            <li>Monthly credits<span>5,000</span></li>
                            <li>
                                Dynamic file size limit
                                <div class="pricing__card__tooltip">
                                    <i class="pricing__card__tooltip-icon">{% include 'static/images/pricing/question-circle.svg' %}</i>
                                    <div class="pricing__card__tooltip-content">A credit is counted per 5Mb chunks.<br />For instance, a 15Mb PDF will use 3 credits.</div>
                                </div>
                                <span>1 conv. per 5Mb</span>
                            </li>
                        </ul>
                        <div class="pricing__card__body__sub">
                            + Advanced Custom Header & Footer, Encryption, Watermark, Asynchronous requests, Parallel Conversion, Wait for custom elements, ...
                        </div>
                    </div>
                    <a href="/register/" class="button button-primary pricing__card__button">Sign up for free now</a>
                </div>
            </div>

            <div class="pricing__contact">
                <div>
                    <h3 class="pricing__contact__title">Need a custom plan?</h3>
                    <p>Get a customized pricing plan tailored to your needs. Perfect for enterprises and large-scale needs.</p>
                </div>
                <button class="button pricing__contact__button" type="button">Contact Us</button>
            </div>
            <div class="pricing__footer">
                <a href="/pricing/" title="Compare our pricing">Compare all plans&nbsp;{% include 'static/images/testimonials/angle-right-purple.svg' %}</a>
            </div>
        </div>
    </div>
</div>

<div id="contact">
    <div class="container">
        <h2>Contact Our Sales Team</h2>
        {% include '_partials/contact.njk' %}
    </div>
</div>
<!--
    Don't loose time crafting a nice PDF document
-->
{% endblock %}

{% block javascripts %}
<script>
    {% include '_partials/js/register.js' %}
    {% include '_partials/js/contact.js' %}

    // CTA Actions
    var form = document.getElementById('register'),
        items = document.querySelectorAll('.create-account'),
        scrollToPos = form.offsetTop - header.querySelector('.heading').clientHeight - 40;

    scrollToPos = (scrollToPos < 0 ? 0 : scrollToPos);
    for (var i = 0; i < items.length; i++) {
        items[i].addEventListener('click', function (event) {
            event.preventDefault();
            form.elements[0].focus({preventScroll: true});
            setTimeout(function () {
                window.scroll({
                    top: scrollToPos, 
                    left: 0
                });
            }, 50);
        }, false);
    }

    // Try me
    (function () {
        document.querySelector('#try-me .css>a').addEventListener('click', function () {
            document.querySelector('#try-me textarea').parentElement.classList.toggle('visible');
        }, false)

        var form = document.querySelector('#try-me form'),
            submitButton = form.querySelector('.button');

        form.addEventListener('submit', function (event) {
            if (submitButton.classList.contains('button-disabled')) {
                return false;
            }

            var popup = window.open('https://pdfshift.io/loading/', '_blank');
            popup.focus();

            form.classList.remove('error')
            submitButton.classList.add('button-disabled');
            
            event.preventDefault();
            var params = window.PDFShift.forms.asJSON(form);
            params['filename'] = 'result.pdf';
            params['timeout'] = 15;

            window.PDFShift.requests.post('convert/pdf', params).then(
                function (json) {
                    submitButton.classList.remove('button-disabled');
                    popup.location.href = json.url
                },
                function (response) {
                    var error = 'A fatal error occured.';
                    if (response.data) {
                        if (response.data.hasOwnProperty('error')) {
                            error = response.data.error;
                        } else if (response.data.hasOwnProperty('errors')) {
                            var keyname = Object.keys(response.data.errors)[0]
                            error = keyname + ' : ' + response.data.errors[keyname][0]
                        }
                    }
                    form.classList.add('error')
                    form.querySelector('p.error').innerText = error
                    submitButton.classList.remove('button-disabled');
                    popup.close();
                }
            )

            return false;
        }, true)
    })();

    // Code blocks
    window.PDFShift.onReady(function () {
        window.PDFShift.load(['//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js', '//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js'], function () {
            // Highlighting the blocks:
            var blocks = document.querySelectorAll('pre code');
            for (var i = 0; i < blocks.length; i++) {
                hljs.highlightBlock(blocks[i]);
            }

            var code = document.querySelector('#code');

            code.querySelector('.code-selection').addEventListener('click', function (event) {
                if (event.target.nodeName !== 'A') {
                    return;
                }

                window.PDFShift.storage.set('language', event.target.dataset.language);

                code.querySelector('.code-samples>.visible').classList.remove('visible');
                code.querySelector('.code-samples>#code-' + event.target.dataset.language).classList.add('visible');
                code.querySelector('.code-selection>.selected').classList.remove('selected');
                event.target.parentElement.classList.add('selected');
            }, false)

            if (ClipboardJS.isSupported()) {
                function setCopyEvent(target) {
                    var parent = target.parentElement, innerText = null;
                    while (true) {
                        if (parent === null) {
                            return // We can't find it so we stop, useless to continue ...
                        }
                        if (parent.classList.contains('code-section')) {
                            break
                        }
                        parent = parent.parentElement;
                    }

                    innerText = parent.querySelector('pre>code').innerText;

                    var clipboard = new ClipboardJS(target, {
                        'text': function (trigger) {
                            return innerText
                        }
                    })

                    clipboard.on('success', function (e) {
                        // this.resetCopyMessage('Copied!')
                        target.innerText = 'Copied!'
                        target.classList.add('button-disabled')
                        setTimeout(function () {
                            target.innerText = 'Copy to clipboard';
                            target.classList.remove('button-disabled')
                        }, 5000)
                        e.clearSelection()
                    })

                    clipboard.on('error', function (e) {
                        target.innerText = 'An error occured!'
                        target.classList.add('button-disabled')
                    })
                }

                var buttons = code.querySelectorAll('.code-samples .code-section .copy>a');
                for (var i = 0 ; i < buttons.length; i++) {
                    setCopyEvent(buttons[i]);
                }
            }
        });

        window.PDFShift.on('#pricing-toggle-checkbox', 'change', function (event) {
            var items = document.querySelectorAll('.pricing__card .pricing__card__price, .pricing__switchgroup .pricing__switchgroup__title')
            for (var i = 0; i < items.length; i++) {
                items[i].classList.toggle('active')
            }
        })
    });

    {% include '_partials/js/contact.js' %}
</script>
{% endblock %}
