{% set bodyClass = 'home' %}
{% set seo_title = "The Leading Web to PDF conversion API" %}
{% set seo_description = "Stop wasting time implementing and maintaining a third-party software/library. With PDFShift, rely on an up-to-date, high-fidelity conversion API with no maintenance costs." %}

{% extends '_partials/base.njk' %}

{% block hero %}
<div class="container hero">
    <div class="row">
        <div class="column seven">
            <div>
                <!--<h1>Automate your HTML to PDF conversion.</h1>-->
                <h1>Web to PDF conversion API</h1>
                <!--<h1>Convert HTML documents to PDF in seconds</h1>-->
                <p>Stop wasting time implementing and maintaining a third-party software/library.</p>
                <p>With PDFShift, rely on an up-to-date, high-fidelity conversion API with no maintenance costs.</p>
                <p><a href="#try-me" title="Try in the browser now">➡ See for yourself</a></p>
            </div>
        </div>
        <div class="column five">
            <form id="register">
                <h2>Get started now</h2>

                <div><input type="text" name="name" placeholder="Full Name" required /></div>
                <div><input type="email" name="email" placeholder="Email Address" required /></div>
                <input type="submit" name="submit" value="Create your free account" class="button button-primary" />

                <small>By signing up, you agree to the <a href="/terms/" title="Read our Terms of Service">Terms of Service</a> and <a href="/privacy/" title="Read our Privacy Policy">Privacy Policy</a>.</small>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="brands">
    <div class="container">
        <ul class="unstyled">
            <li>
                <!-- betterproposals.io -->
                <img src="/images/partners/betterproposals.png" alt="Better Proposals" />
            </li>
            <li>
                <!-- resumez.com -->
                <img src="/images/partners/resumez.png" alt="Resumez" />
            </li>
            <li>
                <!-- payrollcrm.com -->
                <img src="/images/partners/payroll.png" alt="Payroll CRM" />
            </li>
            <li>
                <!-- podia.com -->
                <img src="/images/partners/podia.png" alt="Podia" />
            </li>
            <li>
                <!-- roofstreet.io -->
                <img src="/images/partners/roofstreet.png" alt="Roofstreet" />
            </li>
        </ul>
    </div>
</div>

<div id="try-me">
    <h2>Try and see for yourself</h2>
    <div class="container">
        <form method="post">
            <input type="url" name="source" placeholder="Enter any URL" value="https://en.wikipedia.org/wiki/PDF" required />
            <p class="error"></p>
            <div class="options">
                <div class="radio">
                    <input type="radio" name="landscape" value="0" id="try-me-landscape-off" checked />
                    <label for="try-me-landscape-off">Portrait</label>
                </div>
                <div class="radio">
                    <input type="radio" name="landscape" value="1" id="try-me-landscape-on" />
                    <label for="try-me-landscape-on">Landscape</label>
                </div>
                <div class="sep"></div>
                <div class="radio">
                    <input type="radio" name="use_print" value="0" id="try-me-use_print-off" checked />
                    <label for="try-me-use_print-off">Screen</label>
                </div>
                <div class="radio">
                    <input type="radio" name="use_print" value="1" id="try-me-use_print-on" />
                    <label for="try-me-use_print-on">Print</label>
                </div>
            </div>
            <div class="css">
                <a href="javascript:;" title="Click here to add some custom CSS">Would you like to try some Custom CSS?</a>
                <div><textarea name="css" rows="5" cols="50" placeholder="body {background-color: red !important; /* why not */}"></textarea></div>
            </div>
            <input type="submit" name="Try it now" value="Try in the browser now" class="button button-primary" />
        </form>
    </div>
</div>

<div id="numbers">
    <div class="container">
        <h2>Rely on a leading conversion service.</h2>
        <p class="excerpt">We are trusted by thousands to quickly convert documents with an high-fidelity result.</p>

        <ul class="unstyled">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                    <g>
                        <path d="M9.18,12.3843a.5.5,0,1,1,.6406-.7686l2.6489,2.208,4.6772-4.6772a.5.5,0,0,1,.707.707l-5,5a.5.5,0,0,1-.6738.0308ZM25,20.5V23a2,2,0,0,1-2,2H6.5A2.5,2.5,0,0,1,4,22.5V1.5A1.5,1.5,0,0,1,5.5,0h16A1.5,1.5,0,0,1,23,1.5V20h1.5A.5.5,0,0,1,25,20.5ZM8.5,20H22V1.5a.5.5,0,0,0-.5-.5H5.5a.5.5,0,0,0-.5.5v21a1.5,1.5,0,0,0,3,0v-2A.5.5,0,0,1,8.5,20ZM24,21H9v1.5A2.4775,2.4775,0,0,1,8.4888,24H23a1.0007,1.0007,0,0,0,1-1Z" />
                    </g>
                </svg>
                <h5>100M</h5>
                <span>Conversions made</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                    <g>
                        <path d="M12.5,5A12.4809,12.4809,0,0,0,1.8379,24H23.1621A12.4809,12.4809,0,0,0,12.5,5ZM22.5859,23H2.4141a11.5,11.5,0,1,1,20.1719,0Zm-5.49-7.8032L13.1431,19.15a1.514,1.514,0,1,0,.707.707l3.9531-3.9531a.5.5,0,0,0-.707-.707ZM12.5,21a.5.5,0,1,1,.5-.5A.5.5,0,0,1,12.5,21ZM23,17.5a.5.5,0,0,1-1,0,9.5,9.5,0,0,0-19,0,.5.5,0,0,1-1,0,10.5,10.5,0,0,1,21,0Z" />
                    </g>
                </svg>
                <h5>2.5s</h5>
                <span>Average conversion time</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                    <g>
                        <path d="M23.5,1.002H1.5A1.5016,1.5016,0,0,0,0,2.502v16a1.5016,1.5016,0,0,0,1.5,1.5H14.1631a.5079.5079,0,0,1,.3057.104l4.9258,3.6909A1,1,0,0,0,21,23.001V20.002h2.5a1.5016,1.5016,0,0,0,1.5-1.5v-16A1.5016,1.5016,0,0,0,23.5,1.002Zm.5,17.5a.5007.5007,0,0,1-.5.5H20.7a.7011.7011,0,0,0-.7.7l-.0029,3.2969-4.9258-3.6909a1.51,1.51,0,0,0-.9082-.3062H1.5a.5007.5007,0,0,1-.5-.5v-16a.5007.5007,0,0,1,.5-.5h22a.5007.5007,0,0,1,.5.5ZM16.8536,7.1484a.5.5,0,0,1,0,.707l-6,6a.5.5,0,0,1-.6738.0308l-3-2.5a.5.5,0,1,1,.6406-.7686l2.6489,2.208,5.6772-5.6772A.5.5,0,0,1,16.8536,7.1484Z" />
                    </g>
                </svg>
                <h5>2 hours</h5>
                <span>Average support response</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                    <g>
                        <path d="M2.5,16.5h-1A1.5,1.5,0,0,0,0,18v5.5A1.5,1.5,0,0,0,1.5,25h1A1.5,1.5,0,0,0,4,23.5V18A1.5,1.5,0,0,0,2.5,16.5Zm.5,7a.5.5,0,0,1-.5.5h-1a.5007.5007,0,0,1-.5-.5V18a.5007.5007,0,0,1,.5-.5h1A.5.5,0,0,1,3,18ZM9.5,11h-1A1.5,1.5,0,0,0,7,12.5v11A1.5,1.5,0,0,0,8.5,25h1A1.5,1.5,0,0,0,11,23.5v-11A1.5,1.5,0,0,0,9.5,11ZM10,23.5a.5.5,0,0,1-.5.5h-1a.5007.5007,0,0,1-.5-.5v-11a.5007.5007,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5ZM22.9118,7.218,17.8.4a1,1,0,0,0-1.6,0L11.0884,7.218A.5.5,0,0,0,11.501,8H15V23.5A1.5,1.5,0,0,0,16.5,25h1A1.5,1.5,0,0,0,19,23.5V8h3.4992A.5.5,0,0,0,22.9118,7.218ZM18,7V23.5a.5.5,0,0,1-.5.5h-1a.5007.5007,0,0,1-.5-.5V7H12.4485l4.5493-6,.0012,0,4.5522,6Z" />
                    </g>
                </svg>
                <h5>99.99%</h5>
                <span>SLA</span>
            </li>
        </ul>
    </div>
</div>

<div id="code">
    <div class="container">
        <h2>Integrate PDFShift in just three lines of code</h2>
        <p class="excerpt">
            We believe that developers should focus their time on things that matters, not setting up yet another PDF library.
            Because we eliminate needless complexity and provide an up-to-date service, you can get up and running with PDFShift in just a couple of minutes.
        </p>

        <div class="row">
            <div class="column nine">
                <div class="code-samples">
                    <div id="code-javascript" class="visible">
                        <div class="code-section">
                            <pre><code class="javascript">// Step 1, install PDFShift
npm install pdfshift

// Step 2, import PDFShift
const pdfshift = require('pdfshift')('user_api_key');
const fs = require('fs');

// Step 3, execute
pdfshift.convert('https://en.wikipedia.org/wiki/PDF', {"landscape":false,"use_print":false}).then(function (binary_file) {
fs.writeFile('pdfshift-documentation.pdf', binary_file, "binary", function () {})
}).catch(function({message, code, response, errors = null}) {})

// Step 4: Sit back, relax, and enjoy a worry free conversion system.</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-python">
                        <div class="code-section">
                            <pre><code class="python">import requests

response = requests.post(
'https://api.pdfshift.io/v2/convert/',
auth=('user_api_key', ''),
json={"source":"https://en.wikipedia.org/wiki/PDF","landscape":False,"use_print":False}
)

response.raise_for_status()

with open('pdfshift-documentation.pdf', 'wb') as f:
f.write(response.content)

# We also have a package to simplify your work:
# https://pypi.org/project/pdfshift/</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-php">
                        <div class="code-section">
                            <pre><code class="php">&lt;?php
$curl = curl_init();

curl_setopt_array($curl, array(
CURLOPT_URL => "https://api.pdfshift.io/v2/convert/",
CURLOPT_RETURNTRANSFER => true,
CURLOPT_POST => true,
CURLOPT_POSTFIELDS => json_encode(array("source" => "https://en.wikipedia.org/wiki/PDF", "landscape" => false, "use_print" => false)),
CURLOPT_HTTPHEADER => array('Content-Type:application/json'),
CURLOPT_USERPWD => 'user_api_key:'
));

$response = curl_exec($curl);
file_put_contents('pdfhsift-documentation.pdf', $response);

// We also have a package to simplify your work:
// https://packagist.org/packages/pdfshift/pdfshift-php</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-ruby">
                        <div class="code-section">
                            <pre><code class="ruby">require 'uri'
require 'net/http'

url = URI("https://api.pdfshift.io/v2/convert/")

http = Net::HTTP.new(url.host, url.port)
http.use_ssl = true
http.verify_mode = OpenSSL::SSL::VERIFY_NONE

request = Net::HTTP::Post.new(url, 'Content-Type' => 'application/json')
request.basic_auth('user_api_key', '')
request.body = {source: "https://en.wikipedia.org/wiki/PDF", landscape: false, use_print: false}

response = http.request(request)
puts response.body</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-java">
                        <div class="code-section">
                            <pre><code class="java">String encoding = Base64.getEncoder().encodeToString("user_api_key:".getBytes());
HttpPost httppost = new HttpPost("https://api.pdfshift.io/v2/convert/");
httppost.setHeader("Authorization", "Basic " + encoding);
httppost.setHeader("Content-type", "application/json");

HttpEntity postingString = new StringEntity("{\"source\":\"https://en.wikipedia.org/wiki/PDF\",\"landscape\":false,\"use_print\":false}");
httppost.setEntity(postingString);

CloseableHttpClient client = HttpClients.createDefault();

try (CloseableHttpResponse response = client.execute(httppost)) {
HttpEntity entity = response.getEntity();
// Use the entity
}</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-csharp">
                        <div class="code-section">
                            <pre><code class="csharp">HttpClient client = new HttpClient();
httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(
"Basic",
Convert.ToBase64String(
System.Text.ASCIIEncoding.ASCII.GetBytes(
    string.Format("{0}:{1}", "user_api_key", ""))));

var values = new Dictionary&lt;string, string&gt;
{
{ "source", "https://en.wikipedia.org/wiki/PDF" },
{ "landscape", "false" },
{ "use_print", "false" }
};

var content = new FormUrlEncodedContent(values);
var response = await client.PostAsync("https://api.pdfshift.io/v2/convert/", content);
var binaryPdf = await response.Content.ReadAsByteArrayAsync();</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                    <div id="code-curl">
                        <div class="code-section">
                            <pre><code class="bash">curl \
-u 'user_api_key:' \
-d source="https://en.wikipedia.org/wiki/PDF" \
-d landscape="false" \
-d use_print="false" \
https://api.pdfshift.io/v2/convert/ \
-o pdfhsift-documentation.pdf

# That's all!</code></pre>
                            <div class="copy">
                                <a href="javascript:;" title="Click here to copy to clipoard" class="button" ref="copy">Copy to clipboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column three">
                <ul class="unstyled code-selection">
                    <li class="selected"><a href="javascript:;" title="View our code sample in Javascript" data-language="javascript">Javascript</a></li>
                    <li><a href="javascript:;" title="View our code sample in Python" data-language="python">Python</a></li>
                    <li><a href="javascript:;" title="View our code sample in PHP" data-language="php">PHP</a></li>
                    <li><a href="javascript:;" title="View our code sample in Ruby" data-language="ruby">Ruby</a></li>
                    <li><a href="javascript:;" title="View our code sample in JAVA" data-language="java">JAVA</a></li>
                    <li><a href="javascript:;" title="View our code sample in C#" data-language="csharp">C#</a></li>
                    <li><a href="javascript:;" title="View our code sample in cURL" data-language="curl">cURL</a></li>
                </ul>
                <a href="https://docs.pdfshift.io/" title="View our advanced documentation" class="button button-primary">Full API Reference ➡</a>
            </div>
        </div>
    </div>
</div>

<div id="features">
    <div class="container">
        <h2>Features</h2>

        <div class="row">
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path d="M2,17.5a.5.5,0,0,1,.5-.5h18a.5.5,0,0,1,0,1H2.5A.5.5,0,0,1,2,17.5ZM20.5,20H2.5a.5.5,0,0,0,0,1h18a.5.5,0,0,0,0-1Zm0,3H2.5a.5.5,0,0,0,0,1h18a.5.5,0,0,0,0-1ZM7.8535,5.8535,11,2.707V14.5a.5.5,0,0,0,1,0V2.707l3.1465,3.1465a.5.5,0,1,0,.707-.707l-4-4a.5.5,0,0,0-.707,0l-4,4a.5.5,0,0,0,.707.707Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Parallel conversions</h5>
                        <p>Process multiple documents in parallel to increase conversion speed.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path d="M12.5,16A5.5,5.5,0,1,0,7,10.5,5.5,5.5,0,0,0,12.5,16Zm0-10A4.5,4.5,0,1,1,8,10.5,4.505,4.505,0,0,1,12.5,6Zm-.3,5.4A.5.5,0,0,1,12,11V8.5a.5.5,0,0,1,1,0v2.25l1.8,1.35a.5.5,0,1,1-.6.8ZM22.5,17H22V1.5A1.5,1.5,0,0,0,20.5,0H4.5A1.5,1.5,0,0,0,3,1.5V17H2.5A1.5,1.5,0,0,0,1,18.5v5A1.5,1.5,0,0,0,2.5,25h20A1.5,1.5,0,0,0,24,23.5v-5A1.5,1.5,0,0,0,22.5,17ZM4,1.5A.5006.5006,0,0,1,4.5,1h16a.5006.5006,0,0,1,.5.5V17H17.5A1.5,1.5,0,0,0,16,18.5v1a.5.5,0,0,1-.5.5h-6a.5.5,0,0,1-.5-.5v-1A1.5,1.5,0,0,0,7.5,17H4Zm19,22a.5.5,0,0,1-.5.5H2.5a.5.5,0,0,1-.5-.5v-5a.5.5,0,0,1,.5-.5h5a.5.5,0,0,1,.5.5v1A1.5017,1.5017,0,0,0,9.5,21h6A1.5017,1.5017,0,0,0,17,19.5v-1a.5.5,0,0,1,.5-.5h5a.5.5,0,0,1,.5.5Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Asynchronous request</h5>
                        <p>Use our powerful webhook system to be notified once a conversion is done.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path d="M4,14.05V.5a.5.5,0,0,0-1,0V14.05A2.5,2.5,0,0,0,3,18.95V22.5a.5.5,0,0,0,1,0V18.95A2.5,2.5,0,0,0,4,14.05ZM3.5,18A1.5,1.5,0,1,1,5,16.5,1.5016,1.5016,0,0,1,3.5,18ZM22,10.05V.5a.5.5,0,0,0-1,0v9.55A2.5,2.5,0,0,0,21,14.95V22.5a.5.5,0,0,0,1,0V14.95A2.5,2.5,0,0,0,22,10.05ZM21.5,14A1.5,1.5,0,1,1,23,12.5,1.5016,1.5016,0,0,1,21.5,14ZM13,4.05V.5a.5.5,0,0,0-1,0V4.05A2.5,2.5,0,0,0,12,8.95V22.5a.5.5,0,0,0,1,0V8.95A2.5,2.5,0,0,0,13,4.05ZM12.5,8A1.5,1.5,0,1,1,14,6.5,1.5016,1.5016,0,0,1,12.5,8Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Advanced Options</h5>
                        <p>Set custom headers and footers with pagination, inject custom CSS and javascript, encrypt your documents and many more!</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <svg viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path d="M20.56 6.88L14.12.44A1.5 1.5 0 0 0 13.06 0H1.5C.67 0 0 .67 0 1.5v22c0 .83.67 1.5 1.5 1.5h18c.83 0 1.5-.67 1.5-1.5V7.94c0-.4-.16-.77-.44-1.06zm-1.3.12H14.5a.5.5 0 0 1-.5-.5l-.02-4.79L19.26 7zM20 23.5a.5.5 0 0 1-.5.5h-18a.5.5 0 0 1-.5-.5v-22c0-.28.22-.5.5-.5h11.47L13 6.5c0 .83.67 1.5 1.5 1.5H20v15.5z" />
                            <path d="M8.93 18.57a.25.25 0 1 1-.36.36l-4.5-4.5a.25.25 0 0 1 0-.36l4.5-4.5a.25.25 0 1 1 .36.36L4.6 14.25l4.33 4.32zM11.57 9.93a.25.25 0 1 1 .36-.36l4.5 4.5c.1.1.1.26 0 .36l-4.5 4.5a.25.25 0 1 1-.36-.36l4.33-4.32-4.33-4.32z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Raw HTML support</h5>
                        <p>No need to make your private page public. Simply send us your raw HTML data instead and we will convert it.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path class="cls-1" d="M18.5,3H6.5A1.5,1.5,0,0,0,5,4.5v16A1.5,1.5,0,0,0,6.5,22h12A1.5,1.5,0,0,0,20,20.5V4.5A1.5,1.5,0,0,0,18.5,3ZM19,20.5a.5.5,0,0,1-.5.5H6.5a.5.5,0,0,1-.5-.5V4.5A.5.5,0,0,1,6.5,4h12a.5.5,0,0,1,.5.5ZM8,8.5A.5.5,0,0,1,8.5,8h4a.5.5,0,0,1,0,1h-4A.5.5,0,0,1,8,8.5Zm9,4a.5.5,0,0,1-.5.5h-8a.5.5,0,0,1,0-1h8A.5.5,0,0,1,17,12.5Zm0,4a.5.5,0,0,1-.5.5h-8a.5.5,0,0,1,0-1h8A.5.5,0,0,1,17,16.5ZM3,.5v2a.5.5,0,0,1-.5.5H.5a.5.5,0,0,1,0-1H2V.5a.5.5,0,0,1,1,0Zm0,22v2a.5.5,0,0,1-1,0V23H.5a.5.5,0,0,1,0-1h2A.5.5,0,0,1,3,22.5Zm19-20V.5a.5.5,0,0,1,1,0V2h1.5a.5.5,0,0,1,0,1h-2A.5.5,0,0,1,22,2.5Zm3,20a.5.5,0,0,1-.5.5H23v1.5a.5.5,0,0,1-1,0v-2a.5.5,0,0,1,.5-.5h2A.5.5,0,0,1,25,22.5Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>High-Fidelity PDF</h5>
                        <p>Generate a high-fidelity document, close to your original HTML, in a few seconds.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                        <g>
                            <path d="M2,0V11c0,4.625,5.4375,12,10.5,12S23,15.625,23,11V0ZM22,11c0,4.2437-5.1872,11-9.5,11S3,15.2437,3,11V1H22ZM5,11.5v-8A.5.5,0,0,1,5.5,3h5a.5.5,0,0,1,0,1H6v7.5C6,14.3936,9.5493,19,12.5,19a.5.5,0,0,1,0,1C8.9507,20,5,14.9336,5,11.5Z" />
                        </g>
                    </svg>
                    <div>
                        <h5>Privacy focused</h5>
                        <p>That's why your documents are not stored on our server (except when explicity requested), and are not kept for more than 2 days.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/register/" title="Get my API key" class="button button-primary create-account">Get my API key ➡</a>
    </div>
</div>

<div id="testimonials">
    <div class="container">
        <h2>They trust us.</h2>
        <p class="excerpt">See what our users have to say about PDFShift.</p>

        <div>
            <a href="javascript:;" class="button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 0 26 25">
                    <g>
                        <path d="M12,0A12.5,12.5,0,1,0,24.5,12.5,12.5,12.5,0,0,0,12,0Zm0,24A11.5,11.5,0,1,1,23.5,12.5,11.5129,11.5129,0,0,1,12,24ZM15.2544,6.8444,9.5944,12.5l5.66,5.6556a.4948.4948,0,0,1-.7.6994L8.5444,12.85a.4942.4942,0,0,1,0-.6995l6.01-6.0054a.4948.4948,0,0,1,.7.6995Z" />
                    </g>
                </svg>
            </a>
            <ul class="unstyled slider">
                <li>
                    <img src="https://avatars.io/twitter/sujanpatel" alt="Sujan Patel 's avatar">
                    <strong>Sujan Patel</strong>
                    <a href="https://twitter.com/sujanpatel/status/1034113691564875776" title="View Sujan Patel's message on Twitter" target="_blank">@sujanpatel
                    <p>Need to convert HTML documents to PDF? The team behind <a href="https://pdfshift.io" target="_blank">https://pdfshift.io</a> is doing a terrific job!</p>
                </li>
                <li>
                    <img src="https://avatars.io/twitter/northcoders" alt="Northcoders 's avatar">
                    <strong>Northcoders</strong>
                    <a href="https://twitter.com/northcoders/status/1017065907410042881" title="View Northcoders's message on Twitter">@northcoders</a>
                    <p>
                        The HTML to PDF <a href="https://twitter.com/hashtag/API?src=hash" target="_blank">#API</a> you've been waiting for is here and we love it!
                        <a href="https://www.twitter.com/pdfshift" target="_blank">@pdfshift</a> <a href="https://pdfshift.io/?tab=javascript" target="_blank">https://pdfshift.io/?tab=javascript</a>
                        <a href="https://twitter.com/hashtag/javascript?src=hash" target="_blank">#javascript</a>
                    </p>
                </li>
                <li>
                    <img src="https://avatars.io/twitter/gcarrenos" alt="Gustavo Carreno 's avatar">
                    <strong>Gustavo Carreno</strong>
                    <a href="https://twitter.com/gcarrenos/status/1027575609092960256" title="View Gustavo Carreno's message on Twitter">@gcarrenos</a>
                    <p>
                        I'm using <a href="https://pdfshift.io" target="_blank">https://pdfshift.io</a> to
                        convert my HTML documents to PDF and it does the job really well. No need to write my own code anymore! :)
                        <a href="https://www.twitter.com/pdfshift" target="_blank">@pdfshift</a>
                    </p>
                </li>
                <li>
                    <img src="https://avatars.io/twitter/JavaScriptDaily" alt="JavaScript Daily 's avatar">
                    <strong>JavaScript Daily</strong>
                    <a href="https://twitter.com/JavaScriptDaily/status/1014944000304992256" title="View JavaScript Daily's message on Twitter">@JavaScriptDaily</a>
                    <p>
                        PDFShift: An Easy-to-Use Remote HTML to PDF API - <a href="https://pdfshift.io/?tab=javascript" target="_blank">https://pdfshift.io/?tab=javascript</a>
                        (A commercial service but free up to 250 conversions per month.)
                    </p>
                </li>
                <li>
                    <img src="https://avatars.io/twitter/azatmardan" alt="Azat Mardan 's avatar">
                    <strong>Azat Mardan</strong>
                    <a href="https://twitter.com/azatmardan/status/1018329559136120832" title="View Azat Mardan's message on Twitter">@azatmardan</a>
                    <p>PDFShift: An Easy-to-Use Remote HTML to PDF API</p>
                </li>
                <li>
                    <img src="https://avatars.io/twitter/j_kniest" alt="Jordan Kniest 's avatar">
                    <strong>Jordan Kniest</strong>
                    <a href="https://twitter.com/j_kniest/status/1036984306609139714" title="View Jordan Kniest's message on Twitter">@j_kniest</a>
                    <p>
                        Dynamic <a href="https://twitter.com/hashtag/PDF?src=hash" target="_blank">#PDF</a> generation was never easier. Simple, straightforward API to convert HTML code and websites to PDF files.
                        <a href="https://pdfshift.io" target="_blank">https://pdfshift.io</a> <a href="https://twitter.com/hashtag/PDFShift?src=hash" target="_blank">#PDFShift</a>
                        <a href="https://www.twitter.com/pdfshift" target="_blank">@pdfshift</a>
                    </p>
                </li>
                <li>
                    <img src="https://avatars.io/twitter/JavaScriptKicks" alt="JavaScriptKicks 's avatar">
                    <strong>JavaScriptKicks</strong>
                    <a href="https://twitter.com/JavaScriptKicks/status/1014195972417695744" title="View JavaScriptKicks's message on Twitter">@JavaScriptKicks</a>
                    <p>
                        PDFShift - Convert HTML to PDF online with PDFShift's lightning-fast and powerful API by
                        <a href="https://www.twitter.com/pdfshift" target="_blank">@pdfshift</a>
                        <a href="https://javascriptkicks.com/r/39676?url=https://pdfshift.io/pricing" target="_blank">https://javascriptkicks.com/r/39676?url=https://pdfshift.io/pricing</a> …
                        <a href="https://twitter.com/hashtag/javascript?src=hash" target="_blank">#javascript</a> via <a href="https://www.twitter.com/JavaScriptKicks" target="_blank">@JavaScriptKicks</a>
                    </p>
                </li>
                <li>
                    <img src="https://avatars.io/twitter/programmableweb" alt="ProgrammableWeb 's avatar">
                    <strong>ProgrammableWeb</strong>
                    <a href="https://twitter.com/programmableweb/status/1011685780878749696" title="View ProgrammableWeb's message on Twitter">@programmableweb</a>
                    <p>
                        Convert HTML documents to watermarked, <a href="https://twitter.com/hashtag/encrypted?src=hash" target="_blank">#encrypted</a> PDFs with <a href="https://www.twitter.com/PDFshift" target="_blank">@PDFshift</a>
                        <a href="https://twitter.com/hashtag/API?src=hash" target="_blank">#API</a> <a href="http://bit.ly/2yCXYQQ" target="_blank">http://bit.ly/2yCXYQQ</a>
                    </p>
                </li>
            </ul>
            <a href="javascript:;" class="button-next">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 0 26 25">
                    <g>
                        <path d="M12,0A12.5,12.5,0,1,0,24.5,12.5,12.5,12.5,0,0,0,12,0Zm0,24A11.5,11.5,0,1,1,23.5,12.5,11.5129,11.5129,0,0,1,12,24Zm4.355-11.7491a.4942.4942,0,0,1,0,.6995l-6.01,6.0053a.4948.4948,0,1,1-.7-.6994l5.66-5.6556L9.645,6.9449a.4948.4948,0,1,1,.7-.6995Z" />
                    </g>
                </svg>
            </a>
        </div>
    </div>
</div>

<div id="pricing">
    <div class="container">
        <h2>Pricing</h2>
        <p class="excerpt">
            Because we believe your usage is specific, we made plans adapted to each specific needs.<br />
            Each plan comes with a defined number of conversions. A conversion represents one document converted.
        </p>

        <div class="row">
            <div class="column">
                <div>
                    <svg viewBox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-330.000000, -5817.000000)">
                                <g transform="translate(0.000000, 5343.234375)">
                                    <g transform="translate(192.750000, 419.000000)">
                                        <g transform="translate(137.500000, 55.601562)">
                                            <path d="M33,17 C29.03345,17 25.61652,19.31537 24,22.66302 L24,1 C24,0.44775 23.55273,0 23,0 C22.44727,0 22,0.44775 22,1 L22,12.66302 C20.38348,9.31537 16.96655,7 13,7 L11,7 L11,11 C11,16.52283 15.47717,21 21,21 L22,21 L22,37.25293 C22,37.80518 22.44727,38.25293 23,38.25293 C23.55273,38.25293 24,37.80518 24,37.25293 L24,31 L25,31 C30.52283,31 35,26.52283 35,21 L35,17 L33,17 Z" id="Path" fill="#72C472"></path>
                                            <path d="M45,46 L1,46 C0.44727,46 0,45.55225 0,45 C0,44.44775 0.44727,44 1,44 L10.10059,44 C10.56543,41.7207 12.58497,40 15,40 C15.76367,40 16.51562,40.18164 17.19922,40.52295 C18.78809,37.74121 21.73633,36 25,36 C29.625,36 33.44531,39.50635 33.94434,44 L45,44 C45.55273,44 46,44.44775 46,45 C46,45.55225 45.55273,46 45,46 Z" id="Path" fill="#A67C52"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h4>Growth</h4>

                    <div class="price">
                        <small>$</small>39<small>/month</small>
                    </div>

                    <ul class="unstyled features">
                        <li><strong>10,000</strong> monthly conversions</li>
                        <li><strong>Up to 10Mb</strong> per PDFs</li>
                    </ul>
                </div>
                <a href="/register/" title="Get my API key" class="button button-primary create-account">Get my API key ➡</a>
            </div>
            <div class="column selected">
                <div>
                    <svg viewBox="0 0 47 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-671.000000, -5817.000000)">
                                <g transform="translate(0.000000, 5343.234375)">
                                    <g transform="translate(533.750000, 419.000000)">
                                        <g transform="translate(137.500000, 54.871094)">
                                            <path d="M42,30 L4,30 C2.89543,30 2,30.89543 2,32 L2,40 C2,41.10457 2.89543,42 4,42 L42,42 C43.10457,42 44,41.10457 44,40 L44,32 C44,30.89543 43.10457,30 42,30 Z" id="Path" fill="#87613E"></path>
                                            <path d="M31,8 C30.44727,8 30,7.55225 30,7 L30,2 L16,2 L16,7 C16,7.55225 15.55273,8 15,8 C14.44727,8 14,7.55225 14,7 L14,1 C14,0.44775 14.44727,0 15,0 L31,0 C31.55273,0 32,0.44775 32,1 L32,7 C32,7.55225 31.55273,8 31,8 Z" id="Path" fill="#87613E"></path>
                                            <path d="M44,6 L2,6 C0.89543,6 0,6.89543 0,8 L0,30 C0,31.10457 0.89543,32 2,32 L44,32 C45.10457,32 46,31.10457 46,30 L46,8 C46,6.89543 45.10457,6 44,6 Z" id="Path" fill="#A67C52"></path>
                                            <path d="M29,23 L17,23 C16.44772,23 16,22.55228 16,22 L16,16 C16,15.44772 16.44772,15 17,15 L29,15 C29.55228,15 30,15.44772 30,16 L30,22 C30,22.55228 29.55228,23 29,23 Z" id="Path" fill="#EFD358"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h4>Business</h4>

                    <div class="price">
                        <small>$</small>99<small>/month</small>
                    </div>

                    <ul class="unstyled features">
                        <li><strong>50,000</strong> monthly conversions</li>
                        <li><strong>Up to 25Mb</strong> per PDFs</li>
                    </ul>
                </div>
                <a href="/register/" title="Get my API key" class="button button-primary create-account">Get my API key ➡</a>
            </div>
            <div class="column">
                <div>
                    <svg viewBox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-1012.000000, -5817.000000)">
                                <g transform="translate(0.000000, 5343.234375)">
                                    <g transform="translate(874.750000, 419.000000)">
                                        <g transform="translate(137.500000, 55.601562)">
                                            <path d="M45.45801,14.11035 C45.12403,13.93847 44.72266,13.96777 44.41895,14.18652 L32,23.05664 L32,15 C32,14.63672 31.80273,14.30176 31.48438,14.125 C31.16797,13.9502 30.77833,13.95801 30.46973,14.15234 L15.33398,23.6123 L9.85742,14.48535 C9.67676,14.18457 9.35156,14 9,14 L1,14 C0.44727,14 0,14.44727 0,15 L0,45 C0,45.55273 0.44727,46 1,46 L45,46 C45.55273,46 46,45.55273 46,45 L46,15 C46,14.625 45.79102,14.28223 45.45801,14.11035 Z" id="Path" fill="#444444"></path>
                                            <path d="M39,32 L33,32 C32.44727,32 32,32.44727 32,33 L32,39 C32,39.55273 32.44727,40 33,40 L39,40 C39.55273,40 40,39.55273 40,39 L40,33 C40,32.44727 39.55273,32 39,32 Z" id="Path" fill="#BADEFC"></path>
                                            <path d="M27,32 L21,32 C20.44727,32 20,32.44727 20,33 L20,39 C20,39.55273 20.44727,40 21,40 L27,40 C27.55273,40 28,39.55273 28,39 L28,33 C28,32.44727 27.55273,32 27,32 Z" id="Path" fill="#BADEFC"></path>
                                            <path d="M21,1.95801 C19.25586,1.95801 17.58105,2.62403 16.30273,3.78711 C14.62891,1.4209 11.94043,0 9,0 C4.03711,0 0,4.03711 0,9 C0,9.55273 0.44727,10 1,10 L26.99609,10 C27.52246,10 27.95312,9.59375 27.99316,9.07812 C27.99707,9.03809 28,8.99219 28,8.95801 C28,5.09863 24.85938,1.95801 21,1.95801 Z" id="Path" fill="#B3B3B3"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h4>Enterprise</h4>

                    <p>
                        <strong>Need to convert more than 50,000 pages?</strong><br />
                        Contact us and we will create a customized pricing plan tailored to your needs.
                    </p>
                </div>
                <a href="/contact/" title="Get in touch with our sales team" class="button button-primary">Contact us ➡</a>
            </div>
        </div>

        <div class="action">
            <a href="/pricing/" title="View and compare our various plans" class="button button-primary">Compare each plans</a>
        </div>
    </div>
</div>

<div id="contact">
    <div class="container">
        {% include '_partials/contact.njk' %}
    </div>
</div>
<!--
    Don't loose time crafting a nice PDF document
-->
{% endblock %}

{% block javascripts %}
<script>
    {% include '_partials/js/contact.js' %}

    // Try me
    (function () {
        document.querySelector('#try-me .css>a').addEventListener('click', function () {
            document.querySelector('#try-me textarea').parentElement.classList.toggle('visible');
        }, false)

        var form = document.querySelector('#try-me form'),
            submitButton = form.querySelector('.button');

        form.addEventListener('submit', function (event) {
            if (submitButton.classList.contains('button-disabled')) {
                return false;
            }

            form.classList.remove('error')

            submitButton.classList.add('button-disabled');
            
            event.preventDefault();
            var params = window.PDFShift.forms.asJSON(form);
            params['filename'] = 'result.pdf';
            params['timeout'] = 15;

            window.PDFShift.requests.post('convert', params).then(
                function (json) {
                    submitButton.classList.remove('button-disabled');
                    window.open(json.url, '_blank').focus();
                },
                function (response) {
                    var error = 'A fatal error occured.';
                    if (response.data) {
                        if (response.data.hasOwnProperty('error')) {
                            error = response.data.error;
                        } else if (response.data.hasOwnProperty('errors')) {
                            var keyname = Object.keys(response.data.errors)[0]
                            error = keyname + ' : ' + response.data.errors[keyname][0]
                        }
                    }
                    form.classList.add('error')
                    form.querySelector('p.error').innerText = error
                    submitButton.classList.remove('button-disabled');
                }
            )

            return false;
        }, true)
    })();

    // Code blocks
    window.PDFShift.onReady(function () {
        window.PDFShift.load(['//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js', '//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js'], function () {
            // Highlighting the blocks:
            var blocks = document.querySelectorAll('pre code');
            for (var i = 0; i < blocks.length; i++) {
                hljs.highlightBlock(blocks[i]);
            }

            var code = document.querySelector('#code');

            code.querySelector('.code-selection').addEventListener('click', function (event) {
                if (event.target.nodeName !== 'A') {
                    return;
                }

                window.PDFShift.storage.set('language', event.target.dataset.language);

                code.querySelector('.code-samples>.visible').classList.remove('visible');
                code.querySelector('.code-samples>#code-' + event.target.dataset.language).classList.add('visible');
                code.querySelector('.code-selection>.selected').classList.remove('selected');
                event.target.parentElement.classList.add('selected');
            }, false)

            if (ClipboardJS.isSupported()) {
                function setCopyEvent(target) {
                    var parent = target.parentElement, innerText = null;
                    while (true) {
                        if (parent === null) {
                            return // We can't find it so we stop, useless to continue ...
                        }
                        if (parent.classList.contains('code-section')) {
                            break
                        }
                        parent = parent.parentElement;
                    }

                    innerText = parent.querySelector('pre>code').innerText;

                    var clipboard = new ClipboardJS(target, {
                        'text': function (trigger) {
                            return innerText
                        }
                    })

                    clipboard.on('success', function (e) {
                        // this.resetCopyMessage('Copied!')
                        target.innerText = 'Copied!'
                        target.classList.add('button-disabled')
                        setTimeout(function () {
                            target.innerText = 'Copy to clipboard';
                            target.classList.remove('button-disabled')
                        }, 5000)
                        e.clearSelection()
                    })

                    clipboard.on('error', function (e) {
                        target.innerText = 'An error occured!'
                        target.classList.add('button-disabled')
                    })
                }

                var buttons = code.querySelectorAll('.code-samples .code-section .copy>a');
                for (var i = 0 ; i < buttons.length; i++) {
                    setCopyEvent(buttons[i]);
                }
            }
        });
    });

    // Testimonials
    (function () {
    
    
    
        var sliderItems = document.querySelectorAll('#testimonials .slider>li'),
            buttonPrev = document.querySelector('#testimonials .button-prev')
            buttonNext = document.querySelector('#testimonials .button-next'),
            position = 0,
            itemDisplayedByDefault = 1;
            
            
window.addEventListener("resize", function() {
        if (window.matchMedia("(max-width: 1050px)").matches) {
                var itemDisplayedByDefault = 2;
        }
        else if (window.matchMedia("(max-width: 768px)").matches) {
                var itemDisplayedByDefault = 1;
            } 
        else {
                var itemDisplayedByDefault = 4;
        }
});
            
            
        
        var sliderItemWidth = sliderItems[0].offsetWidth,
            style = sliderItems[0].currentStyle || window.getComputedStyle(sliderItems[0]);
        sliderItemWidth += parseFloat(style.marginLeft) + parseFloat(style.marginRight);

        buttonNext.addEventListener('click', function (evt) {
            if ((position + itemDisplayedByDefault + 1) >= sliderItems.length) {
                buttonNext.classList.add('button-disabled')
                if ((position + itemDisplayedByDefault + 1) > sliderItems.length) {
                    return false;
                }
            } else if (buttonNext.classList.contains('button-disabled')) {
                buttonNext.classList.remove('button-disabled')
            }

            if (position == 0) {
                buttonPrev.classList.remove('button-disabled')
            }

            position += 1;

            for (var i = 0; i < sliderItems.length; i++) {
                sliderItems[i].style['transform'] = 'translate(-' + (sliderItemWidth * position) + 'px)'
            }
            return false;
        }, false)

        buttonPrev.addEventListener('click', function (evt) {
            if (position <= 1) {
                buttonPrev.classList.add('button-disabled')
                if (position == 0) {
                    return false;
                }
            } else if (buttonPrev.classList.contains('button-disabled')) {
                buttonPrev.classList.remove('button-disabled')
            }

            if (position - itemDisplayedByDefault == 1) {
                buttonNext.classList.remove('button-disabled')
            }

            position -= 1;

            for (var i = 0; i < sliderItems.length; i++) {
                sliderItems[i].style['transform'] = 'translate(-' + (sliderItemWidth * position) + 'px)'
            }
            return false;
        }, false)

        buttonPrev.classList.add('button-disabled')
    })();

    {% include '_partials/js/contact.js' %}
</script>
{% endblock %}
