<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Converting your document ... please wait | PDFShift - The HTML to PDF API.</title>
        <meta name="keywords"    content="api, pdf, html, convert, document, web, conversion, text, pdfshift, raw, link" />
        <meta name="author"      content="Cyril Nicodeme">

        <meta name="viewport"              content="width=device-width,initial-scale=1,shrink-to-fit=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Lato" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/zeplin.css" />
        <link rel="stylesheet" href="/static/css/loading.css" />

        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicons/android-chrome-192x192.png">
        <link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="msapplication-TileColor" content="#623e98">
        <meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml">
        <link rel="manifest" href="/static/images/favicons/site.webmanifest">
        <meta name="theme-color" content="#ffffff">
        <meta name="apple-mobile-web-app-title" content="PDFShift">
        <meta name="application-name" content="PDFShift">
    </head>
    <body>
        <div>
            <img src="/static/images/logo/logo-white.png" />
            <div class="progress-bar">
                <span></span>
            </div>
            <ul>
                <li class="active">Retrieving the data ...</li>
                <li>Converting your document ...</li>
                <li>Applying the final touches</li>
                <li>Almost done ...</p>
            </ul>
        </div>
        <script>
        var timer = null;
        (function () {
            function nextActive() {
                var li = document.querySelector('body>div>ul>li.active');
                if (li.nextElementSibling === null) {
                    clearInterval(timer);
                    return
                }

                li.classList.remove('active');
                li.nextElementSibling.classList.add('active');
            }

            timer = setInterval(nextActive, 2000);
        })();
        </script>
    </body>
</html>
