{% set bodyClass = 'unified' %}
{% set seo_title = "Login to your account" %}
{% set seo_description = "Fill the form to login and manage your account." %}

{% extends '_partials/base.njk' %}

{% block main %}
<div class="container">
    <h1>Login to your account</h1>
    <p class="excerpt">
        Indicate the email you used to create your account<br />
        we will send you a one-time login link.
    </p>
    <div class="row">
        <div class="column six centered">
            <div class="transition" style="height: 265px">
                <div class="back white-block success">
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle cx="26" cy="26" r="25" fill="none"/>
                        <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                    <h3>All good! Check your emails.</h3>
                    <p>We just sent you a one time login by email to access your account.</p>
                </div>
                <div class="front">
                    <form id="login-form">
                        <div class="form-element">
                            <input type="email" name="email" placeholder="Email Address" required />
                        </div>

                        <input type="submit" name="submit" value="Send me a one-time login link" class="button button-primary" />
                    </form>
                    <p>Don't have an account? <a href="/register/" title="Click here to create an account">Click here to create one</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
// Create form
(function () {
    var form = document.querySelector('#login-form'),
        submitButton = form.querySelector('.button');

    form.addEventListener('submit', function (event) {
        if (submitButton.classList.contains('button-disabled')) {
            return false;
        }

        submitButton.classList.add('button-disabled');
        window.PDFShift.forms.clearErrors(form);
        event.preventDefault();

        var params = window.PDFShift.forms.asJSON(form);

        window.PDFShift.requests.post('auth/lost-password', params).then(
            function (json) {
                submitButton.classList.remove('button-disabled');
                form.reset();
                form.parentNode.parentNode.classList.add('active');
            },
            function (response) {
                var errors = {'email': ['An error occured.']};
                if (response.data) {
                    if (response.data.hasOwnProperty('error')) {
                        var errors = {'email': [response.data.error]};
                    } else if (response.data.hasOwnProperty('errors')) {
                        errors = response.data['errors'];
                    }
                }

                window.PDFShift.forms.setErrors(form, errors);
                submitButton.classList.remove('button-disabled');
            }
        )
        return false;
    }, true);
})();
</script>
{% endblock %}