{# @see https://proto.io/en/presskit/ #}
{% set custom_css = 'press' %}

{% set seo_title = "Download our Press kit" %}
{% set seo_description = "The PDFShift press kit contains the official PDFShift.io logos, icons and banners." %}

{% extends '_partials/base.njk' %}

{% block main %}
<section class="press press--grey">
    <div class="container">
        <ul class="press__breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>Media & Press Kit</li>
        </ul>
        <div class="press__downloads">
            <h1 class='press__heading'>Media & Press Kit</h1>
            <p>
                The PDFShift press kit contains the official PDFShift.io logos, icons and, banners.
                Feel free to use these materials as you please.
                We appreciate any and all coverage!
            </p>
            <p>For press releases and news, contact <a href="mailto:press@pdfshift.io">press@pdfshift.io</a>.</p>
            <a href="/static/images/pdfshift-press-kit.zip" class="button button-secondary press__button" target="_blank" title="Download our all Press Kit">Download the entire kit .zip</a>

            <div class="row press__cards">
                <div class="column press__card">
                    <div class="press__card__img press__card__img--logo"></div>
                    <div class="press__card__text">
                        <h4>Logo</h4>
                        <ul class="unstyled press__card__list">
                            <li>.png - <a href="/static/images/logo/logo-violet.png" target="_blank" title="Download our logo in PNG format">Download</a></li>
                            <li>.svg - <a href="/static/images/logo/logo.svg" target="_blank" title="Download our logo in SVG format">Download</a></li>
                            <li>.pdf - <a href="/static/images/logo/logo.pdf" target="_blank" title="Download our logo in PDF format">Download</a></li>
                        </ul>
                    </div>
                </div>

                <div class="column press__card">
                    <div class="press__card__img press__card__img--icons"></div>
                    <div class="press__card__text">
                        <h4>Icons</h4>
                        <ul class="unstyled press__card__list">
                            <li>.png - <a href="/static/images/icons/icon-violet.png" target="_blank" title="Download our icon in PNG format">Download</a></li>
                            <li>.svg - <a href="/static/images/icons/icon.svg" target="_blank" title="Download our icon in SVG format">Download</a></li>
                            <li>.pdf - <a href="/static/images/icons/icon.pdf" target="_blank" title="Download our icon in PDF format">Download</a></li>
                            <li>.ico - <a href="/static/images/icons/icon.ico" target="_blank" title="Download our icon in ICO format">Download</a></li>
                        </ul>
                    </div>
                </div>

                <div class="column press__card">
                    <div class="press__card__img press__card__img--banners"></div>
                    <div class="press__card__text">
                        <h4>Banners</h4>
                        <ul class="unstyled press__card__list">
                            <li>.png - <a href="/static/images/banner/slogan.png" target="_blank" title="Download our banner in PNG format">Download</a></li>
                            <li>.pdf - <a href="/static/images/banner/slogan.pdf" target="_blank" title="Download our banner in PDF format">Download</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="press">
    <div class="container">
        <h2 class='press__heading'>About PDFShift</h2>

        <p>
            PDFShift.io provides a powerful API to convert HTML documents into high-fidelity PDFs.
            It's focused on providing a fast and simple - but complete - API that allows any developer to setup their system in just a few minutes.
            The quick learning curve, the simplicity of the API and the quality of the results are what makes PDFShift a leader in the current market for Web-to-PDF conversion APIs.
        </p>

        <p>
            PDFShift's is a French company created by Cyril Nicodeme located in
        </p>

        <div class="press__address">
            PDFShift SAS<br />
            30 rue de la claichiere<br />
            2nd floor<br />
            90800 BAVILLIERS<br />
            France
        </div>
        

        <p>For all Press related inquiries, please contact our marketing team at <a href="mailto:press@pdfshift.io" title="Contact our marketing team">press@pdfshift.io</a> or directly via our <a href="/contact/" title="Use our contact form">contact form</a>.</p>
    </div>
</section>
{% endblock %}
