{% set bodyClass = 'pricing-details' %}
{% set seo_title = "Pricing plans that scale with you." %}
{% set seo_description = "View our various pricing plans and their differences." %}

{% extends '_partials/base.njk' %}

{% block hero %}
<div class="container hero">
    <div class="row">
        <div class="column twelve">
            <h1>Plans that scale with you</h1>
            <p>250 free conversions per months. No credit card required.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="pricing-details">
    <div class="pricing">
        <div  class="container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th><h4>Free</h4></th>
                        <th><h4>Starter</h4></th>
                        <th><h4>Growth</h4></th>
                        <th><h4>Business</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="key label">Monthly price</td>
                        <td><em>Free</em></td>
                        <td><strong>$9 USD</strong></td>
                        <td><strong>$39 USD</strong></td>
                        <td><strong>$99 USD</strong></td>
                    </tr>
                    <tr>
                        <td class="key label">Monthly conversions</td>
                        <td>250</td>
                        <td>1,000</td>
                        <td>10,000</td>
                        <td>50,000</td>
                    </tr>
                    <tr>
                        <td class="key label">
                            File size limit
                            <small>(per PDF)</small>
                        </td>
                        <td>1MB</td>
                        <td>5MB</td>
                        <td>10MB</td>
                        <td>25MB</td>
                    </tr>
                    <tr>
                        <td class="key label">
                            Overage
                            <small>(if enabled)</small>
                        </td>
                        <td>N/A</td>
                        <td>$1 <sup>per 100</sup><br />conversions</td>
                        <td>$0.50 <sup>per 100</sup><br />conversions</td>
                        <td>$0.25 <sup>per 100</sup><br />conversions</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="5">Features</td>
                    </tr>
                    <tr>
                        <td class="key label">Raw HTML input</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">CSS Injection</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Javascript Injection</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Delay</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Custom Page Size</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Custom HTTP Headers</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Custom Header &amp; Footer</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Encryption</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Watermark</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Asynchronous response</td>
                        <td class="no">&dash;</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Parallel Conversion</td>
                        <td class="no">&dash;</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">PDF Compression</td>
                        <td class="no">&dash;</td>
                        <td class="no">&dash;</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td class="key label">Amazon S3 delivery</td>
                        <td class="no">&dash;</td>
                        <td class="no">&dash;</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                    </tr>
                    <tr class="separator">
                        <td colspan="5">Service</td>
                    </tr>
                    <tr>
                        <td class="key label">Email support</td>
                        <td>24h</td>
                        <td>12h</td>
                        <td>6h</td>
                        <td>2h</td>
                    </tr>
                    <tr>
                        <td class="key label">HTML/CSS support</td>
                        <td class="no">&dash;</td>
                        <td class="no">&dash;</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr class="ctas">
                        <td class="key label"></td>
                        <td>
                            <a href="/register/?plan=free" title="Click here to create an account and get started" class="button button-primary">Get my API Key</a>
                        </td>
                        <td>
                            <a href="/register/?plan=starter" title="Click here to create an account and get started" class="button button-primary">Get my API Key</a>
                        </td>
                        <td>
                            <a href="/register/?plan=growth" title="Click here to create an account and get started" class="button button-primary">Get my API Key</a>
                        </td>
                        <td>
                            <a href="/register/?plan=business" title="Click here to create an account and get started" class="button button-primary">Get my API Key</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="faq" class="container">
        <h3>Frequently Asked Questions</h3>
        <div class="row">
            <div class="column half">
                <h4>What about data privacy?</h4>
                <p>We take privacy very seriously! We do not store the requests nor the generated documents. It's impossible for us to take a look at what you convert.</p>
            </div>
            <div class="column half">
                <h4>Which payment methods are supported?</h4>
                <p>We rely on Stripe for the payment, which supports Visa, Mastercard, American Express, Discover, JCB, Diner's Club, 3DS and China Union Pay.</p>
            </div>
        </div>
        <div class="row">
            <div class="column half">
                <h4>Do you have a free trial?</h4>
                <p>We offer a free version that includes 250 conversion requests per month for free. This covers a great majority of simple case, like generating invoices for your customers.</p>
            </div>
            <div class="column half">
                <h4>Do you offer annual plans?</h4>
                <p>Yes absolutely, we offer two months for free!</p>
            </div>
        </div>
        <div class="row">
            <div class="column half">
                <h4>Do I need to make a page publicly available to use PDFShift?</h4>
                <p>No, you can send the HTML instead. You don't need to put the page you want to convert publicly on the web.</p>
            </div>
            <div class="column half">
                <h4>What happens if I exceed my API request volume?</h4>
                <p>We will automatically notify at 50%, 80% and 100% of your credit usage. Further conversion request will fail.</p>
            </div>
        </div>
        <div class="row">
            <div class="column half">
                <h4>Can I get additional free credits for testing?</h4>
                <p>We will offer you a better solution instead! You can use the <code>sandbox</code> parameter to generate requests for free!</p>
            </div>
            <div class="column half">
                <h4>I didn't use the <code>sandbox</code> parameter, what now?</h4>
                <p>You haven't seen it when you started testing? No problem! <a href="mailto:support@pdfshift.io">Contact us</a> and we will give you more credits the first month!</p>
            </div>
        </div>

        <div class="cta">
            <a href="/contact/" title="Click here to contact us.">Have some questions? Ask us.</a>
        </div>
    </div>
</div>
{% endblock %}
