{% set bodyClass = 'unified' %}
{% set seo_title = "Create an account" %}
{% set seo_description = "Fill out the form by indicating your email address and start converting in a minute." %}

{% extends '_partials/base.njk' %}

{% block main %}
<div class="container">
    <h2>Create your account and get started</h2>
    <p class="excerpt">
        Fill out the form and you will quickly receive an email<br />
        containing your API key to start converting your documents.
    </p>
    <div class="row">
        <div class="column six centered">
            <form id="create-form">
                <div class="form-element">
                    <input type="text" name="name" placeholder="Full Name" required autofocus />
                </div>
                <div class="form-element">
                    <input type="email" name="email" placeholder="Email Address" required />
                </div>

                <input type="submit" name="submit" value="Create your free account" class="button button-primary" />

                <p>
                    <small>By signing up, you agree to the <a href="/terms/" title="Read our Terms of Service">Terms of Service</a> and <a href="/privacy/" title="Read our Privacy Policy">Privacy Policy</a>.</small>
                </p>
            </form>
            <p>Already have an account? <a href="/login/" title="Click here to switch to the login form">Click here to login</a>.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
{% include '_partials/js/register.js' %}
</script>
{% endblock %}