{% set bodyClass = 'unified' %}
{% set seo_title = "Create an account" %}
{% set seo_description = "Fill out the form by indicating your email address and start converting in a minute." %}

{% extends '_partials/base.njk' %}

{% block main %}
<div class="container">
    <h2>Create your account and get started</h2>
    <p class="excerpt">
        Fill out the form and you will quickly receive an email<br />
        containing your API key to start converting your documents.
    </p>
    <div class="row">
        <div class="column six centered">
            <div class="transition" style="height: 435px">
                <div class="front">
                    <form id="create-form">
                        <div class="form-element">
                            <input type="text" name="name" placeholder="Full Name" required autofocus />
                        </div>
                        <div class="form-element">
                            <input type="email" name="email" placeholder="Email Address" required />
                        </div>

                        <input type="submit" name="submit" value="Create your free account" class="button button-primary" />

                        <p>
                            <small>By signing up, you agree to the <a href="/terms/" title="Read our Terms of Service">Terms of Service</a> and <a href="/privacy/" title="Read our Privacy Policy">Privacy Policy</a>.</small>
                        </p>
                    </form>
                    <p>Already have an account? <a href="/login/" title="Click here to switch to the login form">Click here to login</a>.</p>
                </div>
                <div class="back white-block success">
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle cx="26" cy="26" r="25" fill="none"/>
                        <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                    <h3>All good! Check your emails.</h3>
                    <p>We just sent you an email containing your API key to start implementing PDFShift.</p>
                    <p>You'll be converting web documents to PDF in a few minutes now!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
{% include '_partials/js/register.js' %}
</script>
{% endblock %}