{% set seo_title = "Privacy Policy" %}
{% set seo_description = "Our Privacy Policy is designed to help you understand what information we collect and how we use and share that information." %}

{% extends '_partials/base.njk' %}

{% block main %}
<div class="container-small">
    <div class="page">
        <h1>List of Sub-processors engaged by PDFShift</h1>
        <p class="excerpt">We use the following 3rd party services to improve, understand troubleshoot, report bugs and provide support for you:</p>

        {% markdown "subprocessors.md" %}
        
        <p><strong>REMEMBER</strong>: We use these services only to provide you with a fantastic product that gives you easy access to things you like and to improve our general look and feel. If you choose to block, global opt out from some of the services that we use to deliver our product, you may run into errors, product bugs and other failures that influence your general experience and quality of our service. We are ok with that and respect your choice.</p>
    </div>
</div>
{% endblock %}