{% set custom_css = 'guides' %}

{% set seo_title = "List of our guides" %}
{% set seo_description = "Here are a list of all our guides that might help you integrate PDFSHift to your service." %}

{% extends '_partials/base.njk' %}

{% block main %}
<section class="guides">
    <div class="container">
        <ul class="guides__breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>Guides</li>
        </ul>
        <h1 class="guides__heading">Our Guides</h1>
        <p>Here's the list of all our guides that might help you integrate PDFSHift into your service.</p>
        
        <div class="guides__cards">
        <div class="row">
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-node/" title="Using Node.js">
                <div class="guides__card__img">
                    <img src="/static/images/guides/node.svg" alt="NodeJS's logo" />
                </div>
                <p>Convert HTML to PDF using Node.js</p>
                <div class="guides__more">Read Guide</div>
            </a>
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-python-package/" title="Using Python and our dedicated Package">
                <div class="guides__card__img">
                    <img src="/static/images/guides/python-pdf.svg" alt="Python's logo" />
                </div>
                <p>Convert HTML to PDF using Python and PDFShift's package</p>
                <div class="guides__more">Read Guide</div>
            </a>
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-python/" title="Using Python">
                <div class="guides__card__img">
                    <img src="/static/images/guides/python-requests.svg" alt="Python's logo" />
                </div>
                <p>Convert HTML to PDF using Python and `requests` package</p>
                <div class="guides__more">Read Guide</div>
            </a>
        </div>
        <div class="row">
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-php-composer/" title="Using PHP and our dedicated package">
                <div class="guides__card__img">
                    <img src="/static/images/guides/composer-pdf.svg" alt="PHP Composer's logo" />
                </div>
                <p>Convert HTML to PDF using PHP Composer with PDFShift's package</p>
                <div class="guides__more">Read Guide</div>
            </a>
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-php/" title="Using PHP">
                <div class="guides__card__img">
                    <img src="/static/images/guides/php.svg" alt="PHP's logo" />
                </div>
                <p>Convert HTML to PDF using PHP</p>
                <div class="guides__more">Read Guide</div>
            </a>
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-ruby/" title="Using Ruby">
                <div class="guides__card__img">
                    <img src="/static/images/guides/ruby.svg" alt="Ruby's logo" />
                </div>
                <p>Convert HTML to PDF using Ruby</p>
                <div class="guides__more">Read Guide</div>
            </a>
        </div>
        <div class="row">
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-java/" title="Using Java">
                <div class="guides__card__img">
                    <img src="/static/images/guides/java.svg" alt="Java's logo" />
                </div>
                <p>Convert HTML to PDF using Java</p>
                <div class="guides__more">Read Guide</div>
            </a>
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-csharp/" title="Using C#">
                <div class="guides__card__img">
                    <img src="/static/images/guides/c-sharp.svg" alt="C#'s logo" />
                </div>
                <p>Convert HTML to PDF using C#</p>
                <div class="guides__more">Read Guide</div>
            </a>
            <a class="column guides__card" href="/guides/convert-html-to-pdf-with-go/" title="Using GO">
                <div class="guides__card__img">
                    <img src="/static/images/guides/go.svg" alt="GO's logo" />
                </div>
                <p>Convert HTML to PDF using GO</p>
                <div class="guides__more">Read Guide</div>
            </a>
        </div>
    </div>
</section>

{% endblock %}
