{% set bodyClass = 'guides' %}
{% set seo_title = "List of our guides" %}
{% set seo_description = "Here are a list of all our guides that might help you integrate PDFSHift to your service." %}

{% extends '_partials/base.njk' %}

{% block main %}
<div class="container-small">
    <div class="page">
        <h1>All our Guides</h1>

        <ul class="unstyled listing">
            <li>
                <a href="/guides/convert-html-to-pdf-with-node/" title="Using Node.js">
                    <img src="https://cdn.worldvectorlogo.com/logos/nodejs.svg" alt="NodeJS's logo" />
                    <h3>Convert HTML to PDF using Node.js</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-node/" title="Using C#" class="button button-primary">Node.js HTML to PDF Guide</a>
            </li>
            <li>
                <a href="/guides/convert-html-to-pdf-with-python-package/" title="Using Python and our dedicated Package">
                    <img src="/static/images/languages/python.svg" alt="Python's logo" />
                    <h3>Convert HTML to PDF using Python and PDFShift's package</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-python-package/" title="Using C#" class="button button-primary">Python Package HTML to PDF Guide</a>
            </li>
            <li>
                <a href="/guides/convert-html-to-pdf-with-python/" title="Using Python">
                    <img src="/static/images/languages/python.svg" alt="Python's logo" />
                    <h3>Convert HTML to PDF using Python and `requests` package</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-python/" title="Using C#" class="button button-primary">Python HTML to PDF Guide</a>
            </li>
            <li>
                <a href="/guides/convert-html-to-pdf-with-php-composer/" title="Using PHP and our dedicated package">
                    <img src="/static/images/languages/composer.svg" alt="Composer's logo" />
                    <h3>Convert HTML to PDF using PHP with PDFShift's package</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-php-composer/" title="Using C#" class="button button-primary">Composer HTML to PDF Guide</a>
            </li>
            <li>
                <a href="/guides/convert-html-to-pdf-with-php/" title="Using PHP">
                    <img src="/static/images/languages/php.svg" alt="PHP's logo" />
                    <h3>Convert HTML to PDF using PHP</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-php/" title="Using C#" class="button button-primary">PHP HTML to PDF Guide</a>
            </li>
            <li>
                <a href="/guides/convert-html-to-pdf-with-ruby/" title="Using Ruby">
                    <img src="/static/images/languages/ruby.svg" alt="Ruby's logo" />
                    <h3>Convert HTML to PDF using Ruby</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-ruby/" title="Using C#" class="button button-primary">Ruby HTML to PDF Guide</a>
            </li>
            <li>
                <a href="/guides/convert-html-to-pdf-with-java/" title="Using Java">
                    <img src="/static/images/languages/java.png" alt="Java's logo" />
                    <h3>Convert HTML to PDF using Java</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-java/" title="Using C#" class="button button-primary">Java HTML to PDF Guide</a>
            </li>
            <li>
                <a href="/guides/convert-html-to-pdf-with-csharp/" title="Using C#">
                    <img src="/static/images/languages/csharp.svg" alt="C#'s logo" />
                    <h3>Convert HTML to PDF using C#</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-csharp/" title="Using C#" class="button button-primary">C# HTML to PDF Guide</a>
            </li>
            <li>
                <a href="/guides/convert-html-to-pdf-with-go/" title="Using GO">
                    <img src="/static/images/languages/go.svg" alt="GO's logo" />
                    <h3>Convert HTML to PDF using GO</h3>
                </a>
                <a href="/guides/convert-html-to-pdf-with-go/" title="Using C#" class="button button-primary">GO HTML to PDF Guide</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}