{% set bodyClass = 'guides' %}
{% set seo_title = "List of our guides" %}
{% set seo_description = "Here are a list of all our guides that might help you integrate PDFSHift to your service." %}

{% extends '_partials/base.njk' %}

{% block main %}
<div class="container-small">
    <div class="page">
        <h1>All our Guides</h1>

        <ul class="unstyled listing">
            <li><a href="/guides/node/" title="Using Node.js">Convert HTML to PDF using <strong>Node.js</strong></a></li>
            <li><a href="/guides/python-package/" title="Using Python and our dedicated Package">Convert HTML to PDF using <strong>Python and PDFShift's package</strong></a></li>
            <li><a href="/guides/python/" title="Using Python">Convert HTML to PDF using <strong>Python and `requests` package</strong></a></li>
            <li><a href="/guides/php-composer/" title="Using PHP and our dedicated package">Convert HTML to PDF using <strong>PHP with PDFShift's package</strong></a></li>
            <li><a href="/guides/php/" title="Using PHP">Convert HTML to PDF using <strong>PHP</strong></a></li>
            <li><a href="/guides/ruby/" title="Using Ruby">Convert HTML to PDF using <strong>Ruby</strong></a></li>
            <li><a href="/guides/java/" title="Using Java">Convert HTML to PDF using <strong>Java</strong></a></li>
            <li><a href="/guides/csharp/" title="Using C#">Convert HTML to PDF using <strong>C#</strong></a></li>
            <li><a href="/guides/go/" title="Using GO">Convert HTML to PDF using <strong>GO</strong></a></li>
        </ul>
    </div>
</div>

{% endblock %}