{% set seo_title = "Convert any HTML to PDF using Python" %}
{% set seo_description = "A guide to get started in converting your HTML documents or URLs to PDF using PDFShift and Python." %}

{% extends 'guides/_base.njk' %}

{% block guide %}
    {% markdown %}
    # How to convert HTML to PDF in Java

    PDFShift provides a powerful API that let you convert any HTML documents to PDF using a simple POST request.
    Java is a powerful programing language that works well with PDFShift. We will use the `org.apache.http` library to do our requests.

    ## Documentation

    See the full documentation on [PDFShift's documentation](https://docs.pdfshift.io/).


    ## Requirements

    * JAVA JDK 1.6 or later
    * `org.apache.http` library.

    ```java
    package io.pdfshift.sample;

    import java.io.BufferedReader;
    import java.io.IOException;
    import java.io.InputStreamReader;
    import org.apache.commons.codec.binary.Base64;
    import org.apache.http.HttpResponse;
    import org.apache.http.client.methods.HttpPost;
    import org.apache.http.entity.StringEntity;
    import org.apache.http.impl.client.CloseableHttpClient;
    import org.apache.http.impl.client.HttpClientBuilder;

    public class ApacheHttpClientPost {

        public static void main(String[] args) throws IOException {

            try (CloseableHttpClient client = HttpClientBuilder.create().build()) {

                HttpPost request = new HttpPost("https://api.pdfshift.io/v2/convert");
                String encoding = Base64.getEncoder().encodeToString("your_api_key:".getBytes());
                request.setHeader("Authorization", "Basic" + encoding);
                request.setEntity(new StringEntity("My test data"));

                HttpResponse response = client.execute(request);

                BufferedReader bufReader = new BufferedReader(new InputStreamReader(
                        response.getEntity().getContent()));

                StringBuilder binaryPDF = new StringBuilder();

                String line;

                while ((line = bufReader.readLine()) != null) {
                    binaryPDF.append(line);
                }
            }
        }
    }
    ```
    {% endmarkdown %}
{% endblock %}