{# @see https://proto.io/en/presskit/ #}
{% set bodyClass = 'press' %}
{% set seo_title = "Download our Press kit" %}
{% set seo_description = "The PDFShift press kit contains the official PDFShift.io logos, icons and banners." %}

{% extends '_partials/base.njk' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="column eight">
            <h1>Press Kit</h1>
            <p class="excerpt">Logos, Banners, Icons, etc&hellip;</p>

            <div class="details">
                <p>
                    The PDFShift press kit contains the official PDFShift.io logos, icons and banners.
                    Feel free to reuse these materials as you please.<br />
                    We appreciate any and all coverage!
                </p>
                <p>For press releases and news, contact <a href="mailto:press@pdfshift.io">press@pdfshift.io</a>.</p>
            </div>

            <div class="details">
                <h2>Who are we?</h2>

                <p>
                    PDFShift.io provides a powerful API to convert any HTML documents to high-fidelity PDF.
                    Its focus is in providing a fast and simple - but complete - API that allow any developers to setup their system in a few minutes.
                    The quick learning curve, the simplicity of the API and the quality of the result is what makes PDFShift a leader in the current market for Web-to-PDF conversions API.
                </p>

                <p>
                    PDFShift's is a French company created by Cyril Nicodeme and is located in
                    <address>
                    <strong>PDFShift SAS</strong><br />
                    30 rue de la claichiere<br />
                    2nd floor<br />
                    90800 BAVILLIERS<br />
                    France
                    </address>
                </p>

                <p>For all Press related inquiry, we recommend you to contact our marketing team at <a href="mailto:press@pdfshift.io" title="Contact our marketing team">press@pdfshift.io</a> or directly via our <a href="/contact/" title="Use our contact form">contact form</a>.</p>
            </div>

            <div class="details logos">
                <h2>Logo</h2>

                <ul class="unstyled">
                    <li>
                        <img src="/images/logo/logo-violet.png" alt="logo violet" />
                        <span>Logo - No backgrounds - Text violet</span>
                    </li>
                    <li>
                        <img src="/images/logo/logo-bg-violet.png" alt="logo violet" />
                        <span>Logo - Background violet - Text white</span>
                    </li>
                </ul>
            </div>

            <div class="details icons">
                <h2>Icons</h2>

                <ul class="unstyled">
                    <li>
                        <img src="/images/favicons/icon-violet.png" alt="Icon violet" />
                        <span>Icon - No backgrounds - Text violet</span>
                    </li>
                    <li>
                        <img src="/images/favicons/icon-bg.png" alt="Icon white with background" />
                        <span>Icon - Background violet - Text white</span>
                    </li>
                    <li>
                        <img src="/images/favicons/icon-bg-dark.png" alt="Icon white with dark background" />
                        <span>Icon - Dark Background violet - Text white</span>
                    </li>
                </ul>
            </div>

            <div class="details banners">
                <h2>Social Banners</h2>

                <ul class="unstyled banner">
                    <li>
                        <img src="/images/banner/slogan.png" alt="Default slogan" />
                        <span>Default Slogan</span>
                    </li>
                    <li>
                        <img src="/images/banner/slogan-dark.png" alt="Slogan with darker background" />
                        <span>Slogan with darker background</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column three downloads">
            <div>
                <div>
                    <h4>Everything</h4>
                    <ul class="unstyled">
                        <li>.zip - <a href="/images/pdfshift-press-kit.zip" target="_blank" title="Download our all Press Kit">Download</a></li>
                    </ul>
                </div>
                <div>
                    <h4>PDFShift's Logo</h4>
                    <ul class="unstyled">
                        <li>.png - <a href="/images/logo/logo-violet.png" target="_blank" title="Download our logo in PNG format">Download</a></li>
                        <li>.svg - <a href="/images/logo/logo.svg" target="_blank" title="Download our logo in SVG format">Download</a></li>
                        <li>.pdf - <a href="/images/logo/logo.pdf" target="_blank" title="Download our logo in PDF format">Download</a></li>
                    </ul>
                </div>
                <div>
                    <h4>PDFShift's icon</h4>
                    <ul class="unstyled">
                        <li>.png - <a href="/images/favicons/icon-violet.png" target="_blank" title="Download our icon in PNG format">Download</a></li>
                        <li>.svg - <a href="/images/favicons/icon.svg" target="_blank" title="Download our icon in SVG format">Download</a></li>
                        <li>.pdf - <a href="/images/favicons/icon.pdf" target="_blank" title="Download our icon in PDF format">Download</a></li>
                        <li>.ico - <a href="/images/favicons/icon.ico" target="_blank" title="Download our icon in ICO format">Download</a></li>
                    </ul>
                </div>
                <div>
                    <h4>PDFShift's banners</h4>
                    <ul class="unstyled">
                        <li>.png - <a href="/images/banner/slogan.png" target="_blank" title="Download our banner in PNG format">Download</a></li>
                        <li>.pdf - <a href="/images/banner/slogan.pdf" target="_blank" title="Download our banner in PDF format">Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}