{% set bodyClass = 'account' %}
{% extends '_partials/base.njk' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/account.css" />
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <nav class="column three">
            <ul class="unstyled">
                <li{% if active_menu == 'dashboard' %} class="active"{% endif %}><a href="/account/dashboard/" title="View your usage and manage your API keys">Dashboard</a></li>
                <li{% if active_menu == 'invoices' %} class="active"{% endif %}><a href="/account/invoices/" title="View and download your invoices">Invoices</a></li>
                <!--<li{% if active_menu == 'billing' %} class="active"{% endif %}><a href="/account/billing/" title="Manage your payments details">Billing</a></li>-->
                <li{% if active_menu == 'settings' %} class="active"{% endif %}><a href="/account/settings/" title="Update your account details">Account settings</a></li>
                <li class="separator"></li>
                <li class="logout"><a href="javascript:;" title="Logout from your account">Logout</a></li>
            </ul>
        </nav>
        <div class="column nine account">
            {% block account_body %}{% endblock %}
        </div>
    </div>
</div>
<script>
    (function () {
        if (document.location.search.indexOf('heroku=1') > -1) {
            var s = document.createElement('script')
            s.src = 'https://s3.amazonaws.com/assets.heroku.com/boomerang/boomerang.js'
            s.async = true
            s.onload = () => {
                window.Boomerang.init({app: '', addon: 'pdfshift'})
            }
            document.querySelector('body').appendChild(s)
        }

        document.querySelector('main .container .column.three .logout>a').addEventListener('click', function () {
            window.PDFShift.storage.remove('token');
            window.location.href = '/';
        }, false);
    })()
</script>
<script type="text/javascript" src="https://cdn.vitally.io/vitally.js/v1/vitally.js" defer></script>
<script type="text/javascript">
!function(n,t,r){for(var i=n[t]=n[t]||[],o=function(r){i[r]=i[r]||function(){for(var n=[],t=0;t<arguments.length;t++)n[t]=arguments[t];return i.push([r,n])}},u=0,c=["init","user","account","track","nps"];u<c.length;u++){o(c[u])}}(window,"Vitally");
Vitally.init('ZXlKaGJHY2lPaUpJVXpJMU5pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmhkV1FpT2lKbE9UVTBaalV4TWkxbE5qZzVMVFE1TnprdFlUSXlNeTB3TjJJNFlUTm1aVGM0T1dNaUxDSmhjR2tpT2lKaGNHa2lMQ0p6WldNaU9pSTRaalJqWmpabVppSjkuVnh2WS1KdXdic2hhS3RJZGptc3hMZDZUelBGSF96aGVndDNWZ2YzYUFaazo=');
</script>
{% endblock %}