{% set active_menu = 'dashboard' %}
{% extends 'account/_base.njk' %}

{% block account_body %}
    <div id="account-app">
        <div class="loading">Please wait while we load your page ...</div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="/js/account.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>
<script>
(function () {
    window.PDFShift.setAccount = function (body) {
        var nunjucksEnv = new nunjucks.Environment();
        nunjucksEnv.addFilter('dateformat', function (str, format) {
            return moment.utc(str).format(format || 'YYYY/MM/DD');
        });
        nunjucksEnv.addFilter('onemonth', function (str) {
            return parseInt(moment.utc(str).add(1, 'M').format('x'));
        });
        nunjucksEnv.addFilter('percent', function (percent) {
            if (percent > 100) return 100;
            return percent;
        });

        var template = window.document.getElementById('template-account').textContent.trim(),
            parsed = nunjucksEnv.renderString(template, { account: body });

        window.document.querySelector('#account-app').innerHTML = parsed;
    }
})()
</script>
<script id="template-account" type="text/nunjucks-template">
    {% raw %}
    <section>
        <div class="profile">
            <div>
                <img src="{{ account.avatar }}" alt="{{ account.name }}'s avatar" />
            </div>
            <div>
                <div>
                    {{ account.name }}
                    <a href="/account/settings/" title="Edit your account's details">Edit</a>
                </div>
                {{ account.email }}
            </div>
        </div>
        <h2>
            Your current usage
            <small>Period of {{ account.renew_date|dateformat('YYYY/MM') }} - {{ account.renew_date|onemonth|dateformat('YYYY/MM') }}</small>
        </h2>

        <div class="progress">
            <div class="indicator">
                <span style="left: calc({{ (((account.credits.used / account.credits.total ) * 100)|percent).toFixed(2) }}% - 60px)">
                    {{ account.credits.used }}
                    <sup>{{ ((account.credits.used / account.credits.total ) * 100).toFixed(2) }}%</sup>
                </span>
            </div>
            <div class="progress-bar">
                <span style="width: {{ (((account.credits.used / account.credits.total ) * 100)|percent).toFixed(2) }}%;">Progress: {{ (((account.credits.used / account.credits.total ) * 100)|percent).toFixed(2) }}%</span>
            </div>
            <div class="meters">
                <span>0</span>
                <span>{{ account.credits.total }}</span>
            </div>
        </div>

        <div class="plan">
            <div>
                You are on the <strong>{% if account.plan %}{{ account.plan.name }}{% else %}Free{% endif %} plan</strong>.
            </div>
            <div>
                <span>Renews on {{ account.renew_date|onemonth|dateformat }}</span>
            </div>
            <div>
                <a href="/account/upgrade" title="Click here to upgrade" class="button button-primary">Upgrade</a>
            </div>
        </div>
    </section>

    <section>
        <div class="title">
            <h2>Your API Keys</h2>
        </div>

        <div class="keys">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Key</th>
                        <th>Created</th>
                        <th>Delete</th>
                    </tr>
                <thead>
                <tbody>
                {% for key in account.api_keys %}
                    <tr>
                        <td>{% if key.name %}{{ key.name }}{% else %}Unnamed API Key{% endif %}</td>
                        <td>
                            <input type="text" name="key" value="{{ key.token }}" />
                            <button name="copy">Copy</button>
                        </td>
                        <td>{{ key.created|dateformat }}</td>
                        <td><a href="javascript:;" title="Delete this key" class="delete">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endraw %}
</script>
{% endblock %}