{% set active_menu = 'invoices' %}
{% extends 'account/_base.njk' %}

{% block account_body %}
    <div id="invoice-app">
        <div class="loading">Please wait while we load your page ...</div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>
<script>
(function () {
    var token = window.PDFShift.storage.get('token');
    if (token === null) {
        window.location.href = '/login/';
        return false;
    }

    window.PDFShift.requests.get('accounts/invoices', {'Authorization': 'Bearer ' + token}).then(
        function (body) {
            var nunjucksEnv = new nunjucks.Environment();
            nunjucksEnv.addFilter('dateformat', function (str, format) {
                return moment.utc(str).format(format || 'YYYY/MM/DD');
            });

            var template = window.document.getElementById('template-invoices').textContent.trim(),
                parsed = nunjucksEnv.renderString(template, { 'invoices': body.invoices });

            window.document.querySelector('#invoice-app').innerHTML = parsed;
        },
        function (response) {
            if (response.status === 0) {
                return alert('An error occured.');
            }

            window.PDFShift.storage.set('token', null);
            window.location.href = '/login/';
        }
    )

})()
</script>
<script id="template-invoices" type="text/nunjucks-template">
    {% raw %}
    <h2>Your latest invoices</h2>
    {% if invoices.length %}
        <table>
            <thead>
                <tr>
                    <th>Reference</th>
                    <th class="center">Date</th>
                    <th class="center">Amount</th>
                    <th class="right">Download</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                <tr>
                    <td><strong>{{ invoice.reference }}</strong></td>
                    <td class="center">{% if invoice.refunded %}Refunded on {{ invoice.refunded|dateformat }}{% else %}Paid on {{ invoice.created|dateformat }}{% endif %}</td>
                    <td class="center">{{ invoice.amount }} {{ invoice.currency.toUpperCase() }}</td>
                    <td class="right"><a href="{{ invoice.download_url }}" title="Download this Invoice" class="button button-primary" target="_blank">Download</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="info">No invoices at the moment.</p>
    {% endif %}
    {% endraw %}
</script>
{% endblock %}