{% set bodyClass = 'account' %}
{% set disableSurrounds = true %}
{% extends '_partials/base.njk' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/account.css" />
{% endblock %}

{% block main %}
<div id="account-upgrade">
    <div id="account-view-plans" class="active container">
        <h2>Select the plan that fits you best</h2>

        <div class="toggle fade-in from-bottom delay-1">
            <a href="javascript:;" title="Yearly plans" data-type="yearly">Yearly</a>
            <a href="javascript:;" title="Monthly plans" data-type="monthly" class="active">Monthly</a>
        </div>

        <div class="plans-listing">
            <ul class="unstyled plans-yearly"></ul>
            <ul class="unstyled plans-monthly active"></ul>
        </div>
    </div>
    <div id="account-view-upgrade" class="container-small">
        <h2>Please provide your payment informations</h2>
        <form>
            <p style="font-style: italic">Loading the page, please wait ...</p>
        </form>
    </div>
    <div id="account-view-thanks" class="container-small">
        <h2>You are now on the <span></span> plan!</h2>
        <div>
            <svg class="animated checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle cx="26" cy="26" r="25" fill="none"/>
                <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
            <p><strong>Thank you for subscribing to our service!</strong></p>
            <p>Your account is now updated and you will receive your invoice by email pretty soon.</p>
            <p>Feel free to <a href="mailto:support@pdfshift.io">reach out to us</a> if you have any questions!</p>
            <a href="/account/dashboard/" title="Go back to your account" class="button button-primary">Return to your account</a>
        </div>
    </div>
    <div id="account-view-downgrade" class="container-small">
        <h2>We are sorry to see yo go ...</h2>
        <form>
            <p>
                Please keep in mind that we do our best to provide the best support ever!<br />
                Feel free to <a href="mailto:support@pdfshift.io">reach out to us</a> if you need any help!
            </p>
            <div>
                <textarea name="message" cols="20" rows="5" placeholder="Please enter the reason why you want to cancel your subscription. This will help us improve PDFShift. Your unsubscription will be done right after." required></textarea>
            </div>
            <input type="submit" value="Downgrade to the free plan." class="button button-primary" />
        </form>
    </div>
    <div id="account-view-downgrade-thanks" class="container-small">
        <h2>We are sorry to see yo go ...</h2>
        <div>
            <svg class="animated checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle cx="26" cy="26" r="25" fill="none"/>
                <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
            <p>
                <strong>We have successfully downgraded you to the free plan.</strong><br />
                You won't charge your credit card anymore.
            </p>
            <p>Thank you for using PDFShift. We hope to see you back again in the future!</p>

            <a href="/account/dashboard/" title="Go back to your account" class="button button-primary">Return to your account</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="/static/js/account.js" async></script>
<script src="/static/js/countries.js" async></script>
<script src="https://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>
<script>
(function () {
    var token = window.PDFShift.storage.get('token');

    /*

    this.$http.get('https://ip2c.org/self').then(
        response => {
            let country = response.body.split(';')[1]
            this.form.country = country
        },
        response => {}
    )

    */

    window.PDFShift.setAccount = function (account) {
        window.PDFShift.requests.get('credits/plans', {'Authorization': 'Bearer ' + token}).then(
            function (body) {
                var ulPlansYearly = window.document.querySelector('#account-view-plans ul.plans-yearly'),
                    ulPlansMonthly = window.document.querySelector('#account-view-plans ul.plans-monthly'),
                    planTemplate = window.document.getElementById('template-plan').textContent.trim();
                
                var nunjucksEnv = new nunjucks.Environment();
                nunjucksEnv.addFilter('clean', function (str) {
                    return str.replace(' - Yearly', '');
                });
                nunjucksEnv.addFilter('thousands', function (str) {
                    return str.toString().replace('000', ' 000');
                });
                nunjucksEnv.addGlobal('allgrade', function (plan, account) {
                    /*
                     * -1 : When the plan is lower than the current plan
                     * 0 : When the plan equalis the current plan
                     * 1 : When the plan is higher than the current plan
                    */
                    if (!account) {
                        if (plan.price === 0) return 0;
                        return 1;
                    }

                    if (plan.price === 0) return -1;
                    if (account.yearly != plan.yearly) return 1;

                    if (plan.name === account.name) return 0;
                    else if (plan.price < account.price) return -1;
                    return 1;
                })

                var freePlan = {
                    'name': 'free',
                    'display': 'Free',
                    'price': 0,
                    'filesize': 1,
                    'credits': 250,
                    'yearly': false
                };
                ulPlansMonthly.insertAdjacentHTML('beforeend', nunjucksEnv.renderString(planTemplate, { 'plan': freePlan, 'account': account, 'index': 2 }));
                freePlan.yearly = true;
                ulPlansYearly.insertAdjacentHTML('beforeend', nunjucksEnv.renderString(planTemplate, { 'plan': freePlan, 'account': account, 'index': 2 }));

                var monthlyIndex = 2, yearlyIndex = 2;
                for (var i = 0; i < body.plans.length; i++) {
                    var plan = body.plans[i];
                    if (plan.yearly) {
                        yearlyIndex++;
                        ulPlansYearly.insertAdjacentHTML('beforeend', nunjucksEnv.renderString(planTemplate, { 'plan': plan, 'account': account, 'index': yearlyIndex }));
                    } else {
                        monthlyIndex++;
                        ulPlansMonthly.insertAdjacentHTML('beforeend', nunjucksEnv.renderString(planTemplate, { 'plan': plan, 'account': account, 'index': monthlyIndex }));
                    }
                }
            },
            function () {
                alert("We are sorry but an error occured.\nIf this issue persists, please reach out to us.");
            }
        );

        var stripeTemplate = window.document.getElementById('template-stripe-form').textContent.trim(),
            stripeForm = window.document.querySelector('#account-view-upgrade form');
        stripeForm.innerHTML = nunjucks.renderString(stripeTemplate, {'account': account, 'countries': countries});

        var elements = window.stripe_instance.elements(),
            card = elements.create('card');

        card.mount('#card-element');
        card.addEventListener('change', function (event) {
            if (event.error) {
                window.PDFShift.forms.setErrors(stripeForm, {'token': [event.error.message]});
            } else {
                window.PDFShift.forms.clearErrors(stripeForm);
            }
        });

        stripeForm.addEventListener('submit', function (event) {
            event.preventDefault();

            var button = stripeForm.querySelector('.button');

            if (button.classList.contains('button-disabled')) return false;
            button.classList.add('button-disabled');

            window.PDFShift.forms.clearErrors(stripeForm);

            window.stripe_instance.createToken(card).then(
                function (result) {
                    if (result.error) {
                        window.PDFShift.forms.setErrors(stripeForm, {'token': [result.error.message]});
                        return;
                    }

                    // TODO Manage 3D Secure

                    var params = window.PDFShift.forms.asJSON(stripeForm);
                    params['token'] = result.token.id;
                    params['plan'] = document.location.hash.substring(1);
                    window.PDFShift.requests.post('credits/upgrade', params, {'Authorization': 'Bearer ' + token}).then(
                        function (body) {
                            document.location.hash = 'thank-you';
                            setView('thanks');
                        },
                        function (response) {
                            button.classList.remove('button-disabled');
                            var errors = response.data.errors;
                            if ('error' in response.data) {
                                errors = {'token': [response.data.error]};
                            }
                            window.PDFShift.forms.setErrors(stripeForm, errors);
                        }
                    )
                }
            )
        }, false);
    }

    function setView(view) {
        var active = document.querySelector('#account-upgrade>.active');
        if (active.matches('#account-view-' + view)) {
            return false;
        }

        active.classList.remove('active');
        document.getElementById('account-view-' + view).classList.add('active');
        window.scrollTo(0, 0, 1);
    }

    // Toggle monthly/yearly
    window.PDFShift.on('#account-view-plans .toggle>a', 'click', function (event) {
        if (event.target.classList.contains('active')) return false;

        var targets = event.target.parentNode.querySelectorAll('a');
        for (var i = 0; i < targets.length; i++) {
            targets[i].classList.toggle('active');
            window.document.querySelector('#account-view-plans ul.plans-' + targets[i].dataset.type).classList.toggle('active');
        }
    });

    // Select plan
    window.PDFShift.on('#account-view-plans', 'click', '.plans-listing>ul>li', function (event) {
        var target = this;
        if (parseInt(target.dataset.state) === 0) {
            return;
        }

        history.pushState({
            'plan': target.dataset.plan,
            'view': 'plans'
        }, null, "#" + target.dataset.plan);

        setView(target.dataset.plan === 'free' ? 'downgrade' : 'upgrade');
        document.querySelector('#account-view-thanks h2>span').innerText = target.dataset.display;
    });

    // Manage "go back"
    window.addEventListener('popstate', function(event) {
        if (event.state === null) {
            setView('plans');
        }
    }, false);

    // Manage "load page at specific state"
    var hash = document.location.hash.substring(1);
    if (hash) {
        if (hash == 'thank-you') {
            setView('thanks');
        } else if (hash === 'downgrade') {
            setView('downgrade');
        } else if (hash === 'downgrade-thanks') {
            setView('downgrade-thanks');
        } else {
            setView(hash === 'free' ? 'downgrade' : 'upgrade');
        }
    }

    window.PDFShift.on('#account-view-downgrade form', 'submit', function (event) {
        event.preventDefault();
        var button = this.querySelector('.button'),
            message = this.querySelector('textarea').value;
        
        if (button.classList.contains('button-disabled')) return;
        button.classList.add('button-disabled');

        window.PDFShift.requests.post('accounts/downgrade', {'message': message}, {'Authorization': 'Bearer ' + token}).then(
            function (body) {
                button.classList.remove('button-disabled');
                history.pushState({'view': 'downgrade'}, null, "#thanks-downgrade");
                setView('thanks-downgrade');
            },
            function (response) {
                button.classList.remove('button-disabled');
                alert("We are sorry but an error occured. Please contact us if this problem persists.");
            }
        )
    });
})()
</script>
<script id="template-plan" type="text/nunjucks-template">
{% raw %}
<li class="fade-in from-bottom delay-{{ index }}" data-plan="{{ plan.name }}" data-state="{{ allgrade(plan, account.plan) }}" data-display="{{ plan.display }}">
    <h4>{{ plan.display|clean }}</h4>

    <div class="price">
        {% if plan.price == 0 %}
            Free
        {% else %}
            <small>$</small>{{ plan.price }}<small>/{% if plan.yearly %}year{% else %}month{% endif %}</small>
        {% endif %}
    </div>

    <ul class="unstyled features">
        <li><strong>{{ plan.credits|thousands }}</strong> monthly conversions</li>
        <li><strong>Up to {{ plan.filesize }}Mb</strong> per PDFs</li>
    </ul>

    {% if allgrade(plan, account.plan) == -1 %}
        <a href="javascript:;" title="Downgrade to {{ plan.display }}'s plan" class="button button-primary">Downgrade</a>
    {% elif allgrade(plan, account.plan) == 0 %}
        <a href="javascript:;" title="That's your plan" class="button button-primary button-disabled" disabled>Your plan</a>
    {% elif allgrade(plan, account.plan) == 1 %}
        <a href="javascript:;" title="Upgrade to {{ plan.display }}'s plan" class="button button-primary">Upgrade</a>
    {% endif %}
</li>
{% endraw %}
</script>
<script id="template-stripe-form" type="text/nunjucks-template">
    {% raw %}
    <fieldset>
        <legend>General Informations</legend>
        <div class="row">
            <div class="form-group column">
                <label for="settings-edit-name">Your name</label>
                <input type="text" name="name" value="{{ account.name }}" id="settings-edit-name" />
            </div>
            <div class="form-group column">
                <label for="settings-edit-email">Your email</label>
                <input type="email" name="email" value="{{ account.email }}" id="settings-edit-email" required />
            </div>
        </div>
        <div class="form-group">
            <label for="settings-edit-company_details">Your company details</label>
            <textarea name="company_details" rows="5" cols="50" id="settings-edit-company_details" placeholder="Company name, address">{{ account.company_details }}</textarea>
        </div>
        <div class="row">
            <div class="form-group column">
                <label for="settings-edit-country">Your country</label>
                <select id="settings-edit-country" name="country" required>
                    <optgroup>
                        <option value="US"{% if account.country == 'US' %} selected {% endif %}>United States</option>
                        <option value="CA"{% if account.country == 'CA' %} selected {% endif %}>Canada</option>
                        <option value="GB"{% if account.country == 'GB' %} selected {% endif %}>United Kingdom</option>
                        <option value="FR"{% if account.country == 'FR' %} selected {% endif %}>France</option>
                        <option value="DE"{% if account.country == 'DE' %} selected {% endif %}>Germany</option>
                    </optgroup>
                    <optgroup label="-----------">
                        {% for code, country in countries %}
                            <option value="{{ code }}"{% if account.country == code %} selected {% endif %}>{{ country }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="form-group column">
                <label for="settings-edit-company_vat">Your company VAT number</label>
                <input type="text" placeholder="Your company VAT number" name="company_vat" value="{{ account.company_vat }}"  id="settings-edit-company_vat" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
                <g>
                    <path d="M13.5,14a2.6635,2.6635,0,0,0-.6865.0914,2.4589,2.4589,0,0,0-1.7,1.65,2.4879,2.4879,0,0,0,.7592,2.6415l-.8463,1.9586A.5.5,0,0,0,11.5,21H15.5a.5.5,0,0,0,.4743-.6581l-.8463-1.9586A2.49,2.49,0,0,0,13.5,14Zm1.3059,6H12.1941l.8385-1.9352-.506-.4377a1.4967,1.4967,0,0,1-.455-1.6,1.4532,1.4532,0,0,1,.9993-.97A1.6706,1.6706,0,0,1,13.5,15,1.5017,1.5017,0,0,1,15,16.5a1.4757,1.4757,0,0,1-.5266,1.127l-.506.4377ZM20.5,10H19V5.5a5.5,5.5,0,0,0-11,0V10H6.5A1.5,1.5,0,0,0,5,11.5v12A1.5,1.5,0,0,0,6.5,25h14A1.5,1.5,0,0,0,22,23.5v-12A1.5,1.5,0,0,0,20.5,10ZM9,5.5a4.5,4.5,0,0,1,9,0V10H9Zm12,18a.5006.5006,0,0,1-.5.5H6.5a.5006.5006,0,0,1-.5-.5v-12a.5006.5006,0,0,1,.5-.5h14a.5006.5006,0,0,1,.5.5Z" />
                </g>
            </svg>
            Credit Card Details
        </legend>
        <div class="cards">
            <p>
                All our payments are handled via Stripe.com.<br />
                We don't view nor handle your credit card informations.
            </p>
            <img src="/static/images/cards.png" alt="Accepted cards" />
        </div>
        <div>
            <div id="card-element"></div>
            <input type="hidden" name="token" />
        </div>
    </fieldset>
    <div class="submit">
        <input type="submit" class="button button-primary" name="update" value="Submit and pay" />
    </div>
    {% endraw %}
</script>
<script src="https://js.stripe.com/v3/"></script>
<script>
if (window.document.location.hostname === '127.0.0.1') {
    window.stripe_instance = window.Stripe('pk_test_N1Lori9EgMNMzWplqBUHcVlB')
} else {
    window.stripe_instance = window.Stripe('pk_live_Nu7cMuvIDlk7gHcksvN52v5S')
}
</script>
{% endblock %}