*, *:before, *:after {box-sizing:border-box;}

.clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: @secondary_color;
    color: #fff;
    border-radius: 4px;
    padding: 15px 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: background-color 0.25s;
    cursor: pointer;

    &:hover {
        color: #fff;
        text-decoration: none;
    }

    &:not(.disabled):hover {
        background-color: darken(@secondary_color, 10%);
    }

    &[disabled] {
        opacity: 0.75;

        &:hover {
            cursor: default;
            background-color: @secondary_color;
            color: #fff;
        }
    }
}

h2 {
    color: lighten(@secondary_color, 10%);
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
    line-height: 1.5em;
    font-weight: 100;
}

p {
    line-height: 1.75em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    /* darkslateblue */
    /*background-image: linear-gradient(180deg, rgba(88, 75, 144,1) 0%, rgba(89, 79, 157,1) 100%)*/
    /*background-image: linear-gradient(180deg, rgba(54, 23, 84,1) 0%, rgba(106, 54, 157,1) 100%);*/
    /*
    background-color: rgba(0,161,224,0.3);
    background-image: -webkit-linear-gradient(-405deg, rgba(0,161,224,0.3), transparent);
    background-image: linear-gradient(135deg, rgba(0,161,224,0.3), transparent);
    background-color: #79589F;
    */
    background-color: #58488a;
    background-image: -webkit-linear-gradient(left top, #8E56CF, #5d64d0);
    background-image: linear-gradient(to right bottom, #8E56CF, #5d64d0);
    color: #fff;
    padding-bottom: 1px;

    &>div {
        width: 1200px;
        margin: 0 auto;
        padding: 10px 0;
    }

    h1 {
        margin: 100px 0 80px;
        text-align: center;
        line-height: 1.2em;
        letter-spacing: 0.0625em;

        small {
            display: block;
            font-size: 0.7em;
            letter-spacing:1px;
            font-weight:lighter;
            line-height: 1.2em;
            margin-top: 15px;
        }
    }
}

a {
    color: #58488a;
    text-decoration: none;
    transition: all .25s ease-in-out;

    &:hover {
        color: darken(#58488a, 20%);
        text-decoration: underline;
    }
}

.container {
    width: 1200px;
    margin: 40px auto;
}


div.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    &>div {
        text-align: center;
        flex-grow: 1;

        margin-left: 20px;
        &:first-child {
            margin-left: 0;
        }

        &>div {
            margin: 5px 0;
        }

        .headers {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}

:not(pre) > code {
    padding: 2px 4px;
    font-size: 90%;
    border-radius:5px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.message {
    background-color: fade(@primary_color, 20%);
    border-left: solid 5px @primary_color;
    padding: 20px;

    h3 {
        color: darken(@primary_color, 10%);
        margin: 0 0 30px;
    }
}

/* Code section with effects */
.code-section .buttons {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.code-section:hover .buttons {
    opacity: 1;
}

.nav--toggle {display:none;}

@media only screen and (max-width: 1200px) {
    header>div, body>#app>footer>div, .container {
        width:100%;
        padding:0 40px;
    }
    header {
        .navbar {
            margin:0;
        }
    }
}

@media only screen and (max-width: 960px) {
    body .showcase {
        display:block;
        .form, .tabs {width:100%;display:block;margin:0;}
        
        .tabs > ul {
            margin-top:25px;
            li {
                a {
                    color:#999;
                    font-size:12px;
                    min-width:0;
                    padding:10px 0;
                }
                &.active a {
                   color:#8d55cf; 
                }
            }
        }
    }
    
    body .navbar {
        z-index: 999;
        
        .brand {
            background:#8d55cf;
            position:fixed;
            left:0;
            z-index:999;
            right:0;
            height:60px;
            img {
                width: 140px;
                height: auto;
                margin:4px auto!important;
            }
        }
        
        .nav--toggle {
            display:block;
            font-size: 20px;
            border:2px solid #fff;
            border-radius:50px;
            width:30px;
            height:30px;
            text-align:center;
            color:#fff;
            line-height:24px;
            position: fixed;
            right: 20px;
            text-decoration:none;
            top: 15px;
            z-index:999;
            &:hover {text-decoration:none;}
        }
        
        .nav--hide {visibility:hidden;opacity:0;}
        
        nav:before{
            content: "";
            width: 100%;
            height: 100%;
            position: fixed;
            background: rgba(0, 0, 0, 0.7490196078431373);
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 500;
        }
        
        nav ul {
        width:calc(100% - 40px);
        float:none;
        clear:both;
        background:#fff;
        position:fixed;
        margin:0;
        left:20px;
        top:80px;
        right:0;
        z-index:9999;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(0,0,0,0.1)!important;
        
        li {
            width:100%;
            display:block;
            &.register {margin-left:0;width: calc(100% - 40px);margin: 20px auto;a{color:#fff;}}
            a {color:#333;display:block;padding:20px!important;border-bottom:1px solid #eee;text-align:center;}
            
        }
    }
}
}

@media only screen and (max-width: 640px) {
    body .plans {
        display:block!important;
        .plan {display:block!important;width:100%!important;margin-left:0!important;margin-bottom:20px;}
    }
    
    body .container > ul.top--features {display:block; li {width:100%;display:block;margin-left:0;margin-bottom:30px;padding:0; h4 img {display:none;}}}
    .container, form {width:100%!important;}
    header>div, body>#app>footer>div, .container {
        padding:0 20px;
    }
    body .rows {display:block;}
    body .rows .progression,
    body .rows .upgrade {
        width:100%!important;
    }
    body .container {
        .features {
            &>div {margin:40px 0;}
            ul {
                margin-top:0;
                li {width:100%;}
            }
        }
        .cta {
        margin-top:40px;
        margin-bottom:40px;
            .button {width:100%;padding:20px 0;}
        }
    }
    body #app > footer > div {
        display:block;
        &>div {display:block;width:100%;
        text-align:left!important;
            a {padding:20px 0;display:block;border-bottom:1px solid #eee;}
        }
    }
}