/* Colors */
$color-primary: #623e98;
$color-secondary: #523b7c;
$color-ternary: #9164b3;

/* Basics */
$color-white: #fff;
$color-light-grey: #e8e8e8;
$color-text-grey: #484848;

@mixin clearfix() {
    &::after {
        content: " ";
        clear: both;
        display: table;
    }
}