/* Colors */
$color-primary: #623e98;
$color-secondary: #523b7c;
$color-ternary: #9164b3;

/* Basics */
$color-white: #fff;
$color-light-grey: #e8e8e8;
$color-text-grey: #484848;

@mixin clearfix() {
    &::after {
        content: " ";
        clear: both;
        display: table;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translate(0px, 30px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate(-30px, 0px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate(30px, 0px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.fade-in {
    opacity: 0;

    &.from-bottom {
        animation: fadeInBottom ease-in-out 1;
        /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
        transform: translate(0px, 0px);
    }

    &.from-left {
        animation: fadeInLeft ease-in-out 1;
        /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
        transform: translate(0px, 0px);
    }

    &.from-right {
        animation: fadeInRight ease-in-out 1;
        /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
        transform: translate(0px, 0px);
    }

    &.delay-1 {animation-delay: .25s;}
    &.delay-2 {animation-delay: .5s;}
    &.delay-3 {animation-delay: .75s;}
    &.delay-4 {animation-delay: 1s;}
    &.delay-5 {animation-delay: 1.25s;}
}