/********************************************************************
 * This file only contains elements common to multiple SCSS files   *
 * /!\ IT MUST ONLY CONTAINS SCSS things, like variables and mixins *
 * No CSS here, otherwise it will be repeated on each files.        *
 ********************************************************************/

/* Colors */
$color-primary: #623e98;
$color-secondary: #523b7c;
$color-ternary: #9164b3;

$color-light-gradient: linear-gradient(180deg, #F3F0F8 0%, #FBFBFB 100%);

/* Basics */
$color-white: #fff;
$color-light-grey: #e8e8e8;
$color-text-grey: #484848;
$color-text-grey-secondary: #818181;

/* Mixins */
@mixin clearfix() {
    &::after {
        content: " ";
        clear: both;
        display: table;
    }
}

@mixin media-mobiles {
    @media screen and (max-width: 767px), screen and (max-width: 767px) {
        @content;
    }
}

@mixin media-tablets {
    @media screen and (min-width: 768px) and (max-width: 1024px), handheld and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin media-small {
    @media screen and (max-width: 1024px), handheld and (max-width: 1024px) {
        @content;
    }
}
