body.guides main .page {
    ul.listing li {
        display: block;
        margin: 20px 0 0 0;

        &:first-child {
            margin-top: 0;
        }

        a {
            font-weight: normal;
            display: block;
            padding: 20px;
            background-color: #eee;
            border: solid 1px #ddd;
            border-radius: 5px;

            font-size: 0.9em;
            font-style: italic;

            strong {
                font-weight: bold;
                font-size: 1.1em;
                font-style: normal;
            }
        }
    }

    h3 {
        margin-top: 60px;
    }

    code {
        background-color: #fafafa;
        border: solid 1px #e3e3e3;
        border-radius: 5px;

        &:not(.hljs) {
            padding: 5px;
            color: red;
            font-family: consolas;
        }

        &.hljs {
            margin: 20px 0;
            padding: 10px;
        }
    }

    .container-small p.small {
        @include clearfix();

        font-style: italic;
        margin: 80px 0 -40px;
        font-size: 1em;
    }
}