.home {
    #register label.checkbox {
        font-size: 0.9em;
        margin: 10px 0 10px 5px;
    }

    main>div {
        padding: 60px 0;
    }

    main h2 {
        text-align: center;
        color: #24272a;
        position: relative;
        margin: 0 0 60px;
        padding: 0 0 40px;

        &::after {
            content: "";
            position: absolute;
            border-top: 5px solid $color-ternary;
            border-radius: 5px;
            bottom: 0px;
            left: calc(50% - 50px);
            width: 100px;
            height: 0px;
        }

        &+.excerpt {
            margin-top: -20px;
            margin-bottom: 60px;
            letter-spacing: 1px;
        }
    }

    footer {
        background-color: #fff;
        border-top: none;
        margin-top: 0px;
    }
}

#brands ul {
    display: flex;
    justify-content: space-around;
    margin: 0;

    h2 small {
        display: block;
        font-size: 0.8em;
        font-style: italic;
    }

    li img {
        width: 150px;
    }
}

#try-me {
    box-sizing: border-box;
    border-top: solid 1px $color-light-grey;
    background-color: #fbfbfb;

    .container {
        width: 600px;
        text-align: center;

        form {
            >p.error {
                height: 0;
                font-weight: bold;
                transition: height 250ms ease-in-out;
            }

            &.error {
                >p.error {
                    height: 25px;
                    display: block;
                    color: #dc3545;
                    font-style: italic;
                }

                >input:first-child {
                    border-color: #dc3545;
                }
            }

            >div {
                margin-bottom: 40px;
            }

            input[type="url"] {
                background-color: $color-white;
                border: solid 2px fade-out($color-ternary, 0.5);
                color: rgba(5, 5, 5, 0.5);
                padding: 30px;
                text-align: center;
                font-size: 1.2em;
                font-family: Sailec-Regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
                transition: color 250ms ease-in-out, border-color 250ms ease-in-out;

                &:focus {
                    border-color: $color-ternary;
                    color: #555;
                }
            }

            .options {
                margin-top: 40px;
                display: flex;
                justify-content: space-around;

                &:first-child {
                    border-right: solid 1px $color-light-grey;
                }

                .radio {
                    margin: 0;
                    padding: 0.5rem 10px 0.5rem;
                    position: relative;
                    text-align: center;

                    input[type="radio"] {
                        position: absolute;
                        margin: 10px;
                        opacity: 0;

                        + label:before {
                            content: '';
                            background: $color-white;
                            border-radius: 100%;
                            border: 1px solid #dfdfdf;
                            display: inline-block;
                            width: 1em;
                            height: 1em;
                            top: 0.25em;
                            position: relative;
                            margin-right: 0.4em;
                            vertical-align: top;
                            cursor: pointer;
                            text-align: center;
                            transition: all 250ms ease;
                        }
                        &:checked + label:before {
                            background-color: $color-ternary;
                            border: 1px solid $color-ternary;
                            box-shadow: inset 0 0 0 2px $color-white;
                        }
                        &:focus + label:before {
                            outline: none;
                            border-color: $color-ternary;
                        }
                        &:disabled + label:before {
                            box-shadow: inset 0 0 0 4px $color-ternary;
                            border-color: darken($color-ternary, 25%);
                            background: darken($color-ternary, 25%);
                        }
                        + label:empty:before {
                            margin-right: 0;
                        }
                    }

                    label {
                        color: #999;
                        font-weight: 500;
                        cursor: pointer;
                    }

                    input:checked + label {
                        font-weight: 800;
                        color: #555;
                    }
                }
            }

            .css {
                a {
                    color: #a1a1a1;
                    font-size: 20px;
                    font-weight: bold;
                    border-bottom: solid 1px transparent;

                    &:hover {
                        border-bottom-color: #a1a1a1;
                    }
                }

                >div {
                    width: 100%;
                    height: 0;
                    opacity: 0;
                    transition: opacity 250ms ease-in-out, height 250ms ease-in-out;
                    margin: 10px 0 0;

                    &.visible {
                        height: 100px;
                        opacity: 1;
                    }

                    textarea {
                        height: 100%;
                        max-height: 100%;
                        width: 100%;
                        color: #555
                    }
                }
            }

            .button.button-disabled {
                opacity: 0.7;
                cursor: default;
            }
        }
    }
}

#numbers {
    background-color: #192638;
    color: $color-white;

    h2 {
        color: $color-white;
    }

    ul {
        margin: 80px 0 0;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;

        >li {
            text-align: center;

            h5 {
                font-size: 2rem;
                color: $color-white;
                margin: 20px 0 10px;
            }

            svg {
                fill: #fbfbfb;
                width: 64px;
            }

            span {
                color: rgba(141, 147, 155, 0.8);
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

    }
}

#code {
    background-color: $color-white;

    .row {
        .nine {
            border: solid 1px $color-light-grey;
            border-radius: 5px;

            &>div {
                padding: 20px;
                &>div {
                    display: none;
                    position: relative;

                    pre>code {
                        font-family: monospace;
                        font-size: 1rem;
                    }

                    pre {
                        overflow: auto;
                    }

                    &.visible {
                        display: block;
                    }

                    .copy {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: inline-block;
                        text-align: right;
                        margin: 0;
                        a {
                            background-color: $color-light-grey;
                            color: $color-text-grey;
                            opacity: 0.5;
                            transition: opacity 250ms ease-in-out;
                            padding: 10px 30px;
                            font-style: italic;

                            &.button-disabled {
                                opacity: 0.5 !important;
                                cursor: default;
                            }

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .three {
            ul {
                margin: 0 0 0 40px;
                padding: 0;

                >li {
                    padding: 0;
                    margin: 5px 0;

                    a {
                        outline: none;
                        padding: 10px 20px;
                        font-weight: bold;
                        background-color: $color-white;
                        color: #9d9d9d;
                        border-radius: 5px;
                        display: block;
                        transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
                        border-bottom: none;

                        &:hover {
                            background-color: fade-out(lighten($color-ternary, 20%), .7);
                            color: lighten($color-ternary, 10%);
                        }
                    }

                    &.selected>a {
                        background-color: fade-out($color-ternary, .7);
                        color: $color-ternary;
                    }
                }
            }

            @include clearfix();

            &>a {
                display: block;
                margin: 0px 0 0 40px;
                padding: 10px 20px;
            }
        }
    }
}


#features {
    border-top: solid 1px $color-light-grey;
    background-color: #fbfbfb;
    box-sizing: border-box;

    .column {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 0;
        display: flex;

        &:last-child {
            margin-right: 0;
        }

        >div {
            padding: 10px;
            margin: 0;
            display: flex;
            align-items: center;
            background-color: #fff;
            border: solid 1px $color-light-grey;
            border-radius: 5px;

            >svg {
                flex: 0 0 25%;
                height: 50px;
                fill: #484848;
            }

            >div {
                text-align: left;
                padding: 20px 20px 20px 0;

                flex: 1 1 75%;

                h5 {
                    font-size: 1.2em;
                    color: $color-text-grey;
                    margin: 0 0 10px;
                    padding: 0;
                }

                p {
                    margin: 0;
                    padding: 0;
                    line-height: 1.2em;
                    color: #7e7e7e;
                }
            }
        }
    }

    .container {
        text-align: center;
        >a {
            display: inline-block;
            margin: 40px 0 0;
        }
    }
}

#testimonials {
    border-top: solid 1px #e7e7e7;

    .container>div {
        position: relative;

        >a {
            position: absolute;
            top: 180px;
            display: block;
            width: 48px;
            height: 48px;
            outline: none;
            border-bottom: none;

            &>svg {
                width: 48px;
                fill: $color-light-grey;
                transition: fill 250ms ease-in-out;
            }

            &.button-disabled {
                cursor: default;
                &:hover>svg {
                    fill: $color-light-grey;
                }
            }

            &:hover>svg {
                fill: $color-text-grey;
            }

            &:first-child {
                z-index: 100;
                left: -150px;
            }
            &:last-child {
                z-index: 100;
                right: -150px;
            }

            @media all and (max-width: 1500px) {

                &:first-child {
                    left: -20px;
                }
                &:last-child {
                    right: -20px;
                }

            }
        }
    }

    ul {
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
        display: flex;

        >li {
            box-sizing: border-box;
            flex: 0 0 280px;
            
            border: solid 1px #ececec;
            box-shadow: 0 0 0 0 #f2f2f2;
            background-color: #fbfbfb;
            border-radius: 5px;
            padding: 40px 20px;
            margin: 0 10px;
            text-align: center;
            transition: transform 500ms ease-in-out;

            img {
                width: 96px;
                border: solid 1px $color-light-grey;
                border-radius: 5px;
                text-align: center;
                margin-bottom: 15px;
            }

            strong {
                color: $color-text-grey;
                font-weight: bold;
                display: block;
            }

            &>a {
                display: inline-block;
            }

            a {
                color: $color-primary;
                font-size: 0.9em;
                font-weight: bold;
            }

            p {
                color: #999;
                font-weight: 600;
                font-size: 0.8em;
                padding: 0;
            }
        }
    }
}

#pricing {
    background-color: #fbfbfb;
    text-align: center;
    box-sizing: border-box;

    .column {
        margin-right: 20px;
        margin-left: 0;
        border: solid 1px $color-light-grey;
        background-color: $color-white;
        border-radius: 5px;
        transition: border 250ms ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            border-color: $color-ternary;
        }

        >div {
            padding: 20px 20px 0 20px;
            text-align: center;
            flex-grow: 1;
        
            svg {
                width: 80px;
            }

            h4 {
                color: #24272a;
                font-size: 1.8em;
                margin: 20px 0;
            }

            .price {
                color: $color-ternary;
                font-weight: bold;
                font-size: 2em;
                margin: 0;

                small {
                    font-size: 0.6em;
                }
            }

            ul {
                color: #a2a2a2;
                margin: 40px 0;

                strong {
                    font-weight: bold;
                }

                li {margin: 10px 0}
            }

            p {
                margin: 60px 0;
                color: #888;
            }
        }

        a.button {
            margin-top: auto;
            display: inline-block;
            margin-bottom: 20px;
        }
    }

    .free-plan {
        margin: 40px 0;
        color: #626262;
        font-style: italic;
    }
}