body.press main {
    padding-top: 100px;

    .container {
        text-align: left;
        h1 {
            margin: 0 0 20px;
            font-weight: 400;
            color: $color-primary;
        }

        p.excerpt {
            text-align: left;
            color: $color-text-grey;
            font-size: 1.2em;
            letter-spacing: 0;
        }

        .details {
            text-align: justify;

            h2 {
                color: lighten($color-primary, 10%);
            }

            p {
                letter-spacing: 0;
                line-height: 33px;
            }

            ul li {
                display: flex;
                align-items: center;
                margin: 10px 0;
                text-align: left;
                padding: 5px 10px;

                img {
                    margin: 0;
                    text-align: left;
                }

                span {
                    margin-left: 40px;
                }
            }

            &.logos ul img {
                width: 256px;
                min-width: 256px;
            }

            &.icons ul { 
                li {
                    img {
                        width: 64px;
                        min-width: 64px;
                    }
                }
            }

            &.banners ul li img {
                width: 512px;
                min-width: 512px;
            }
        }

        address {
            padding: 40px 60px;
        }

        .downloads>div {
            border: solid 1px $color-light-grey;
            border-radius: 5px;

            &>div {
                border-top: solid 1px $color-light-grey;

                &:first-child {
                    border-top: none;
                }
            }

            h4 {
                padding: 0;
                margin: 0;
                font-weight: 200;
                font-size: 1.2em;
                color: lighten($color-text-grey, 20%);
                padding: 20px 20px 0;
            }

            ul {
                padding: 40px 20px;
                margin: 0;

                li {
                    font-weight: bold;
                    letter-spacing: 2px;
                    padding: 5px 0;

                    a {
                        font-weight: normal;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}