body {
    min-width: 325px;
}

// handled
@media all and (max-width: 767px) {
    .container, .container-small {
        width: 100%;
        max-width: 100%;
    }

    .row {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .row .column.one,
    .row .column.two,
    .row .column.three,
    .row .column.four,
    .row .column.five,
    .row .column.six,
    .row .column.seven,
    .row .column.eight,
    .row .column.nine,
    .row .column.ten,
    .row .column.eleven,
    .row .column.twelve {
        flex: 0 0 100%;
        max-width: 100%
    }

    footer {
        .row {
            display: block !important;
            text-align: center;
        }
        
        .disclaimer ul {
            li {
                display: block !important;
                text-align: center;
            }
        }
    }

    #try-me {
        form>.row {
            .options {
                flex: 1 0 100% !important;
                margin-top: 20px !important;
                &:first-child {
                    margin-top: 0 !important;
                }

                .radio {
                    text-align: center !important;
                }
            }

        }
    }

    #brands ul {
        display: block;

        li {
            display: block;
            text-align: center;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }

            img {
                width: 50% !important;
            }
        }
    }

    #numbers {
        ul {
            display: block !important;
            margin: 30px 0 0;

            &>li {
                margin: 30px 0 0 0 !important;

                &:first-child {
                    margin-top: 0 !important;
                }
            }
        }
    }

    #code {
        .code-section {
            pre {
                padding-top: 50px;
            }

            .copy {
                left: 0;
                text-align: center !important;
            }
        }
    }
}

// tablets
@media all and (min-width: 768px) and (max-width: 1024px) {
    .container, .container-small {
        width: 100%;
        max-width: 800px;
    }

    .row {
        display: block;
        width: 100%;
    }

    .row .column,
    .row .column.one,
    .row .column.two,
    .row .column.three,
    .row .column.four,
    .row .column.five,
    .row .column.six,
    .row .column.seven,
    .row .column.eight,
    .row .column.nine,
    .row .column.ten,
    .row .column.eleven,
    .row .column.twelve {
        flex: 0 0 100%; max-width: 100%
    }
}


// small screen
@media all and (max-width: 1024px) {
    .row {
        .offset-one, .offset-two, .offset-three, .offset-four, .offset-five, .offset-six, .offset-seven, .offset-eight, .offset-nine, .offset-ten, .offset-eleven {
            margin-left: 0;
        }
    }
    // Global
    /*
    XXX Doesn't work !
    &.from-right {
        animation: fadeInLeft ease-in-out 1 !important;
    }
    */

    table {
        display: block;
        width: 100%;

        .button, .label {
            white-space: nowrap
        }
    }


    // general
    header {
        .heading {
            div.column {
                margin: 0 !important;
            }

            .accordion-menu {
                display: block !important;
                position: absolute;
                width: 45px;
                height: 35px;
                top: 20px;
                left: 20px;
                border: 2px solid #fff;
                border-radius: 5px;
            }

            .brand {
                margin-top: 0 !important;
                padding: 5px 0;
                text-align: center;
            }

            #header-main-menu, #header-main-cta {
                display: none;
                opacity: 0;
                text-align: center;
                margin: 0 0 20px;
        
                &.visible {
                    display: block;
                    opacity: 1;
                    animation: fadeInFromNone 0.25s ease-in-out;
                }
            }
        
            #header-main-menu {
                li, a {
                    display: block;
                }
            }
        }

        .hero>div {
            padding: 20px;
            width: 100%;
            text-align: center;
            margin: 20px 0 0;

            &>.column>div {
                padding: 0;
            }

            h1 {
                width: 100%;
                text-align: center;
            }

            p a {
                margin-bottom: 20px;
            }
        }
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;

        .row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .column {
                margin-top: 40px;
                flex: 1 0 45% !important;

                &:first-child {
                    margin-top: 0;
                    flex: 1 0 98% !important;
                }
            }
        }

        .disclaimer {
            display: block !important;
            margin-bottom: 0;

            .three {
                margin-top: 20px;
            }

            ul {
                margin: 0;
                padding: 0;

                text-align: left !important;
                li {
                    padding: 0;
                    margin: 0 0 0 20px !important;
                    display: inline-block;

                    &:first-child {
                        margin: 0 !important;
                    }
                }
            }
        }
    }

    *, *:before, *:after {box-sizing:border-box;}

    // Home
    body.home main>div {
        padding-left: 20px;
        padding-right: 20px;
    }

    body main .container-small {
        padding-left: 20px;
        padding-right: 20px;
    }

    #try-me {
        .container {
            width: 100%;
        }

        form>.row {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px !important;

            .options {
                margin-top: 0;
                display: block;
                flex: 1 0 40%;

                &:first-child {
                    border-right: none !important;
                }

                .radio {
                    text-align: left;
                }
            }
        }

        form .button {
            font-size: 1em;
            margin: 0;
        }
    }

    #brands ul li {
        text-align: center;

        img {
            width: 75%;
        }
    }

    #numbers {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 30px 0 0;

            &>li {
                display: block;
                flex: 1 0 45%;
                min-height: 167px;
                margin-bottom: 30px;
            }
        }
    }

    #code {
        .row .three {
            ul {
                margin: 0px;
            }

            &>a {
                margin: 20px 0 0;
            }
        }
    }

    #features .column>div {
        width: 100%;
    }

    #testimonials {
        ul {
            padding: 0 50px;
        }

        .container>div>a:last-child {
            right: 10px;
            top: 180px;
        }
    }

    #pricing {
        .column {
            margin: 20px 0;
            padding: 20px 0;
            display: inline-block;
            width: 100%;
            max-width: 480px;
        }
    }

    // pricing
    #pricing-details {
        .pricing {
            .container {
                width: 100%;
                overflow: scroll;

                thead th {
                    padding: 5px 0;
                }

                tbody tr>td {
                    padding: 5px 0;
                }
            }
        }

        #faq .row {
            .column:first-child {
                padding-right: 0px;
            }

            .column:last-child {
                padding-left: 0px;
            }
        }
    }

    // enterprise:
    body.enterprise {
        header .hero, main .actions {
            background-position: top center !important;

            .cta a {
                padding: 20px 50px !important;
            }

            h3 {
                margin-top: 0;
            }

            p>br {
                display: none;
            }
        }

        main .actions {
            padding: 60px 20px;
            .cta {
                margin-bottom: 0;
            }
        }
    }

    // press
    body.press main {
        padding-left: 20px;
        padding-right: 20px;

        .container .details {
            &.logos ul li {
                margin-top: 40px;
                display: block;
                text-align: center;

                &:first-child {
                    margin-top: 0;
                }

                img {
                    width: 80%;
                }

                span {
                    margin: 0;
                    display: block;
                }
            }

            &.banners ul {
                li {
                    display: block;
                    text-align: center;

                    img {
                        width: 100%;
                    }

                    span {
                        margin: 0;
                        display: block;
                    }
                }
            }

        }
    }

    body.unified>div {
        padding-bottom: 20px !important;

        main>div {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    // Guides
    body.guides {
        main>div {
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
                text-align: center;
                font-size: 2.5rem;
            }

            h2 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1.8rem;
            }

            ul li a {
                text-align: center;
            }
        }

        footer {
            margin-top: 20px;
        }
    }
}

// Wide screens
@media all and (min-width: 1024px) and (max-width: 1250px) {
    .container {
        width: 900px;
    }
}
