$purple-shadow: 0px 8px 25px rgba(130, 96, 182, 0.15);

.testimonials__list {
    margin: 3em auto;
    max-width: 40em;
    
    &--item {
        display: flex;
        flex-direction: row;
        margin: 2em 0;
    }

    &--avatar {
        border-radius: 50%;
        height: 4em;
        width: 4em;
    }

    &--quote {
        border: solid 1px $color-light-grey;
        box-shadow: $purple-shadow;
        display: block;
        position: relative;
        width: 100%;
        border-radius: 5px;
        background-image: url('/static/images/testimonials/quote-left.svg');
        background-repeat: no-repeat;
        background-position: 1.5em 1.5em;
        padding: 1.5em 1.5em 1.5em 4.5em;
        margin-left: 1.5em;

        &:before {
            content: "";
            display: block;
            height: 0.8em;
            width: 0.8em;
            position: absolute;
            top: 1.7em;
            left: -0.5em;
            background: $color-white;
            border-right: 1px solid $color-light-grey;
            border-bottom: 1px solid $color-light-grey;
            transform:rotate(135deg);
            -moz-transform:rotate(135deg);
            -webkit-transform:rotate(135deg);
        }

        blockquote {
            color: $color-text-grey;
            font-weight: 600;
            font-size: 1.1em;
            margin: 0 auto 0.5em;
            line-height: 1.7;
        }
    }

    &--details {
        display: flex;
        flex-direction: row;
    }

    &--author {
        font-size: 0.9em;
        font-weight: 600;
        color: $color-grey;
    }

    &--stars {
        margin-left: 0.6em;
        padding-top: 2px;
        svg {
            width: 1em;
            height: 1em;
            fill: #ffca00;
        }

    }
    @include media-mobiles {
        &--item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--quote {
            margin-left: 0;
            margin-top: 1em;
            &:before {
                top: -0.4em;
                left: 48%;
                transform:rotate(-135deg);
                -moz-transform:rotate(-135deg);
                -webkit-transform:rotate(-135deg);
            }
        }
    }
}

.review__sites {
    margin: 4em 0 2em;

    &--logo svg {
        height: 60px;
        max-width: 200px;
    }

    &--stars {
        margin: 10px 0;
        svg {
            width: 24px;
            height: 24px;
            fill: #ffca00;
        }
    }

    &--text {
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 0.9em;
        &:after {
            content: "";
            background-image: url('/static/images/testimonials/angle-right.svg');
            display: inline-block;
            width: 1em;
            height: 0.7em;
            background-repeat: no-repeat;
            background-position: center center;
            margin-left: 0.5em;
        }
    }

    &--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-bottom: 0;
        filter: grayscale(25%);
        transition: all 200ms ease-in-out;
        color: $color-text-grey-secondary;
        flex: 1;
        padding: 1em;
        margin: 2em 0;

        &:hover {
            text-decoration: none;
            filter: grayscale(0);
            color: $color-primary;

            .review__sites--text:after {
                background-image: url('/static/images/testimonials/angle-right-purple.svg');
            }
        }
    }
}
