@import '_common';
@import '_animations';


.landing {
    a {
        border-color: transparent;
    }

    &-hero {
        margin-bottom: -100px;
        &__text {
            text-align: center;
            margin: 40px auto 80px;

            h1 {
                text-align: center;
                font-size: 3em;
                margin: 0 0 40px;
                line-height: 1.25em;
            }

            p {
                font-size: 20px;
                margin: 10px 0;
                opacity: 0.8;
            }

            .actions {
                margin-top: 60px;

                .button {
                    text-transform: uppercase;
                    text-decoration: none;
                    background-color: $color-white;
                    color: $color-primary;
                    border-radius: 0;
                    padding-left: 80px;
                    padding-right: 80px;

                    border: 1px solid transparent;
                    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
                    outline: 1px solid;
                    outline-color: rgba(255, 255, 255, .5);
                    outline-offset: 0px;
                    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

                    &:hover {
                        border: 1px solid  $color-white;
                        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
                        outline-color: rgba(255, 255, 255, 0);
                        outline-offset: 15px;
                    }
                }
            }
        }

        &__code-section {
            display: flex;
            align-content: center;
            flex-direction: column;
            background-color: $color-white;
            border-radius: 5px;
            padding: 20px;
            margin: 0 auto;
            width: 760px;
            box-shadow: 0 8px 25px fade-out($color-primary, 0.6);

            .landing-hero__title {
                display: flex;
                flex-direction: row;

                h3 {
                    display: inline-block;
                    color: $color-text-grey;
                    font-size: 1.3em;
                    font-weight: normal;
                    margin: 0 0 0 0.5em;
                }
            }
        }

        &__code {
            background-color: $color-white;
            border-radius: 5px;
            padding-top: 20px;
            position: relative;

            pre {
                overflow: auto;
                border: solid 1px $color-light-grey;
                border-radius: 5px;
            }

            pre>code {
                font-family: monospace;
                font-size: 0.75em;
                background-color: rgba($color-light-grey, 0.2);
                padding-left: 2em;
            }
        }

        &__copy {
            position: absolute;
            top: 30px;
            right: 15px;
            width: 48px;
            height: 48px;

            a {
                height: 100%;
                width: 100%;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;

                svg {
                    margin: 0 auto;
                    transition: fill ease-in-out 250ms;
                    width: 20px;
                    fill: $color-primary;
                }

                &:hover svg {
                    fill: $color-white;
                }
            }
        }

    }
}

// #f6f9fc

#brands {
    margin: 180px 0 40px;
    padding: 0 0 40px;

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        h2 small {
            display: block;
            font-size: 0.8em;
            font-style: italic;
        }

        li img {
            width: 150px;
        }
    }
}

#code-samples {
    margin: 0;
    padding: 60px 0;
    background-color: #fbfbfb;
    border-top: solid 1px darken(#fbfbfb, 10);
}


#testimonials {
    margin: 0;
    padding: 60px 0;

    h2 {
        margin: 0 0 10px;
        text-align: center;
        color: #444;
        span {
            font-weight: bold;
            text-decoration: underline;
            color: lighten($color-primary, 15);
        }
    }

    @import '_testimonials';
}