@import '_common';

body.guides {
    background-color: #f8f9fa;
}

body.guides main .page {
    ul.listing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;

        li {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            flex: 0 0 32%;
            width: 32%;
            max-width: 32%;
            margin-bottom: 20px;

            font-weight: normal;
            padding: 40px;

            background-color: #fff;
            border: solid 1px #ddd;
            border-radius: 5px;

            img {
                display: block;
                max-height: 75px;
                max-width: 80%;
                margin: 0;
            }

            h3 {
                color: #434c54;
                margin: 20px 0;
                font-size: 1rem;
            }

            a {
                font-size: 0.85rem;
                text-decoration: none;
                border: none;

                &:first-of-type {
                    margin-bottom: 20px;
                }
            }

            a.button {
                font-size: 0.85em;
                padding: 10px 20px;
                margin: auto 0 0;
                font-size: 0.85rem;
                text-decoration: none;
                border: none;
                text-align: center;
            }
        }
    }

    h3 {
        margin-top: 60px;
    }

    code {
        background-color: #fff;
        border: solid 1px #e3e3e3;
        border-radius: 5px;
        font-family: monospace;

        &:not(.hljs) {
            padding: 5px;
            color: red;
            font-family: monospace;
        }

        &.hljs {
            margin: 20px 0;
            padding: 20px;
            font-size: 0.85rem;
        }
    }

    .container-small p.small {
        @include clearfix();

        font-style: italic;
        margin: 80px 0 -40px;
        font-size: 1em;
    }
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~ Responsive ~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@include media-small {
    body.guides {
        main>div {
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
                text-align: center;
                font-size: 2.5rem;
            }

            h2 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1.8rem;
            }

            ul li a {
                text-align: center;
            }
        }

        footer {
            margin-top: 20px;
        }
    }
}