@import '_common';

$purple-shadow: 0px 8px 25px rgba(130, 96, 182, 0.15);

.guides {
    background-color: rgba($color-light-grey, 0.2);
    color: $color-text-grey;
    padding: 4em 0;
    line-height: 1.8;
    margin-bottom: -100px;
    p {
        line-height: inherit;
    }
    &__breadcrumbs {
        list-style: none;
        color: $color-text-grey;
        font-size: 0.9em;
        font-weight: 500;
        margin: -2em 0 4em;
        li {
            display: inline-block;
            margin-left: 0 !important;
            margin-right: 1em !important;
            a {
                color: $color-grey;
                border-bottom-width: 0;
                font-weight: 500;
            }

            &:not(:last-child) {
                &:after {
                    content: "";
                    display: inline-block;
                    width: 0.7em;
                    height: 0.7em;
                    background-image: url('/static/images/press/angle-right.svg');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-left: 1em;
                    
                }
            }
        }
    }
    &__heading {
        color: $color-black !important;
        margin: 0.5em 0 !important;
        font-size: 2.4em;
        font-weight: 600 !important;
    }
    &__cards {
        margin-top: 2em;
    }
    &__card {
        border: 1px solid $color-light-grey;
        border-radius: 5px;
        margin: 1.5em;
        box-shadow: $purple-shadow;
        background-color: $color-white;
        padding: 1.5em 1.5em 3.5em;
        display: inline-block;
        position: relative;
        transition: all 150ms ease-in-out;
        color: $color-black;
        font-weight: 300;
        &:hover {
            transform: scale(1.05);
            border-color: $color-primary;
        }
        &__img {
            margin: 2em;
            text-align: center;
        }
    }
    &__more {
        color: $color-primary;
        position: absolute;
        bottom: 1em;
        font-weight: 500;
        &:after {
            content: url('/static/images/guides/arrow-right-purple.svg');
            position: absolute;
            margin-left: 0.5em;
            top: 0.1em;
        }
    }
}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~ Responsive ~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@include media-tablets {
    .guides {
        padding: 2em 1em;
        &__card {
            display: flex;
            align-content: center;
            align-items: center;
            padding: 1em;
            &__img {
                min-width: 150px;
            }
            p {
                margin: 1em 0;
            }
            &:hover {
                transform: scale(1);
            }
        }
        &__more {
            right: 2.5em;
        }
    }
}

@include media-mobiles {
    .guides {
        padding: 2em 1em;
        &__heading {
            margin: 0.5em 0 !important;
        }
        &__breadcrumbs {
            margin: 0 0 2em;
        }
        &__card {
            margin: 0.5em;
            &:hover {
                transform: scale(1);
            }
        }
    }
}
