@import '_common';

$purple-shadow: 0px 8px 25px rgba(130, 96, 182, 0.15);

.press {
    color: $color-text-grey;
    padding: 4em 0;
    line-height: 1.8;
    p {
        line-height: inherit;
    }
    &--grey {
        background-color: rgba($color-light-grey, 0.2);
    }
    &__breadcrumbs {
        list-style: none;
        color: $color-text-grey;
        font-size: 0.9em;
        font-weight: 500;
        margin: -2em 0 4em;
        li {
            display: inline-block;
            margin-left: 0 !important;
            margin-right: 1em !important;
            a {
                color: $color-grey;
                border-bottom-width: 0;
                font-weight: 500;
            }

            &:not(:last-child) {
                &:after {
                    content: "";
                    display: inline-block;
                    width: 0.7em;
                    height: 0.7em;
                    background-image: url('/static/images/press/angle-right.svg');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-left: 1em;
                    
                }
            }
        }
    }
    &__heading {
        color: $color-black !important;
        margin: 1em 0 !important;
        font-size: 2.4em;
        font-weight: 600 !important;
    }
    &__button {
        margin: 3em 0 !important;
        padding: 1em 4em !important;
        text-transform: uppercase;
        background-image: url('/static/images/press/download-purple.svg');
        background-repeat: no-repeat;
        background-position-x: 94%;
        background-position-y: 50%;
        font-size: 0.8em;
        &:hover {
            background-image: url('/static/images/press/download-white.svg');
        }
    }
    &__cards {
        margin-top: 3em;
    }
    &__card {
        border: 1px solid $color-light-grey;
        border-radius: 5px;
        margin: 1em;
        box-shadow: $purple-shadow;
        background-color: $color-white;
        &__img {
            height: 180px;
            display: block;
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: rgba($color-light-grey, 0.2);

            &--logo {
                background-image: url('/static/images/logo/logo-violet.png');
            }
            &--icons {
                background-image: url('/static/images/press/icons.png');
            }
            &--banners {
                background-image: url('/static/images/banner/slogan.png');
                background-size: cover;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        &__text {
            padding: 2em;
            h4 {
                font-size: 1.3rem;
                color: $color-black;
                font-weight: 600;
                margin: 0 0 1em;
            }
        }
        &__list {
            margin: 1em 0 0;
            li {
                line-height: 2em;
            }
        }
    }
    &__address {
        font-weight: 500;
        padding: 0 1em;
        margin: 1em 0;
        border-left: 3px solid $color-ternary;
        line-height: 1.8;
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~ Responsive ~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@include media-tablets {
    .press {
        padding: 2em 1em;
        &__card {
            display: flex;
            min-height: 280px;
            &__img {
                width: 300px;
                height: auto;
                border-top-right-radius: 0;
                border-bottom-left-radius: 5px;
            }
        }
    }
}

@include media-mobiles {
    .press {
        padding: 2em 1em;
        &__heading {
            margin: 0.5em 0 !important;
        }
        &__button {
            font-size: 0.8em !important;
            padding: 1em !important;
            width: 100%;
            text-align: center;
            background-position-x: 96%;
        }
        &__breadcrumbs {
            margin: 0 0 2em;
        }
        &__cards {
            margin-top: 1em;
        }
    }
}
