@import '_common';
@import '_pricing.scss';

.pricing-details .hero {
    text-align: center;

    h1 {
        text-align: center;
    }
}


#pricing-details {
    margin-top: 60px;

    #pricing {
        table {
            background-color: #fff;
            width: 100%;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
            border-collapse: collapse;
            border-style: hidden;
            border-radius: 5px;
        }

        tr, td, th {
            margin: 0;
            padding: 0;
        }

        thead th {
            text-align: center;
            background-color: lighten($color-primary, 10%);
            color: #fff;
            font-weight: 500;
            padding: 20px 0;
            border: solid 1px #fff;

            &:first-child {
                border-radius: 5px 0 0 0;
                width: 275px;
            }

            &:last-child {
                border-radius: 0 5px 0 0;
            }

            svg {
                width: 80px;
                margin: 0;
                padding: 0;
            }

            h4 {
                margin-top: 0;
                padding-top: 0;
            }
        }

        tbody {
            tr>td {
                text-align: center;
                padding: 20px;
                border: solid 1px #ccc;
                vertical-align: middle;

                sup {
                    vertical-align: super;
                    font-size: 0.8em;
                }

                &.key {
                    text-align: left;
                    font-weight: 500;
                    font-size: 0.9em;
                    background-color: #fbfbfb;

                    small {
                        font-weight: 400;
                        font-size: 0.8em;
                    }
                }

                &.yes {
                    background: url("/static/images/checkmark.svg") no-repeat center center;
                }
            }

            tr:last-child {
                td:first-child {
                    border-radius: 0 0 0 5px;
                }

                td:last-child {
                    border-radius: 0 0 5px 0;
                }
            }

            .separator {
                td {
                    background-color: #fff;
                    text-align: left;
                    font-weight: 500;
                }
            }

            .ctas td {
                padding: 20px 10px;

                a.button {
                    padding: 10px 20px;
                }
            }
        }
    }

    #faq {
        h3 {
            text-align: center;
            margin: 80px 0 80px;
            color: lighten($color-primary, 20%);
        }

        .row {
            margin-top: 40px;

            h4 {
                color: lighten($color-primary, 30%);
            }

            .column:first-child {
                padding-right: 40px;
            }

            .column:last-child {
                padding-left: 40px;
            }

            p {
                text-align: justify;
                color: $color-text-grey;
                font-size: 0.9em;
            }
        }

        .cta {
            text-align: center;
            margin: 80px 0 0;
        }
    }
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~ Responsive ~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// small screen
@include media-small {
    #pricing-details {
        #faq .row {
            .column:first-child {
                padding-right: 0px;
            }

            .column:last-child {
                padding-left: 0px;
            }
        }
    }
}